html
	include modules/head.jade
	body
		.main-menu
			div.line-block
				.big-lines
				.big-lines
				.big-lines
					div.circle
						span
				.little-lines
					span + 
				.little-lines
					span +
			.container-fluid.menu-content
				.menu-list
					ul
						li
							a(href="#") ТЕХНИЧЕСКОЕ ЗАДАНИЕ
								span.blue-line
						li
							a(href="#") УСЛУГИ
								span.blue-line
						li
							a(href="#") ВИДЫ ТЕХНИКИ
								span.blue-line
						li
							a(href="#") СТАТЬИ И НОВОСТИ
								span.blue-line
						li
							a(href="#") КОНТАКТЫ
								span.blue-line
			.social
				a(href="#", target="_blank") VKONTAKTE
				a(href="#", target="_blank") facebook
				a(href="#", target="_blank") twitter
				a(href="#", target="_blank") instagram
		header.onWhite.no-index
			.container-r
				.row
					.col-lg-4.col-md-4.vcenter.header-logo
						img.logo(src="img/logoblack.svg", alt="")
					.col-lg-4.col-md-4.vcenter.center.header-text
						span.logo-text Автономные аэрокосмические системы
					.col-lg-4.col-md-4.col-sm-12.col-xs-12.vcenter.menu-block
						.menu.no-active
							.close-menu
								span.burger-bar
								span.burger-bar
								span.burger-bar
							.open-menu
								span.burger-bar
								span.burger-bar
				.downline
					.circle
						span
					.circle
						span
		.main-content
			.container-fluid
				.row
					.col-md-offset-1.col-md-10.col-xs-12
						ol.breadcrumb
							li
								a(href="#") Главная
							li
								a(href="#") Каталог
							li.active
								a(href="") Авионика
						h2.title Авионика
		.catalog-content
			a(href="https://artchipsa.github.io/AVAKS/subcatalog.html").item
				img(src="ap05_anim/1.png", alt="")
				span Системы автопилотирования
			a(href="https://artchipsa.github.io/AVAKS/subcatalog.html").item
				img(src="ap05_anim/1.png", alt="")
				span Радиосвязь БПЛА
		.catalog-text
			.container-fluid
				.line-block
					.big-lines
					.big-lines
					.little-lines
						span +
					.little-lines
						div.circle
							span
					.little-lines
						span +
					.diagonal-lines
				.row
					.col-md-6.col-md-offset-3
						h2.subtitle Наша компания комплексно реализует задачи по разработке интегрированных систем управления полетом беспилотных
						.catalog-text-item
							p Командой "АВАКС-ГеоСервис" создано несколько технических комплексов управления движением и системами связи БПЛА.
							p Ключевой особенностью построения БПЛА нашей разработки является внедрение элементов самодиагностики во все электронные узлы комплекса (см. #[a(href="#") статью по теме]): навигационные системы, регуляторы двигателей, сервоприводы, средства связи. Второй важной особенностью наших БПЛА является исключительное #[a(href="#") применение помехозащищённых интерфейсов] со специализированными протоколами, обнаруживающими ошибки, для связи автопилота со всеми электронными узлами комплекса. Наша команда занимается продвижением своих услуг по разработке элементов БПЛА, интеграции законченных комплексов под нужды заказчика.
						.catalog-text-item.special
							p Основа систем управления (САУ) наших БПЛА – это #[a(href="") автопилот собственной разработки АП-05.] Он построен на базе производительного ARM вычислителя и работает под управлением операционной системы реального времени (ОСРВ) QNX Neutrino (шифр МО РФ - КПДА.10964-01). Система функционирует в защищённом режиме работы памяти, что позволяет без угрозы нарушения безопасности внедрять пользовательское программное обеспечение в вычислитель. В совокупности с высокой производительностью это позволяет решать широкий круг задач без внедрения в систему дополнительных вычислительных ресурсов.
						.catalog-text-item
							p Исполнительные устройства САУ – сервоприводы собственной разработки СП-01. Ключевыми системотехническими особенностями которых являются: помехозащищённый полудуплексный интерфейс, встроенный вторичный источник питания от напряжений в диапазоне 9 до 40В, бесконтактный датчик обратной связи.Коллективом компании разработано приемо-передающее устройство для связи с наземным комплексом управления. Радиопередающий модуль высокоскоростной информации с программно определяемой архитектурой расширяет возможности в организации передачи данных полезной нагрузки в реальном времени. Адаптивное изменение параметров данного модуля позволяет получить оптимальную скорость передачи информации для конкретной задачи.
							p Ключевой особенностью построения БПЛА нашей разработки является внедрение элементов самодиагностики во все электронные узлы комплекса (см. #[a(href="#") статью по теме]): навигационные системы, регуляторы двигателей, сервоприводы, средства связи. Второй важной особенностью наших БПЛА является исключительное #[a(href="#") применение помехозащищённых интерфейсов] со специализированными протоколами, обнаруживающими ошибки, для связи автопилота со всеми электронными узлами комплекса. Наша команда занимается продвижением своих услуг по разработке элементов БПЛА, интеграции законченных комплексов под нужды заказчика.
						.highlight Решаем специальные задачи по техническому<br>заданию заказчика!
		.news-block
			.container-fluid
				.row
					.col-md-offset-1.col-md-10
						h2.title Статьи на эту тему
						.news-feed#frame
							ul.slidee
								li
									a.news-item(href="#")
										.time 1 мая 2016
										img(src="img/new1.jpg", alt="")
										.news-content
											h2.news-title международная авиационная конференция в москве 2016
											p Для того, чтобы нам лучше понять требования к заказу, желательно прислать нам его заранее для продуктивности
								li
									a.news-item(href="#")
										.time 1 мая 2016
										img(src="img/new1.jpg", alt="")
										.news-content
											h2.news-title международная авиационная конференция в москве 2016
											p Для того, чтобы нам лучше понять требования к заказу, желательно прислать нам его заранее для продуктивности
								li
									a.news-item(href="#")
										.time 1 мая 2016
										img(src="img/new1.jpg", alt="")
										.news-content
											h2.news-title международная авиационная конференция в москве 2016
											p Для того, чтобы нам лучше понять требования к заказу, желательно прислать нам его заранее для продуктивности
								li
									a.news-item(href="#")
										.time 1 мая 2016
										img(src="img/new1.jpg", alt="")
										.news-content
											h2.news-title международная авиационная конференция в москве 2016
											p Для того, чтобы нам лучше понять требования к заказу, желательно прислать нам его заранее для продуктивности
								li
									a.news-item(href="#")
										.time 1 мая 2016
										img(src="img/new1.jpg", alt="")
										.news-content
											h2.news-title международная авиационная конференция в москве 2016
											p Для того, чтобы нам лучше понять требования к заказу, желательно прислать нам его заранее для продуктивности
								li
									a.news-item(href="#")
										.time 1 мая 2016
										img(src="img/new1.jpg", alt="")
										.news-content
											h2.news-title международная авиационная конференция в москве 2016
											p Для того, чтобы нам лучше понять требования к заказу, желательно прислать нам его заранее для продуктивности
						.scrollbar
							.handle
		#map

		include modules/footer.jade