html
	include modules/head.jade
	body
		.main-menu
			div.line-block
				.big-lines
				.big-lines
				.big-lines
					div.circle
						span
				.little-lines
					span + 
				.little-lines
					span +
			.container-fluid.menu-content
				.menu-list
					ul
						li
							a(href="#") ТЕХНИЧЕСКОЕ ЗАДАНИЕ
								span.blue-line
						li
							a(href="#") УСЛУГИ
								span.blue-line
						li
							a(href="#") ВИДЫ ТЕХНИКИ
								span.blue-line
						li
							a(href="#") СТАТЬИ И НОВОСТИ
								span.blue-line
						li
							a(href="#") КОНТАКТЫ
								span.blue-line
			.social
				a(href="#", target="_blank") VKONTAKTE
				a(href="#", target="_blank") facebook
				a(href="#", target="_blank") twitter
				a(href="#", target="_blank") instagram
		header.onWhite.no-index
			.container-r
				.row
					.col-lg-4.col-md-4.vcenter.header-logo
						img.logo(src="img/logoblack.svg", alt="")
					.col-lg-4.col-md-4.vcenter.center.header-text
						span.logo-text Автономные аэрокосмические системы
					.col-lg-4.col-md-4.col-sm-12.col-xs-12.vcenter.menu-block
						.menu.no-active
							.close-menu
								span.burger-bar
								span.burger-bar
								span.burger-bar
							.open-menu
								span.burger-bar
								span.burger-bar
				.downline
					.circle
						span
					.circle
						span
		.main-content
			.container-fluid
				.row
					.col-md-offset-1.col-md-10.col-xs-12
						h2.title продукция
		.catalog-content
			a(href="https://artchipsa.github.io/AVAKS/catalog_lvl2.html").item
				img(src="ap05_anim/1.png", alt="")
				span БПЛА
			a(href="https://artchipsa.github.io/AVAKS/catalog_lvl2.html").item
				img(src="ap05_anim/1.png", alt="")
				span Авионика
			a(href="https://artchipsa.github.io/AVAKS/catalog_lvl2.html").item
				img(src="ap05_anim/1.png", alt="")
				span Двигатели
			a(href="https://artchipsa.github.io/AVAKS/catalog_lvl2.html").item
				img(src="ap05_anim/1.png", alt="")
				span Полезные нагрузки
		.news-block
			.container-fluid
				.row
					.col-md-offset-1.col-md-10
						h2.title Статьи на эту тему
						.news-feed#frame
							ul.slidee
								li
									a.news-item(href="#")
										.time 1 мая 2016
										img(src="img/new1.jpg", alt="")
										.news-content
											h2.news-title международная авиационная конференция в москве 2016
											p Для того, чтобы нам лучше понять требования к заказу, желательно прислать нам его заранее для продуктивности
								li
									a.news-item(href="#")
										.time 1 мая 2016
										img(src="img/new1.jpg", alt="")
										.news-content
											h2.news-title международная авиационная конференция в москве 2016
											p Для того, чтобы нам лучше понять требования к заказу, желательно прислать нам его заранее для продуктивности
								li
									a.news-item(href="#")
										.time 1 мая 2016
										img(src="img/new1.jpg", alt="")
										.news-content
											h2.news-title международная авиационная конференция в москве 2016
											p Для того, чтобы нам лучше понять требования к заказу, желательно прислать нам его заранее для продуктивности
								li
									a.news-item(href="#")
										.time 1 мая 2016
										img(src="img/new1.jpg", alt="")
										.news-content
											h2.news-title международная авиационная конференция в москве 2016
											p Для того, чтобы нам лучше понять требования к заказу, желательно прислать нам его заранее для продуктивности
								li
									a.news-item(href="#")
										.time 1 мая 2016
										img(src="img/new1.jpg", alt="")
										.news-content
											h2.news-title международная авиационная конференция в москве 2016
											p Для того, чтобы нам лучше понять требования к заказу, желательно прислать нам его заранее для продуктивности
								li
									a.news-item(href="#")
										.time 1 мая 2016
										img(src="img/new1.jpg", alt="")
										.news-content
											h2.news-title международная авиационная конференция в москве 2016
											p Для того, чтобы нам лучше понять требования к заказу, желательно прислать нам его заранее для продуктивности
						.scrollbar
							.handle
		#map

		include modules/footer.jade