.catalog-list
	.catalog__item
		.specials
			.special-item.percent
				svg(viewBox="0 0 100 100", class="svgico percent")
					use(xlink:href="#red")
		.functions
			a(href="").comparison
				svg(viewBox="0 0 100 100", class="svgico comparison")
					use(xlink:href="#comparison")
			a(href="").like
				svg(viewBox="0 0 100 100", class="svgico like like-gray")
					use(xlink:href="#like")
		.item__head
			img(src="img/card_img.jpg", alt="")
			.item__name Sony Alpha A5100 kit 16-50мм PZ Brown
			.item__price
				.old-price #[span 54 990] .–
				.actual-price 141 990 .–
		.item__bonuce
			a(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Бонусная программа" data-placement="top" data-content="Какой-то поясняющий текст про супер бонусы. Вау!") Бонусов: #[span 1280]
		.item__buy
			a(href="").btn.primary-btn в корзину
			a(href="").dotted-link Купить в один клик
	.catalog__item
		.specials
			.special-item.percent
				svg(viewBox="0 0 100 100", class="svgico percent")
					use(xlink:href="#red")
		.functions
			a(href="").comparison
				svg(viewBox="0 0 100 100", class="svgico comparison")
					use(xlink:href="#comparison")
			a(href="").like
				svg(viewBox="0 0 100 100", class="svgico like like-gray")
					use(xlink:href="#like")
		.item__head
			img(src="img/card_img.jpg", alt="")
			.item__name Sony Alpha A5100 kit 16-50мм PZ Brown
			.item__price
				.old-price #[span 54 990] .–
				.actual-price 141 990 .–
		.item__bonuce
			a(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Бонусная программа" data-placement="top" data-content="Какой-то поясняющий текст про супер бонусы. Вау!") Бонусов: #[span 1280]
		.item__buy
			a(href="").btn.primary-btn в корзину
			a(href="").dotted-link Купить в один клик
	.catalog__item
		.specials
			.special-item.percent
				svg(viewBox="0 0 100 100", class="svgico percent")
					use(xlink:href="#red")
		.functions
			a(href="").comparison
				svg(viewBox="0 0 100 100", class="svgico comparison")
					use(xlink:href="#comparison")
			a(href="").like
				svg(viewBox="0 0 100 100", class="svgico like like-gray")
					use(xlink:href="#like")
		.item__head
			img(src="img/card_img.jpg", alt="")
			.item__name Sony Alpha A5100 kit 16-50мм PZ Brown
			.item__price
				.old-price #[span 54 990] .–
				.actual-price 141 990 .–
		.item__bonuce
			a(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Бонусная программа" data-placement="top" data-content="Какой-то поясняющий текст про супер бонусы. Вау!") Бонусов: #[span 1280]
		.item__buy
			a(href="").btn.primary-btn в корзину
			a(href="").dotted-link Купить в один клик
	.catalog__item
		.specials
			.special-item.percent
				svg(viewBox="0 0 100 100", class="svgico percent")
					use(xlink:href="#red")
		.functions
			a(href="").comparison
				svg(viewBox="0 0 100 100", class="svgico comparison")
					use(xlink:href="#comparison")
			a(href="").like
				svg(viewBox="0 0 100 100", class="svgico like like-gray")
					use(xlink:href="#like")
		.item__head
			img(src="img/card_img.jpg", alt="")
			.item__name Sony Alpha A5100 kit 16-50мм PZ Brown
			.item__price
				.old-price #[span 54 990] .–
				.actual-price 141 990 .–
		.item__bonuce
			a(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Бонусная программа" data-placement="top" data-content="Какой-то поясняющий текст про супер бонусы. Вау!") Бонусов: #[span 1280]
		.item__buy
			a(href="").btn.primary-btn в корзину
			a(href="").dotted-link Купить в один клик
	.catalog__item
		.specials
			.special-item.percent
				svg(viewBox="0 0 100 100", class="svgico percent")
					use(xlink:href="#red")
		.functions
			a(href="").comparison
				svg(viewBox="0 0 100 100", class="svgico comparison")
					use(xlink:href="#comparison")
			a(href="").like
				svg(viewBox="0 0 100 100", class="svgico like like-gray")
					use(xlink:href="#like")
		.item__head
			img(src="img/card_img.jpg", alt="")
			.item__name Sony Alpha A5100 kit 16-50мм PZ Brown
			.item__price
				.old-price #[span 54 990] .–
				.actual-price 141 990 .–
		.item__bonuce
			a(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Бонусная программа" data-placement="top" data-content="Какой-то поясняющий текст про супер бонусы. Вау!") Бонусов: #[span 1280]
		.item__buy
			a(href="").btn.primary-btn в корзину
			a(href="").dotted-link Купить в один клик
	.catalog__item
		.specials
			.special-item.percent
				svg(viewBox="0 0 100 100", class="svgico percent")
					use(xlink:href="#red")
		.functions
			a(href="").comparison
				svg(viewBox="0 0 100 100", class="svgico comparison")
					use(xlink:href="#comparison")
			a(href="").like
				svg(viewBox="0 0 100 100", class="svgico like like-gray")
					use(xlink:href="#like")
		.item__head
			img(src="img/card_img.jpg", alt="")
			.item__name Sony Alpha A5100 kit 16-50мм PZ Brown
			.item__price
				.old-price #[span 54 990] .–
				.actual-price 141 990 .–
		.item__bonuce
			a(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Бонусная программа" data-placement="top" data-content="Какой-то поясняющий текст про супер бонусы. Вау!") Бонусов: #[span 1280]
		.item__buy
			a(href="").btn.primary-btn в корзину
			a(href="").dotted-link Купить в один клик
	.catalog__item
		.specials
			.special-item.percent
				svg(viewBox="0 0 100 100", class="svgico percent")
					use(xlink:href="#red")
		.functions
			a(href="").comparison
				svg(viewBox="0 0 100 100", class="svgico comparison")
					use(xlink:href="#comparison")
			a(href="").like
				svg(viewBox="0 0 100 100", class="svgico like like-gray")
					use(xlink:href="#like")
		.item__head
			img(src="img/card_img.jpg", alt="")
			.item__name Sony Alpha A5100 kit 16-50мм PZ Brown
			.item__price
				.old-price #[span 54 990] .–
				.actual-price 141 990 .–
		.item__bonuce
			a(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Бонусная программа" data-placement="top" data-content="Какой-то поясняющий текст про супер бонусы. Вау!") Бонусов: #[span 1280]
		.item__buy
			a(href="").btn.primary-btn в корзину
			a(href="").dotted-link Купить в один клик
	.catalog__item
		.specials
			.special-item.percent
				svg(viewBox="0 0 100 100", class="svgico percent")
					use(xlink:href="#red")
		.functions
			a(href="").comparison
				svg(viewBox="0 0 100 100", class="svgico comparison")
					use(xlink:href="#comparison")
			a(href="").like
				svg(viewBox="0 0 100 100", class="svgico like like-gray")
					use(xlink:href="#like")
		.item__head
			img(src="img/card_img.jpg", alt="")
			.item__name Sony Alpha A5100 kit 16-50мм PZ Brown
			.item__price
				.old-price #[span 54 990] .–
				.actual-price 141 990 .–
		.item__bonuce
			a(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Бонусная программа" data-placement="top" data-content="Какой-то поясняющий текст про супер бонусы. Вау!") Бонусов: #[span 1280]
		.item__buy
			a(href="").btn.primary-btn в корзину
			a(href="").dotted-link Купить в один клик