.footer
	.container
		h2.footer-title Поддерживаем фотографов любого уровня
		.footer-middle
			.row
				.col-md-4
					span.footer-label Принимаем к оплате:
					i.fa.fa-cc-visa(aria-hidden="true")
					i.fa.fa-cc-mastercard(aria-hidden="true")
				.col-md-6
					span.footer-label Бываем в соц. сетях:
					a(href="", target="_blank")
						i.fa.fa-vk(aria-hidden="true")
					a(href="", target="_blank")
						i.fa.fa-twitter(aria-hidden="true")
					a(href="", target="_blank")
						i.fa.fa-instagram(aria-hidden="true")
					a(href="", target="_blank")
						i.fa.fa-youtube(aria-hidden="true")
				.col-md-2
					a(href="", target="_blank").oferta Договор оферты
		.footer-bottom
			.half
				img(src="img/logo_binar.svg", alt="")
				.adress
					span г. Красноярск, ул. Авиаторов 38,
					<br> 
					a(href="", target="_blank") показать на карте
			.half
				span Проектирование и дизайн «#[a(href="") Чипса]», 2016
				<br>
				span Разработка портала «#[a(href="") Effesso]»