header
	nav.navbar
		.navbar-header
			button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#header-collapse", aria-expanded="false")
				span.icon-bar
				span.icon-bar
				span.icon-bar
		#header-collapse
			a(href="").bonus-card
				img(src="img/card.png", alt="")
			.top-menu.header-row
				.container-fluid
					.row
						.col-xs-10.vcenter
							ul
								li
									a(href="#") Доставка и оплата
								li
									a(href="#") Аренда фототехники
								li
									a(href="#") Акции, новости и статьи
								li
									a(href="#") Контакты
								li
									a(href="#") О магазине
						.col-xs-2.vcenter
							.geo-city-block
								span Ваш город:
								.dropdown.city-dropdown
									a(data-target="#" id="city" href="#city" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") г. Красноярск
									ul.dropdown-menu(aria-labelledby="city")
										li
											a(href="#") г. Красноярск
			.middle-header-info.header-row
				.container-fluid
					.row
						.col-xs-2.vcenter.phones
							.header-phones
								a(href="tel:+7 (391) 257–37–07") #[span +7 (391)] 257–37–07 
								a(href="tel:+7 (391) 277–85–87") #[span +7 (391)] 277–85–87 
						.col-xs-3.vcenter.socials
							.header-socials
								a(href="")
									i.fa.fa-twitter(aria-hidden="true")
								a(href="")
									i.fa.fa-instagram(aria-hidden="true")
								a(href="")
									i.fa.fa-youtube(aria-hidden="true")
								a(href="")
									i.fa.fa-vk(aria-hidden="true")
						.col-xs-2.vcenter
							.logo
								img.logo(src="img/logo.png", alt="")
						.col-xs-5.vcenter
							.middle-header-info__right
								a(href="").bubble-btn-block
									.bubble-btn
										svg(viewBox="0 0 100 100", class="svgico like")
											use(xlink:href="#like")
								a(href="").bubble-btn-block
									.bubble-btn
										span.basket-count 12
										svg(viewBox="0 0 100 100", class="svgico like")
											use(xlink:href="#like")
									p корзина  #[span 45 000 .-]
								a(href="").bubble-btn-block
									.bubble-btn
										svg(viewBox="0 0 100 100", class="svgico like")
											use(xlink:href="#User")
									p войти
			.bottom-header-menu.header-row
				.container-fluid
					.col-xs-12
						ul.bottom-header-list
							li
								a.js-sublist-toggler(href="") Фотоаппараты
								ul.sublist.js-over
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
							li
								a.js-sublist-toggler(href="") Объективы
								ul.sublist.js-over
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
							li
								a.js-sublist-toggler(href="") Вспышки
								ul.sublist.js-over
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
							li
								a.js-sublist-toggler(href="") Студийное оборудование
								ul.sublist.js-over
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
							li
								a.js-sublist-toggler(href="") Видеокамеры
								ul.sublist.js-over
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
							li
								a.js-sublist-toggler(href="") Аксессуары
								ul.sublist.js-over
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
									li
										a(href="")
											img(src="img/canon700d.png")
											.sublist__name зеркальные <br>фотоаппараты
							li
								a.js-sublist-toggler(href="") комиссионный товар
						div.search-block
							form(action="")
								.base-loader
									.circle.left
									.circle.right
								input(type="text", placeholder="Поиск").js-search
								input(type="submit", value=" ")
								.search-result
									.row.row-eq-height
										.col-md-3.js-anim
											a(href="").search-result__item
												img(src="img/canon700d.png")
												.search-result__name зеркальные <br>фотоаппараты
										.col-md-3.js-anim
											a(href="").search-result__item
												img(src="img/canon700d.png")
												.search-result__name зеркальные <br>фотоаппараты
										.col-md-3.js-anim
											a(href="").search-result__item
												img(src="img/canon700d.png")
												.search-result__name зеркальные <br>фотоаппараты
										.col-md-3.js-anim
											a(href="").search-result__item.all
												p еще 356 результатов
.header-placeholder