.row
	.col-md-8.bonuses-info
		.row
			.col-md-5.vcenter
				.bonus-title бонусов в наличии:
			.col-md-4.vcenter
				.amount 500
				span.amount-text бонусных<br> баллов
			.col-md-3.vcenter
				p 100 баллов сгорят через 15 дней
		.row
			.col-md-5.vcenter
				.bonus-title бонусов к начислению:
			.col-md-4.vcenter
				.amount 100
				span.amount-text бонусных<br> баллов
			.col-md-3.vcenter
				p 100 баллов сгорят через 15 дней
	.col-md-4.bonuses-text
			span Как зарабатывать и тратить бонусы
			p Покупая товары в нашем магазине вы получаете бонусы. Вы можете тратить эти бонусы при следующих покупках введя номер вашей бонусной карты в поле для ввода номера