ul.nav.nav-tabs.dotted-tab(role="tablist")
	li(role="presentation").active
		a(href="#waits" aria-controls="waits" role="tab" data-toggle="tab") Ожидают оплаты: #[span 3]
	li(role="presentation")
		a(href="#inWay" aria-controls="inWay" role="tab" data-toggle="tab") В пути: #[span 2]
	li(role="presentation")
		a(href="#delivered" aria-controls="delivered" role="tab" data-toggle="tab") Доставленные: #[span 3]
	li(role="presentation")
		a(href="#leased" aria-controls="leased" role="tab" data-toggle="tab") Арендованные: #[span 3]
	li(role="presentation")
		a(href="#testDrive" aria-controls="testDrive" role="tab" data-toggle="tab") Взять на тест-драйв: #[span 10]
.tab-content
	.tab-pane.fade.in.active#waits(role="tabpanel")
		.basket-block
			.row
				.col-md-5.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black
						.order-info
							p Заказ №: #[span 77647607852834]
							p Дата заказа: #[span 15 сент. 2016]          
				.col-md-3.vcenter
					.count 1 шт
				.col-md-3.vcenter
					.price 
						span 69 990 .–
				.col-md-1.vcenter
					a.delete(href="")
						i.fa.fa-trash-o(aria-hidden="true")
			.row
				.col-md-5.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black
						.order-info
							p Заказ №: #[span 77647607852834]
							p Дата заказа: #[span 15 сент. 2016] 
				.col-md-3.vcenter
					.count 1 шт
				.col-md-3.vcenter
					.price 
						span 69 990 .–
				.col-md-1.vcenter
					a.delete(href="")
						i.fa.fa-trash-o(aria-hidden="true")
			.row
				.col-md-5.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black
						.order-info
							p Заказ №: #[span 77647607852834]
							p Дата заказа: #[span 15 сент. 2016] 
				.col-md-3.vcenter
					.count 1 шт
				.col-md-3.vcenter
					.price 
						span 69 990 .–
				.col-md-1.vcenter
					a.delete(href="")
						i.fa.fa-trash-o(aria-hidden="true")
			.row
				.col-md-1.col-md-offset-2
					span.result Итого:
				.col-md-5
					.result-string 4 товара на сумму #[span 1 269 990 .–]
					.result-bonus Бонусов: #[span 500]
					a(href="").btn.primary-btn Оформить заказ
	.tab-pane.fade#inWay(role="tabpanel")
		.basket-block
			.row
				.col-md-5.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black
						.order-info
							p Заказ №: #[span 77647607852834]
							p Дата заказа: #[span 15 сент. 2016]          
				.col-md-1.vcenter
					.count 1 шт
				.col-md-3.vcenter.center
					a.btn.brown-btn(href="") отследить
				.col-md-3.vcenter
					.price 
						span 69 990 .–
			.row
				.col-md-5.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black
						.order-info
							p Заказ №: #[span 77647607852834]
							p Дата заказа: #[span 15 сент. 2016]          
				.col-md-1.vcenter
					.count 1 шт
				.col-md-3.vcenter.center
					span.disable-trace Нельзя отследить
				.col-md-3.vcenter
					.price 
						span 69 990 .–
	.tab-pane.fade#delivered(role="tabpanel")
		.basket-block
			.row
				.col-md-5.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black
				.col-md-4.vcenter
					.count 1 шт
				.col-md-3.vcenter
					.price 
						span 69 990 .–
			.row
				.col-md-5.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black
				.col-md-4.vcenter
					.count 1 шт
				.col-md-3.vcenter
					.price 
						span 69 990 .–
			.row
				.col-md-5.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black
				.col-md-4.vcenter
					.count 1 шт
				.col-md-3.vcenter
					.price 
						span 69 990 .–
	.tab-pane.fade#leased(role="tabpanel")
		.basket-block
			.row
				.col-md-3.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black          
				.col-md-2.vcenter
					.count 1 шт
				.col-md-4.vcenter
					.price 
						span 2 990 .–
					.perDay за сутки
				.col-md-3.vcenter
					.deadline Вернуть до: #[span 15 сент. 2016  15:00]
			.row
				.col-md-3.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black          
				.col-md-2.vcenter
					.count 1 шт
				.col-md-4.vcenter
					.price 
						span 122 990 .–
					.perDay за сутки
				.col-md-3.vcenter
					.deadline Вернуть до: #[span 15 сент. 2016  15:00]
		.bg-warning
			img(src="img/!.svg", alt="")
			span Каждый час просрочки возврата оплачивается дополнительно
		.basket-block.story
			.row
				.col-md-11.vcenter
					h2.subtitle история арендованной техники
				.col-md-1.vcenter
					a(href="").history-toggle
						i.fa.fa-angle-right(aria-hidden="true")
			.row.history
				.col-md-3.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black          
				.col-md-2.vcenter
					.count 1 шт
				.col-md-4.vcenter
					.deadline Период аренды: #[span 15 сент. 2016 - 30 янв. 2017]
				.col-md-3.vcenter
					.lease-status.returned Возвращено
			.row.history
				.col-md-3.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black          
				.col-md-2.vcenter
					.count 1 шт
				.col-md-4.vcenter
					.deadline Период аренды: #[span 15 сент. 2016 - 30 янв. 2017]
				.col-md-3.vcenter
					.lease-status.outdated Просрочено 
	.tab-pane.fade#testDrive(role="tabpanel")
		.basket-block
			.row
				.col-md-3.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black          
				.col-md-3.col-md-offset-6.vcenter
					.deadline Вернуть до: #[span 15 сент. 2016  15:00]
			.row
				.col-md-3.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black          
				.col-md-3.col-md-offset-6.vcenter
					.deadline Вернуть до: #[span 15 сент. 2016  15:00]
			.row
				.col-md-3.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black          
				.col-md-3.col-md-offset-6.vcenter
					.deadline Вернуть до: #[span 15 сент. 2016  15:00]
		.bg-warning
			img(src="img/!.svg", alt="")
			span Обязательным условием тест-драйва нашей техники является 2 отзыва от вас после окончания тест-драйва один о компании на #[a(href="", target="_blank") Яндекс] маркете и один о этой технике в нашей группе во #[a(href="", target="_blank") Вконтакте] в обсуждениях этой модели. Заранее спасибо!
		.basket-block.story
			.row
				.col-md-11.vcenter
					h2.subtitle история арендованной техники
				.col-md-1.vcenter
					a(href="").history-toggle
						i.fa.fa-angle-right(aria-hidden="true")
			.row.history
				.col-md-2.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black          
				.col-md-4.vcenter
					.input-group
						label(for="") Отзыв во Вконтакте
						input(type="text", name="", value="https://vk.com/topic-21471829_34309302?post=1527")
				.col-md-4.vcenter
					.input-group
						label(for="") Отзыв на Яндекс.Маркете
						input(type="text", name="", value="https://market.yandex.ru/shop/135656/reviews")
				.col-md-2.vcenter
					.lease-status.returned Возвращено
			.row.history
				.col-md-2.vcenter
					.info
						span.name Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black          
				.col-md-4.vcenter
					.input-group
						label(for="") Отзыв во Вконтакте
						input(type="text", name="", value="https://vk.com/topic-21471829_34309302?post=1527")
				.col-md-4.vcenter
					.input-group
						label(for="") Отзыв на Яндекс.Маркете
						input(type="text", name="", value="https://market.yandex.ru/shop/135656/reviews")
				.col-md-2.vcenter
					.lease-status.returned Возвращено