script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="js/bootstrap.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/ScrollMagic.min.js")
script(src="js/debug.addIndicators.min.js")
script(src="js/ion.rangeSlider.min.js")
script(src="js/main.js")