@import 'modules/vars.less';
@import 'modules/fonts.less';
// @import 'modules/mixins.less';

.pagescroll{
	overflow: hidden;
}
a,li,p,span,h1,h2,h3,h4,h5,h6{
	letter-spacing: normal!important;
}
body{
	font-family: Ubuntu;
	font-size: 20px;
}
#navigator{
	position: fixed;
	right: 50px;
	z-index: 12;
	top: 50%;
    transform: translateY(-50%) translateX(100%);
    opacity: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 1100ms;
    &.load{
		transform: translateY(-50%) translateX(0%);
		opacity: 1;
    }
	.where{
	    font-family: Gilroy;
	    font-weight: 800;
	    font-size: 10px;
	    float: right;
	    margin-bottom: 12px;
	    letter-spacing: 2.5!important;
	    text-transform: uppercase;
	    color: #fff;
	    position: relative;
	}
	ul{
		margin: 0;
		list-style: none;
		position: relative;
		text-align: right;
		li{
			background-color: @white;
			right: 0;
			width: 30px;
			height: 2px;
			margin-bottom: 18px;
			cursor: pointer;
			float: right;
			clear: both;
			transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
			&.active{
				width: 60px;
			}
		}
	}
	&.onWhite{
		li {
			background-color: @onWhite;
		}
		.where{
			color: @onWhite;
		}
	}
}

#fullpage{
	position: relative;
	width: 100%;
	height: 100vh;
}

.section{
	position: absolute;
	width: 100%;
	height: 100vh;
	letter-spacing: -.45em;
	display: none;
	&.active{
		display: block;
	}
}

.fullside{
	display: block;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	&.fullInNext{
		transition: all 1s cubic-bezier(0.560, 0.000, 0.000, 0.995);
		transform: translateY(0%);
	}
	&.fullOutNext{
		transition: all 1s cubic-bezier(0.560, 0.000, 0.000, 0.995);
		transform: translateY(-100%); 
	}
	&.fullInPrev{
		transition: all 1s cubic-bezier(0.560, 0.000, 0.000, 0.995);
		transform: translateY(0%);
	}
	&.fullOutPrev{
		transition: all 1s cubic-bezier(0.560, 0.000, 0.000, 0.995);
		transform: translateY(100%); 
	}
	&.noTransIn{
		transform: translateY(0%);
	}
}
.side{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 100%;
	transition: all 1s cubic-bezier(0.560, 0.000, 0.000, 0.995);
	background-size: cover;
    background-position: 50% 80%;
	&:nth-child(1){
		transform: translateY(100%);
		&.in{
			transform: translateY(0%);
		}
		&.out{
			transform: translateY(-100%);
		}
		&.outBack{
			transform: translateY(100%);
		}
	}
	&:nth-child(2){
		transform: translateY(-100%);
		&.in{
			transform: translateY(0%);
		}
		&.out{
			transform: translateY(100%);
		}
		&.outBack{
			transform: translateY(-100%);
		}
	}
}



// хедер 

header{
	position: fixed;
	z-index: 21;
	padding: 0px 2%;
	margin-top: 30px;
	width: 96%;
    transform: translateY(-110%);
    opacity: 0;
    transition: all 1000ms cubic-bezier(0.245, 0.000, 0.000, 1.005);
    transition-delay: 500ms;
	.logo{
		width: 49%;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		letter-spacing: -.45em;
		img{
			display: inline-block;
			width: 135px;
		}
	}
	.header-controls{
		width: 50%;
		display: inline-block;
		vertical-align: middle;
		text-align: right;
		letter-spacing: -.45em;
		.btn-block{
			display: inline-block;
		}
	}
	&.load{
		transform: translateY(0%);
		opacity: 1;
	}
}
.header-btn{
	font-family: Gilroy;
	color: @white;
	display: inline-block;
	vertical-align: top;
	font-weight: 800;
	font-size: 12;
	line-height: 12px;
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2.5!important;
	border: 1px solid fade(@white, 50%);
	&.onWhite{
		color: @onWhite;
		border-color: @onWhite;
	}
}
.menu{
	display: inline-block;
	vertical-align: top;
	border: 1px solid fade(@white, 50%);
	border-left-color: transparent;
	position: relative;
    padding: 16px 18px;
    height: 20px;
    width: 24px;
	span{
		display: block;
		background-color: #fff;
		margin-bottom: 7px;
		position: absolute;
		height: 2px;
		width: 17px;
		top: 25px;
		transition: all .45s cubic-bezier(0.245, 0.000, 0.000, 1.005);
		&:before{
	        position: absolute;
		    display: block;
		    left: 0;
		    top: -10px;
		    width: 21px;
		    height: 2px;
		    background-color: #fff;
		    content: "";
		    transition: top .45s cubic-bezier(0.245, 0.000, 0.000, 1.005) .3s, transform .45s cubic-bezier(0.245, 0.000, 0.000, 1.005), width .45s cubic-bezier(0.245, 0.000, 0.000, 1.005);
		}
		&:after{
			position: absolute;
		    display: block;
		    left: 0;
		    bottom: -10px;
		    width: 25px;
		    height: 2px;
		    background-color: #fff;
		    content: "";
		    transition: bottom .45s cubic-bezier(0.245, 0.000, 0.000, 1.005) .3s , transform .45s cubic-bezier(0.245, 0.000, 0.000, 1.005), width .45s cubic-bezier(0.245, 0.000, 0.000, 1.005);
		}
	}
	&.active{
		span{
		    background: 0 0!important;
			&:after{
				bottom: 0px;
				transform: rotate(-45deg);
				width: 25px;
			    transition-delay: 0s,.3s;
			}
			&:before{
				top: 0px;
				transform: rotate(45deg);
				width: 25px;
			    transition-delay: 0s,.3s;
			}
		}
	}
	&:hover span{
		width: 25px;
		&:after, &:before{
			width: 25px
		}
	}
	&.onWhite{
		border-color: @onWhite @onWhite @onWhite transparent;
		span{
			background-color: @onWhite;
			&:after,&:before{
				background-color: @onWhite;
			}
		} 
	}
}

// стили разделов

.main{
	background-image: url(../img/main.jpg);
	background-size: cover;
	background-position: center;
	.main-text{
		position: absolute;
		left: 50%;
		top: 50%;
	    transform: translate(-50%, -50%) scale(0.5);
    	opacity: 0;
		text-align: center;
		transition: all 1000ms cubic-bezier(0.245, 0.000, 0.000, 1.005);
		&.load{
			transform: translate(-50%, -50%) scale(1);
			opacity: 1;
		}
	}
	h1{
		margin-top: 0px;
		margin-bottom: 0px;
		font-family: Gilroy;
		font-weight: 300;
		font-size: 5vw;
		line-height: normal;
		letter-spacing: 8vw!important;
		text-indent: 8vw;
		text-transform: uppercase;
		color: @white;
		margin-bottom: 70px;
	}
	p{
		color: @white;
		font-weight: 300;
		line-height: 44px;
	}
}
.scroll-down{
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%) translateY(-45%);
	opacity: 0;
	transition: all 800ms cubic-bezier(0.245, 0.000, 0.000, 1.005);
	transition-delay: 800ms;
	padding: 18px;
	border: 1px solid fade(@white, 50%);
	color: @white;
	text-decoration: none;
	span{
		position: absolute;
		text-transform: uppercase;
	    font-family: Gilroy;
	    font-weight: 800;
	    letter-spacing: 10!important;
	    left: 55%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	}
	&.load{
		transform: translateX(-50%) translateY(0%);
		opacity: 1;
	}
}

.main-about{
	.side{
		&:nth-child(1){
			background-image: url(../img/about.jpg);
		}
		&:nth-child(2){
			background-color: @white;
		}
	}
}

.content{
	padding: 25% 22%;
	h2{
		font-family: Gilroy;
		font-weight: 300;
		font-size: 42px;
		color: @onWhite;
		margin-bottom: 12%;
		margin-top: 0px;
		letter-spacing: 2!important;
	}
	p{
		margin-top: 0px;
		font-weight: 300;
		font-size: 18px;
		color: @black;
		line-height: 34px;
		margin-bottom: 12%;
	}
	.btn{
		display: inline-block;
		font-family: Gilroy;
		font-weight: 800;
		font-size: 14px;
		line-height: 14px;
		letter-spacing: 2.5!important;
		padding: 25px 70px;
		border: 1px solid @cyan;
		color: @onWhite;
		background-color: transparent;
		text-decoration: none;
		text-transform: uppercase;
		transition: all .45s ease-out;
		&:hover{
			background-color: @cyan;
			color: @white;
		}
	}
}

.main-wellness{
	.side{
		&:nth-child(1){
			background-color: @blue;
			.content{
				.btn{
					color: @white;
				}
				p{
					color: @white;
				}
			}
		}
		&:nth-child(2){
			background-image: url(../img/wellness.jpg);
		}
	}
}
.main-services{
	.fullside{
		.item{
			position: relative;
			overflow: hidden;
			a{
				width: 100%;
				height: 100%;
				display: block;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			    transform: scale(1.01);
				transition: all 1000ms cubic-bezier(0.245, 0.000, 0.000, 1.005);
				&.s1{
					background-image: url(../img/s1.jpg);
				}
				&.s2{
					background-image: url(../img/s2.jpg);
				}
				&.s3{
					background-image: url(../img/s3.jpg);
				}
				&.s4{
					background-image: url(../img/s4.jpg);
				}
				&.s5{
					background-image: url(../img/s5.jpg);
				}
			}
			&:hover a{
				transform: scale(1.25);
			}
			p{
				margin-top: 0px;
				margin-bottom: 0px;
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-family: Gilroy;
				font-weight: 300;
				font-size: 42px;
				line-height: 70px;
				color: @white;
				text-transform: uppercase;
				letter-spacing: 10!important;
			}
		}
		.left{
	    	position: absolute;
		    left: 45;
		    bottom: 50px;
		    z-index: 5;
		    padding: 18px;
		    border: 1px solid fade(@white, 50%);
		    transition: all .45s ease-out;
		    background-color: transparent;
		    &:hover{
		    	background-color: @cyan;
		    	border-color: transparent;
		    }
			img{
				width: auto;
			}
			span{
			    position: absolute;
			    transform: rotate(-90deg);
			    color: #fff;
			    margin: 0 auto;
			    top: -7px;
			    bottom: 0;
			    left: 28%;
			    text-transform: uppercase;
			    font-family: Gilroy;
			    font-weight: 800;
			    letter-spacing: 10!important;
			}
		}
		.right{
	    	position: absolute;
		    right: 45;
		    bottom: 50px;
		    z-index: 5;
		    padding: 18px;
		    border: 1px solid fade(@white, 50%);
		    transition: all .45s ease-out;
		    background-color: transparent;
		    &:hover{
		    	background-color: @cyan;
		    	border-color: transparent;
		    }
			img{
				width: auto;
			}
			span{
			    position: absolute;
			    transform: rotate(-90deg);
			    color: #fff;
			    margin: 0 auto;
			    top: -7px;
			    bottom: 0;
			    left: 16%;
			    text-transform: uppercase;
			    font-family: Gilroy;
			    font-weight: 800;
			    letter-spacing: 10!important;
			}
		}
	}
}
.footer{
	background-color: @blue;
	width: 100%;
	height: 100%;
	position: relative;
	.f-content{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		.table{
			display: inline-block;
			vertical-align: top;
			width: 600px;
			tr{
				outline: 1px solid @cyan;
				td{
					padding: 35px 38px;
					&:first-child{
						text-align: left;
					}
					&:last-child{
						text-align: right;

					}
				}
				.label span{
					font-size: 16px;
					font-weight: 300;
					text-transform: uppercase;
					color: #3e4b5c;
				}
				.info{
					font-size: 16px;
					font-weight: 300;
					color: #738091;
				}
			}
		}
		.socials{
			display: inline-block;
			vertical-align: top;
			ul{
				margin-top: 0px;
				margin-bottom: 0px;
				margin-left: 125px;
				list-style: none;
				padding-left: 0px;
				li{
					margin-bottom: 33px;
					a{
						display: inline-block;
						text-align: center;
						width: 183px;
						border: 1px solid @cyan;
						padding: 25px 0px;
						font-size: 12px;
						font-weight: 300;
						text-transform: uppercase;
						letter-spacing: 2.5!important;
						color: @white;
						text-decoration: none;
						background-color: transparent;
						transition: all .45s ease-out;
						&:hover{
							background-color: @cyan;
						}
					}
				}
			}
		}
	}
}


// Всплывахи

#menu{
	position: fixed;
	// background-color: @blue;
	z-index: 20;
	width: 100%;
	height: 100%; 
	display: none;
    .fade{
    	width: 100%;
    	height: 20%;
    	background-color: @blue;
    	position: absolute;
    	left: 0;
		transform: translateX(-100%);
		transition: transform 200ms cubic-bezier(0.245, 0.005, 0.005, 0.995) .3s;
    	&:nth-child(2n){
    		right: 0;
			transform: translateX(100%)
    	}
    	&.in{
    		transform: translateX(0);
    		transition-delay: 0s;
    		&:nth-child(2){
	    		top: 20%;
				transition-delay: .10s;
	    	}
	    	&:nth-child(3){
	    		top: 40%;
				transition-delay: .15s;
	    	}
	    	&:nth-child(4){
	    		top: 60%;
				transition-delay: .20s;
	    	}
	    	&:nth-child(5){
	    		top: 80%;
	    		transition-delay: .25s;
	    	}
    	}
    	&:nth-child(2){
    		top: 20%;
			transition: transform 200ms cubic-bezier(0.245, 0.005, 0.005, 0.995) .25s;
    	}
    	&:nth-child(3){
    		top: 40%;
			transition: transform 200ms cubic-bezier(0.245, 0.005, 0.005, 0.995) .20s;
    	}
    	&:nth-child(4){
    		top: 60%;
			transition: transform 200ms cubic-bezier(0.245, 0.005, 0.005, 0.995) .15s;
    	}
    	&:nth-child(5){
    		top: 80%;
    		transition: transform 200ms cubic-bezier(0.245, 0.005, 0.005, 0.995) .10s;
    	}
    }
	ul{
		list-style: none;
		padding: 0px;
		margin: 0px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		li{
			margin-bottom: 15%;
			&:last-child{
				margin-bottom: 0px;
			}
		}
		li a{
			color: @white;
			font-family: Gilroy;
			font-size: 24px;
			font-weight: 300;	
			letter-spacing: 5px!important;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			transition: all .45s ease-out;
			&:hover{
				color: @cyan;
			}
		}
	}
	.side{
		transform: translate(0%)!important;
		opacity: 0;
		transition: opacity .45s ease-out 0s;
		&.menu-in{
			opacity: 1;
			transition-delay: .2s;
		}
	}
}
#faq{
	position: fixed;
	z-index: 23;
	width: 100%;
	height: 100%;
	background-color: @white;
	display: none;
	img{
		position: absolute;
		left: 2%;
		top: 44px;
		width: 135px;
	}
	.close{
		position: absolute;
		right: 2%;
		top: 30px;
		border: 1px solid #B5B8BE;
	    padding: 16px 18px;
	    height: 20px;
	    width: 24px;
		span{
			display: block;
			background-color: @onWhite;
			margin-bottom: 7px;
			position: absolute;
			height: 2px;
			width: 25px;
			top: 25px;
			transition: all .45s cubic-bezier(0.245, 0.000, 0.000, 1.005);
			&:nth-child(1){
				transform: rotate(-45deg);
			}
			&:nth-child(2){
				transform: rotate(45deg);
			}
		}
	}
	.faq-content{
		padding: 12% 16%;
	}
	h2{
		margin-top: 0px;
		font-family: Gilroy;
		font-weight: 300;
		font-size: 42px;
		text-transform: uppercase;
		color: @onWhite;
		letter-spacing: 5!important;
		margin-bottom: 85px;
	}
	.info-row{
		margin-bottom: 65px;
	}
	.field{
		display: inline-block;
		margin-right: 10%;
		&:nth-child(1){
			width: 30%;
		}
		&:nth-child(2){
			width: 58%;
			margin-right: 0px;
		}
		&.full{
			width: 100%;
			margin-right: 0px;
		}
		label{
			display: block;
			font-family: Gilroy;
			font-weight: bold;
			font-size: 14px;
			color: #B5B8BE;
			text-transform: uppercase;
			letter-spacing: 2.5!important;
			margin-bottom: 15px;
		}
		input[type='text']{
			padding: 12px 5px;
			border: none;
			border-bottom: 1px solid @black;
			outline: none;
			width: 100%;
		}
		textarea{
			width: 100%;
			padding: 12px 5px;
			resize: none;
			border: none;
			border-bottom: 1px solid @black;
			outline: none;
		}
	}
}
.btn{
	display: inline-block;
	font-family: Gilroy;
	font-weight: 800;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 2.5!important;
	padding: 25px 70px;
	border: 1px solid @cyan;
	color: @onWhite;
	background-color: transparent;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .45s ease-out;
	cursor: pointer;
	&:hover{
		background-color: @cyan;
		color: @white;
	}
}

@media (max-width: 1367px){
	.main h1{
		margin-bottom: 22px;
	}
	#navigator{
		right: 3%;
	}
	.main p{
		margin-top: 0px;
	    font-size: 16px;
    	line-height: 30px;
	}
	.content {
        padding: 0%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
	}
	.content h2{
	    font-size: 36px;
        margin-bottom: 10%;
	}
	.content p{
		font-size: 16px;
		line-height: 32px;
	}
	.side{
		position: relative;
	}
	.main-services .fullside .item p{
	    font-size: 34px;
    	line-height: 54px;
	}
	.footer .f-content .table tr td{
	    padding: 25px 20px;
	}
	.footer .f-content .table{
	    width: 420px;
	}
	.footer .f-content .socials ul li{
		margin-bottom: 30px;
	}
	.footer .f-content .socials ul{
		margin-left: 80px;
	}
	#menu ul li{
		margin-bottom: 10%;
	}
	#menu ul li a{
		font-size: 20px;
	}
	#faq .faq-content {
	    padding: 7% 16%;
	}
	#faq h2{
	    font-size: 34px;
        margin-bottom: 60px;
	}
	#faq .info-row {
	    margin-bottom: 55px;
	}
}

@media (max-width: 1025px){
	.content .btn{
	    font-size: 12px;
	    line-height: 14px;
	    letter-spacing: 2.5!important;
	    padding: 20px 30px;
	}
	.main-services .fullside .item p {
	    font-size: 20px;
	    line-height: 36px;
        letter-spacing: 4!important;
	}
	.footer .f-content{
		width: 800px;
	}
	.footer .f-content .table{
		display: block;
		width: auto;
		table{
			margin: 0 auto;
		}
	}
	.footer .f-content .socials ul{
		margin-left: 0px;
	}
	.footer .f-content .socials ul li{
		margin-right: 30px;
		float: left;
	}
	.footer .f-content .socials ul li a{
		width: 172px;
	}
	.footer .f-content .socials{
	    margin-top: 45px;
	}
}