@import 'modules/vars.less';
@import 'modules/fonts.less';
// @import '../css/isotope-docs.css';
// @import 'modules/mixins.less';

.pagescroll{
	overflow: hidden;
}
a,li,p,span,h1,h2,h3,h4,h5,h6{
	letter-spacing: normal!important;
}
body{
	font-family: Ubuntu;
	font-size: 20px;
}
#navigator{
	position: fixed;
	right: 50px;
	z-index: 12;
	top: 50%;
    transform: translateY(-50%) translateX(100%);
    opacity: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 1100ms;
    &.load{
		transform: translateY(-50%) translateX(0%);
    }
	.where{
	    font-family: Gilroy;
	    font-weight: 800;
	    font-size: 10px;
	    float: right;
	    margin-bottom: 12px;
	    letter-spacing: 2.5!important;
	    text-transform: uppercase;
	    color: #fff;
	    position: relative;
	}
	ul{
		margin: 0;
		list-style: none;
		position: relative;
		text-align: right;
		li{
			background-color: @white;
			right: 0;
			width: 30px;
			height: 2px;
			margin-bottom: 18px;
			cursor: pointer;
			float: right;
			clear: both;
			transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
			&.active{
				width: 60px;
			}
		}
	}
	&.onWhite{
		li {
			background-color: @onWhite;
		}
		.where{
			color: @onWhite;
		}
	}
}

.fullscroll{
	& #fullpage{
		position: relative;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}
}


.section{
	position: absolute;
	width: 100%;
	height: 100vh;
	letter-spacing: -.45em;
	display: none;
	background-size: cover;
	background-position: center;
	&.active{
		display: block;
	}
}

.fullside{
	display: block;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	&.fullInNext{
		transition: transform 1s cubic-bezier(0.560, 0.000, 0.000, 0.995);
		transform: translateY(0%);
	}
	&.fullOutNext{
		transition: transform 1s cubic-bezier(0.560, 0.000, 0.000, 0.995);
		transform: translateY(-100%); 
	}
	&.fullInPrev{
		transition: transform 1s cubic-bezier(0.560, 0.000, 0.000, 0.995);
		transform: translateY(0%);
	}
	&.fullOutPrev{
		transition: transform 1s cubic-bezier(0.560, 0.000, 0.000, 0.995);
		transform: translateY(100%); 
	}
	&.noTransIn{
		transform: translateY(0%);
	}
}
.side{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 100%;
	transition: transform 1s cubic-bezier(0.560, 0.000, 0.000, 0.995);
	background-size: cover;
    background-position: 50% 80%;
	&:nth-child(1){
		transform: translateY(100%);
		&.in{
			transform: translateY(0%);
		}
		&.out{
			transform: translateY(-100%);
		}
		&.outBack{
			transform: translateY(100%);
		}
	}
	&:nth-child(2){
		transform: translateY(-100%);
		&.in{
			transform: translateY(0%);
		}
		&.out{
			transform: translateY(100%);
		}
		&.outBack{
			transform: translateY(-100%);
		}
	}
}



// хедер 
header{
	position: fixed;
	z-index: 21;
	padding: 0px 2%;
	margin-top: 30px;
	width: 96%;
    transform: translateY(-110%);
    opacity: 0;
    transition: all 1000ms ease;
    transition-delay: 500ms;
	.logo{
		width: 49%;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		letter-spacing: -.45em;
		svg{
			display: inline-block;
			width: 135px;
		}
	}
	.st0{
		fill: @white;
		&.onWhite{
			fill: @onWhite;
		}
	}
	.header-controls{
		width: 50%;
		display: inline-block;
		vertical-align: middle;
		text-align: right;
		letter-spacing: -.45em;
		.btn-block{
			display: inline-block;
		}
	}
	&.load{
		transform: translateY(0%);
		opacity: 1;
	}
}
.header-btn{
	font-family: Gilroy;
	color: @white;
	display: inline-block;
	vertical-align: top;
	font-weight: 800;
	font-size: 12;
	line-height: 12px;
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2.5!important;
	border: 1px solid fade(@white, 50%);
	&.onWhite{
		color: @onWhite;
		border-color: @onWhite;
	}
}
.menu{
	display: inline-block;
	vertical-align: top;
	border: 1px solid fade(@white, 50%);
	border-left-color: transparent;
	position: relative;
    padding: 16px 18px;
    height: 20px;
    width: 24px;
	span{
		display: block;
		background-color: #fff;
		margin-bottom: 7px;
		position: absolute;
		height: 2px;
		width: 17px;
		top: 25px;
		transition: all .45s cubic-bezier(0.245, 0.000, 0.000, 1.005);
		&:before{
	        position: absolute;
		    display: block;
		    left: 0;
		    top: -10px;
		    width: 21px;
		    height: 2px;
		    background-color: #fff;
		    content: "";
		    transition: top .45s cubic-bezier(0.245, 0.000, 0.000, 1.005) .3s, transform .45s cubic-bezier(0.245, 0.000, 0.000, 1.005), width .45s cubic-bezier(0.245, 0.000, 0.000, 1.005);
		}
		&:after{
			position: absolute;
		    display: block;
		    left: 0;
		    bottom: -10px;
		    width: 25px;
		    height: 2px;
		    background-color: #fff;
		    content: "";
		    transition: bottom .45s cubic-bezier(0.245, 0.000, 0.000, 1.005) .3s , transform .45s cubic-bezier(0.245, 0.000, 0.000, 1.005), width .45s cubic-bezier(0.245, 0.000, 0.000, 1.005);
		}
	}
	&.active{
		span{
		    background: 0 0!important;
			&:after{
				bottom: 0px;
				transform: rotate(-45deg);
				width: 25px;
			    transition-delay: 0s,.3s;
			}
			&:before{
				top: 0px;
				transform: rotate(45deg);
				width: 25px;
			    transition-delay: 0s,.3s;
			}
		}
	}
	&:hover span{
		width: 25px;
		&:after, &:before{
			width: 25px
		}
	}
	&.onWhite{
		border-color: @onWhite @onWhite @onWhite transparent;
		span{
			background-color: @onWhite;
			&:after,&:before{
				background-color: @onWhite;
			}
		} 
	}
}

.blacky{
	background-color: @blue;
	p{
		color: @white!important;
	}
}
.white{
	background-color: @white;
}

// стили разделов

.main{
	background-image: url(../img/main.jpg);
	background-size: cover;
	background-position: center;
	.main-text{
		position: absolute;
		left: 50%;
		top: 50%;
	    transform: translate(-50%, -55%);
    	opacity: 1;
		text-align: center;
		transition: all 1000ms cubic-bezier(0.245, 0.000, 0.000, 1.005);
		p{
			width: 45%;
			margin: 0 auto;
		}
	}
	h1{
		margin-top: 0px;
		margin-bottom: 0px;
		font-family: Gilroy;
		font-weight: 300;
		font-size: 5vw;
		line-height: normal;
		letter-spacing: 6.5vw!important;
		text-indent: 8vw;
		text-transform: uppercase;
		color: @white;
		margin-bottom: 70px;
		opacity: 0;
		transition: opacity 3500ms ease, letter-spacing 4500ms ease;
		&.load{
			opacity: 1;
			letter-spacing: 8vw!important;
		}
	}
	p{
		color: @white;
		font-weight: 300;
		line-height: 44px;
		opacity: 0;
		transition: all 1000ms ease;
		transition-delay: .45s;
		&.load{
			opacity: 1;
		}
	}
}
.scroll-down{
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%) translateY(-45%);
	opacity: 0;
	transition: all 800ms ease;
	transition-delay: 800ms;
	padding: 18px;
	border: 1px solid fade(@white, 50%);
	color: @white;
	text-decoration: none;
	span{
		position: absolute;
		text-transform: uppercase;
	    font-family: Gilroy;
	    font-weight: 800;
	    letter-spacing: 10!important;
	    left: 55%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	}
	&.load{
		transform: translateX(-50%) translateY(0%);
		opacity: 1;
	}
}

.main-about{
	.side{
		&:nth-child(1){
			background-image: url(../img/about.jpg);
		}
		&:nth-child(2){
			background-color: @white;
		}
	}
}

.content{
	padding: 25% 22%;
	h2{
		font-family: Gilroy;
		font-weight: 300;
		font-size: 42px;
		color: @onWhite;
		margin-bottom: 12%;
		margin-top: 0px;
		letter-spacing: 2!important;
	}
	p{
		margin-top: 0px;
		font-weight: 300;
		font-size: 18px;
		color: @black;
		line-height: 42px;
		margin-bottom: 12%;
	}
	.btn{
		display: inline-block;
		font-family: Gilroy;
		font-weight: 800;
		font-size: 14px;
		line-height: 14px;
		letter-spacing: 2.5!important;
		padding: 25px 70px;
		border: 1px solid @cyan;
		color: @onWhite;
		background-color: transparent;
		text-decoration: none;
		text-transform: uppercase;
		transition: all .45s ease-out;
		&:hover{
			background-color: @cyan;
			color: @white;
		}
	}
}

.main-wellness{
	.side{
		&:nth-child(1){
			background-color: @blue;
			.content{
				.btn{
					color: @white;
				}
				p{
					color: @white;
				}
			}
		}
		&:nth-child(2){
			background-image: url(../img/wellness.jpg);
		}
	}
}
.main-services{
	.fullside{
		.item{
			position: relative;
			overflow: hidden;
			cursor: url(../img/Cursor.svg), pointer;
			a{
				width: 100%;
				height: 100%;
				display: block;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			    transform: scale(1.01);
				transition: all 1000ms cubic-bezier(0.245, 0.000, 0.000, 1.005);
				cursor: url(../img/Cursor.svg), pointer;
				&.s1{
					background-image: url(../img/s1.jpg);
				}
				&.s2{
					background-image: url(../img/s2.jpg);
				}
				&.s3{
					background-image: url(../img/s3.jpg);
				}
				&.s4{
					background-image: url(../img/s4.jpg);
				}
				&.s5{
					background-image: url(../img/s5.jpg);
				}
			}
			&:hover a{
				transform: scale(1.25);
			}
			p{
				margin-top: 0px;
				margin-bottom: 0px;
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-family: Gilroy;
				font-weight: 300;
				font-size: 42px;
				line-height: 70px;
				color: @white;
				text-transform: uppercase;
				letter-spacing: 10!important;
			}
		}
		
	}
}

.left{
	position: absolute;
    left: 45;
    bottom: 50px;
    z-index: 5;
    padding: 18px;
    border: 1px solid fade(@white, 50%);
    transition: all .45s ease-out;
    background-color: transparent;
    &:hover{
    	background-color: @cyan;
    	border-color: transparent;
    }
	img{
		width: auto;
	}
	span{
	    position: absolute;
	    transform: rotate(-90deg);
	    color: #fff;
	    margin: 0 auto;
	    top: -7px;
	    bottom: 0;
	    left: 28%;
	    text-transform: uppercase;
	    font-family: Gilroy;
	    font-weight: 800;
	    letter-spacing: 10!important;
	}
}

.right{
	position: absolute;
    right: 45;
    bottom: 50px;
    z-index: 5;
    padding: 18px;
    border: 1px solid fade(@white, 50%);
    transition: all .45s ease-out;
    background-color: transparent;
    &:hover{
    	background-color: @cyan;
    	border-color: transparent;
    }
	img{
		width: auto;
	}
	span{
	    position: absolute;
	    transform: rotate(-90deg);
	    color: #fff;
	    margin: 0 auto;
	    top: -7px;
	    bottom: 0;
	    left: 16%;
	    text-transform: uppercase;
	    font-family: Gilroy;
	    font-weight: 800;
	    letter-spacing: 10!important;
	}
}
.footer{
	background-color: @blue;
	width: 100%;
	height: 100%;
	position: relative;
	.f-content{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 55%;
		.table{
			display: inline-block;
			vertical-align: top;
			width: 65%;
			table{
				width: 100%;
			}
			tr{
				outline: 1px solid @cyan;
				td{
					padding: 35px 38px;
					&:first-child{
						text-align: left;
					}
					&:last-child{
						text-align: right;

					}
				}
				.label span{
					font-size: 16px;
					font-weight: 300;
					text-transform: uppercase;
					color: #3e4b5c;
				}
				.info{
					font-size: 16px;
					font-weight: 300;
					color: #738091!important;
					a{
						color: #738091!important;
					}
				}
			}
		}
		.socials{
			display: inline-block;
			vertical-align: top;
			float: right;
			ul{
				margin-top: 0px;
				margin-bottom: 0px;
				margin-left: 45px;
				list-style: none;
				padding-left: 0px;
				li{
					margin-bottom: 33px;
					a{
						display: inline-block;
						text-align: center;
						width: 183px;
						border: 1px solid @cyan;
						padding: 25px 0px;
						font-size: 12px;
						font-weight: 300;
						text-transform: uppercase;
						letter-spacing: 2.5!important;
						color: @white;
						text-decoration: none;
						background-color: transparent;
						transition: all .45s ease-out;
						&:hover{
							background-color: @cyan;
						}
					}
				}
			}
		}
	}
}


// Всплывахи

#menu{
	position: fixed;
	background-color: @blue;
	z-index: 20;
	width: 100%;
	height: 100%; 
	display: none;
    /* .fade{
    	width: 100%;
    	height: 20%;
    	background-color: @blue;
    	position: absolute;
    	left: 0;
    		transform: translateX(-100%);
    		transition: transform 200ms cubic-bezier(0.245, 0.005, 0.005, 0.995) .3s;
    	&:nth-child(2n){
    		right: 0;
    			transform: translateX(100%)
    	}
    	&.in{
    		transform: translateX(0);
    		transition-delay: 0s;
    		&:nth-child(2){
    	    		top: 20%;
    				transition-delay: .10s;
    	    	}
    	    	&:nth-child(3){
    	    		top: 40%;
    				transition-delay: .15s;
    	    	}
    	    	&:nth-child(4){
    	    		top: 60%;
    				transition-delay: .20s;
    	    	}
    	    	&:nth-child(5){
    	    		top: 80%;
    	    		transition-delay: .25s;
    	    	}
    	}
    	&:nth-child(2){
    		top: 20%;
    			transition: transform 200ms cubic-bezier(0.245, 0.005, 0.005, 0.995) .25s;
    	}
    	&:nth-child(3){
    		top: 40%;
    			transition: transform 200ms cubic-bezier(0.245, 0.005, 0.005, 0.995) .20s;
    	}
    	&:nth-child(4){
    		top: 60%;
    			transition: transform 200ms cubic-bezier(0.245, 0.005, 0.005, 0.995) .15s;
    	}
    	&:nth-child(5){
    		top: 80%;
    		transition: transform 200ms cubic-bezier(0.245, 0.005, 0.005, 0.995) .10s;
    	}
    } */
	ul{
		list-style: none;
		padding: 0px;
		margin: 0px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		li{
			margin-bottom: 15%;
			&:last-child{
				margin-bottom: 0px;
			}
		}
		li a{
			color: @white;
			font-family: Gilroy;
			font-size: 24px;
			font-weight: 300;	
			letter-spacing: 5px!important;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			transition: all .45s ease-out;
			&:hover{
				color: @cyan;
			}
		}
	}
	.side{
		transform: translate(0%)!important;
		opacity: 1;
		transition: opacity .45s ease-out 0s;
	}
	.switcher{
		position: absolute;
		left: 40px;
		bottom: 40px;
		a{
			font-family: Gilroy;
			font-size: 16px;
			margin-right: 27px;
			font-weight: 300;
			color: @onWhite;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 5!important;
			transition: all .35s cubic-bezier(0.245, 0.005, 0.005, 0.995);
			&.active{
				color: @white;
				font-weight: 800;
			}
			&:hover{
				color: @white;
			}
		}
	}
	.copyright{
		position: absolute;
		right: 40px;
		bottom: 40px;
		font-family: Gilroy;
		font-weight: 800;
		font-size: 14px;
		text-transform: uppercase;
		color: @onWhite;
		letter-spacing: 5!important;
	}
}
.white-modal{
	position: fixed;
	z-index: 23;
	width: 100%;
	height: 100%;
	background-color: @white;
	display: none;
	.success{
		display: none;
		p{
			font-size: 18;
			font-weight: 300;
			line-height: 42px;
			width: 40%;
		}
	}
	.copyright{
		position: absolute;
		left: 40px;
		bottom: 40px;
		font-family: Gilroy;
		font-weight: 800;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 5!important;
		color: #B5B8BE;
	}
	.anim{
		transition: all .35s cubic-bezier(0.245, 0.005, 0.005, 0.995);
		opacity: 0;
		transform: translateY(-25%);
		transition-delay: 0s;
		&.in{
			opacity: 1;
			transform: translateY(0%);
		}
	}
	img{
		position: absolute;
		left: 2%;
		top: 44px;
		width: 135px;
	}
	.close{
		position: absolute;
		right: 50px;
		top: 30px;
		border: 1px solid #B5B8BE;
	    padding: 16px 18px;
	    height: 20px;
	    width: 24px;
		span{
			display: block;
			background-color: @onWhite;
			margin-bottom: 7px;
			position: absolute;
			height: 2px;
			width: 25px;
			top: 25px;
			transition: all .45s cubic-bezier(0.245, 0.000, 0.000, 1.005);
			&:nth-child(1){
				transform: rotate(-45deg);
			}
			&:nth-child(2){
				transform: rotate(45deg);
			}
		}
	}
	.faq-content{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    width: 65%;
	}
	h2{
		margin-top: 0px;
		font-family: Gilroy;
		font-weight: 300;
		font-size: 42px;
		text-transform: uppercase;
		color: @onWhite;
		letter-spacing: 5!important;
		margin-bottom: 85px;

	}
	.info-row{
		margin-bottom: 65px;
	}
	.field{
		display: inline-block;
		margin-right: 10%;
		&:nth-child(1){
			width: 30%;
			&.anim{
				transition-delay: .10s;
			}
		}
		&:nth-child(2){
			width: 58%;
			margin-right: 0px;
			&.anim{
				transition-delay: .20s;
			}
		}
		&.full{
			width: 100%;
			margin-right: 0px;
			&.anim{
				transition-delay: .30s;
			}
		}
		label{
			display: block;
			font-family: Gilroy;
			font-weight: bold;
			font-size: 14px;
			color: #B5B8BE;
			text-transform: uppercase;
			letter-spacing: 2.5!important;
			margin-bottom: 15px;
		}
		input[type='text']{
			padding: 12px 5px;
			border: none;
			border-bottom: 1px solid @black;
			outline: none;
			width: 100%;
		}
		textarea{
			width: 100%;
			padding: 12px 5px;
			resize: none;
			border: none;
			border-bottom: 1px solid @black;
			outline: none;
		}
	}
	.btn{
		transition-delay: .40s;
	}
}
.record{
	.service-list{
		margin-top: 60px;
		input[type="checkbox"]{
			visibility: hidden;
			display: inline-block;
			width: 0px; 
			height: 0px;
		    margin-left: -5px;
		}
		label{
			display: inline-block;
			text-transform: none;
			font-size: 18px;
			transition: all .45s ease-out;
			cursor: pointer;
			margin-right: 70px;
			&:last-child{
				margin-right: 0px;
			}
		}
		input[type="checkbox"]:checked + label{
			color: @onWhite!important;
		}
	}
}
.preloader{
	position: fixed;
	width: 100%;
	height: 100%;
	right: 0;
	background-color: @white;
	z-index: 123;
	animation: preloaderOut .45s ease-in-out;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
	img{
		width: 225px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	    mix-blend-mode: color-dodge;
	}
	.loading{
		width: 0%;
		height: 100%;
		background-color: @blue;
		animation: preloader 1.5s linear;
		animation-fill-mode: forwards;
		z-index: 2;
		img{
		    mix-blend-mode: difference;
			z-index: 1
		}
	}
}
.main-carousel .owl-item{
	cursor: url(../img/Cursor.svg), pointer;
}
@keyframes preloader{
	0%{
		width: 0%;
	}
	65%{
		width: 55% 
	}
	70{
		width: 70%
	}
	80%{
		width: 85% 
	}
	100%{
		width: 100%;
	}
} 
@keyframes preloaderOut{
	0%{
		width: 100%;
		opacity: 1;
	}
	100%{
		width: 0%;
	}
}  

.btn{
	display: inline-block;
	font-family: Gilroy;
	font-weight: 800;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 2.5!important;
	padding: 25px 70px;
	border: 1px solid @cyan;
	color: @onWhite;
	background-color: transparent;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .45s ease-out;
	cursor: pointer;
	&:hover{
		background-color: @cyan;
		color: @white;
	}
}
.divvideo{
	position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}
.video-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: fade(@blue, 30%);
}


@import 'about.less';
@import 'wellness.less';
@import 'service.less';


// text 

.text{
	.content{
	    padding: 15% 15% 0% 15%;
		height: 88%;
		top: auto;
		left: auto;
		right: auto;
		transform: translate(0%);
		.back{
			color: @onWhite;
			opacity: 0.5;
			font-size: 14px;
			font-weight: 800;
			text-decoration: none;
			margin-bottom: 50px;
			text-transform: uppercase;
			display: inline-block;
			transition: all .45s cubic-bezier(0.245, 0.000, 0.000, 1.005);
			&:hover{
				opacity: 1;
			}
		}
		h1{
			margin-top: 0px;
			margin-bottom: 50px;
			font-size: 36px;
			line-height: 54px;
			font-weight: 800;
			color: @onWhite;
			text-transform: uppercase;
		}
		p{
			margin-top: 0px;
			margin-bottom: 50px;
			line-height: 42px;
			font-weight: 400;
			color: @onWhite;
		}
		img{
			margin-bottom: 50px;
		}	
	}
}

.mCSB_outside+.mCSB_scrollTools {
    left: -8px;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #c5d1dc;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position: relative;
    width: 6px;
    height: 100%!important;
    margin: 0 auto;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
    background-color: @cyan!important;
}
.mCSB_outside + .mCSB_scrollTools{
	height: 100%;
}

.disabled{
	display: none!important;
}



// 404 styles 

.fail-page{
	background-image: url(../img/404.jpg);
	background-position: 0% 0%;
	.fail-content{
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		span{
			color: @white;
			font-size: 24px;
			display: block;
			line-height: 34px;
			margin-bottom: 35px;
		}
		.btn{
			border-color: @white;
			color: @white;
			&:hover{
				border-color: @cyan;
			}
		}
	}
}

// map 

.abs-map-content{
	position: absolute;
	z-index: 18;
	top: 18%;
	left: 18%;
	h1{
		margin-top: 0px;
		margin-bottom: 100px;
		font-family: Gilroy;
		font-weight: 300;
		font-size: 42px;
		letter-spacing: 6!important;
		text-transform: uppercase;
		color: @white;
	}
	ul{
		list-style: none;
		padding-left: 0px;
		margin-bottom: 100px;
		li{
			color: @white;
			font-size: 24px;
			font-weight: 300;
			margin-bottom: 50px;
		}
	}
	.social{
		width: 430px;
		a{
			display: inline-block;
		    text-align: center;
		    width: 180px;
		    border: 1px solid #2c94ff;
		    padding: 15px 0px;
		    font-size: 12px;
		    font-weight: 300;
		    text-transform: uppercase;
		    letter-spacing: 2.5!important;
		    color: #fff;
		    text-decoration: none;
		    background-color: transparent;
		    transition: all 0.45s ease-out;
		    margin-right: 60px;
		    margin-bottom: 55px;
		    &:hover{
		    	background-color: @cyan;
		    }
		    &:nth-child(2n){
		    	margin-right: 0px;
		    }
		}
	}
}
.header{
	.left, .right{
		display: none;
	}
}

.panoview{
	color: @white;
	text-transform: uppercase;
	font-size: 12px;
	background-color: @cyan;
	padding: 14px 28px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	text-decoration: none;
	font-family: Gilroy;
	font-weight: 800;
	letter-spacing: 2.5!important;
	transition: all .35s ease-out;
	&:hover{
		background-color: @white;
		color: @cyan;
	}
}

@media (max-width: 1367px){
	.main h1{
		margin-bottom: 22px;
	}
	#navigator{
		right: 3%;
	}
	.main p{
		margin-top: 0px;
	    font-size: 16px;
    	line-height: 30px;
	}
	.content {
        padding: 0%;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 65%;
        transform: translate(-50%, -50%);
	}
	.content h2{
	    font-size: 36px;
        margin-bottom: 10%;
	}
	.content p{
		font-size: 16px;
		line-height: 32px;
	}
	.side{
		position: relative;
	}
	.main-services .fullside .item p{
	    font-size: 34px;
    	line-height: 54px;
	}
	.footer .f-content .table tr td{
	    padding: 25px 20px;
	}
	.footer .f-content .table{
	    width: 420px;
	}
	.footer .f-content .socials ul li{
		margin-bottom: 30px;
	}
	.footer .f-content .socials ul{
		margin-left: 80px;
	}
	#menu ul li{
		margin-bottom: 10%;
	}
	#menu ul li a{
		font-size: 20px;
	}
	#faq .faq-content {
	    padding: 7% 16%;
	}
	#faq h2{
	    font-size: 34px;
        margin-bottom: 60px;
	}
	#faq .info-row {
	    margin-bottom: 55px;
	}
	.fail-page{
		overflow: hidden;
	}
	.panorama .cycle{
		background-size: initial;
	}
 	.serts{
 		min-height: 100vh;
 		height: auto;
		.container{
		    padding: 6% 8%;
		}
	}
	.serts .sertificates{
	    height: 430px;
	}
	.partners{
		height: 150vh;
	} 
	.footer .f-content{
		width: 55%;
	}
	.footer .f-content .socials{
		float: right;
	}
	.footer .f-content .socials ul{
		margin-left: 30px;
	}
	.trainer-cont .header .text{
		width: 100%;
	}
	.trainer-cont .blue-tabs{
		margin-bottom: 15px;
	}
	.trainer-cont .header h2{
		margin-bottom: 4%;
		font-size: 2.5vw;
		line-height: 3vw;
	}
	.trainer-cont .header .name{
		width: 100%;
	}
	.trainer-slider-section .half-slider{
		&.left{
			left: 25px;
   			bottom: 30px;
		}
		&.right{
			right: 25px;
   			bottom: 30px;
		}
	}
	.trainer-cont .blue-tabs a {
	    font-size: 0.8vw;
	}
	.trainer-cont .header .name{
		margin-bottom: 4%;
	}
	.trainer-cont .header .name{
		margin-bottom: 5%;
	}
	.trainer-cont .trainer ul li{
		margin-bottom: 25px;
	}
	.blue-tabs a{
	    margin-bottom: 18px;
	}
	.trainer-cont .blue-tabs{
		margin-bottom: 35px;
	}
	.trainer-cont{
		padding: 12% 0px;
	}
	.trainer-cont .header .btn{
	    padding: 15px 65px;
        font-size: 0.8vw;
	}

}

@media (max-width: 1025px){
	.text .content{
	    max-height: 100vh;
	    width: 70%;
	    height: 90%;
	}
	.fail-page{
		background-position: 50% 0px;
		height: 100vh;
	}
	.mission{
		background-attachment: inherit;
	}
	.trainer-cont .header .btn{
		font-size: 10px;
	}
	.serts .container{
	    padding: 10% 8%;
	}
	.preloader{
		h2{
			font-size: 72px;
		}
	}
	.trainer-cont .blue-tabs a {
	    font-size: 1.2vw;
	}
	.trainer-cont{
		padding: 18% 0px;
	}
	.panorama{
		height: 75vh;
	}
	.main-services .fullside .item a{
		transition: none;
		&:hover{
		    transform: scale(1.01);
		}
	}
	.fullscroll #fullpage{
		overflow: visible;
	}
	.fail-page .side:nth-child(2) {
	    height: 100vh;
	}
	.fail-page .side:nth-child(1) {
	    display: none;
	}
	.divvideo{
		display: none;
	}
	.video-overlay{
		display: none;
	}
	.content .btn{
	    font-size: 12px;
	    line-height: 14px;
	    letter-spacing: 2.5!important;
	    padding: 20px 30px;
	}
	.main-services .fullside .item p {
	    font-size: 20px;
	    line-height: 36px;
        letter-spacing: 4!important;
	}
	.footer .f-content{
		width: 800px;
	}
	.footer .f-content .table{
		display: block;
		width: auto;
		table{
			margin: 0 auto;
		}
	}
	.footer .f-content .socials ul{
		margin-left: 0px;
	}
	.footer .f-content .socials ul li{
		margin-right: 30px;
		float: left;
		&:last-child{
			margin-right: 0px;
		}
	}
	.footer .f-content .socials ul li a{
		width: 172px;
	}
	.footer .f-content .socials{
	    margin-top: 45px;
	}
	.white-modal .faq-content {
	    padding: 12% 5%;
	}
	.white-modal .field label{
		font-size: 12px;
	}
	.record .service-list label{
		font-size: 16px;
		margin-right: 55px;
	}
	.white-modal h2{
		font-size: 36px;
		margin-bottom: 65px;
	}
	.white-modal h2{
		margin-top: 40px;
	}
	.main h1 {
	    margin-bottom: 22px;
        font-size: 6vw;
        text-indent: 6vw;
	}
	.no-fullpage .main .main-text p{
		width: 55%;
	}
	.title{
	    font-size: 42px;
    	line-height: 60px;
   		margin-bottom: 50px;
	}
	.simple-text{
	    font-size: 16px;
    	line-height: 36px;
	}
	.mission .mission-text{
		width: 45%;
	}
	.serts{
		height: auto!important;
		min-height: auto!important;
		.container {
		    padding: 14% 8%;
		}
	}
	.serts .sertificates {
		height: auto;
		width: 100%;
	}
	.partners{
		min-height: 100vh;
		height: auto;
	}
	.blue-tabs-content .cont a img {
	    margin-bottom: 25px;
	}
	.blue-tabs-content .cont .partner-info p {
	    line-height: 24px;
	    font-size: 14px;
	    margin-bottom: 30px;
	}
	.grid .item .tag{
		left: 20px;
	}
	.grid .item .item-content p{
		font-size: 24px;
	    line-height: 36px;
	}
	.group-filter button{
		margin-right: 65px;
	}	
}
@media (max-width: 769px){
	#fullpage{
		height: 100%;
	}
	.fail-page{
		height: 100vh!important;
	}
	.fail-content{
		width: 80%;
	}
	.trainer-cont .blue-tabs a {
	    font-size: 1.8vw;
	}
	.panorama{
		display: none!important;
	}
	.record .service-list label {
	    font-size: 14px;
	    margin-right: 18px;
	}
	#navigator{
		display: none;
	}
	.scroll-down{
		display: none!important;
	}
	.preloader{
		h2{
			font-size: 32px;
		}
	}
	.section{
		display: block;
		position: relative;
		height: auto;
		&.main{
			height: 100vh;
		}
		&.second{
			.side{
				&:nth-child(1){
					transform: translateY(100%)!important;
				}
				&:nth-child(2){
					transform: translateY(-100%)!important;
				}
			}
		}
	}
	.side{
		transform: translateY(0%)!important;
		width: 100%;
		height: 55vh;
		background-position: 50% 50%;
	}
	.fullside{
		transform: translateY(0%)!important;
	}
	.footer .f-content{
		width: 585px;
	}
	.footer .f-content .socials {
	    display: block;
	    margin: 0 auto;
	    margin-top: 45px;
	    min-height: 10px;
	    width: 379px;
	}
	.footer .f-content .socials ul li:nth-child(2n){
		margin-right: 0px;
	}
	#menu .side{
		height: 100vh;
	}
	#menu ul li a {
	    font-size: 30px;
	}
	#faq .faq-content{
	    padding: 25% 16%;
	}
	#faq .field{
		width: 100%!important;
	}
	#faq .field:nth-child(1) {
	    margin-bottom: 55px;
	}
	.main h1 {
	    margin-bottom: 50px;
	    font-size: 6vw;
	}
	.mission{
		background-position: 25%;
		.mission-text{
			position: relative;
			&.in{
				transform: translate(0%, 0%);
			}
		}
	}
	.serts .container {
	    padding-top: 12%;
	    padding-right: 6%;
	    padding-bottom: 18%;
	    padding-left: 6%;
	}
	.question .quest-container {
	    position: relative;
	    padding: 10%;
	    left: auto;
	    right: auto;
	    transform: translate(0%);
	}
	.main .main-text p{
		width: 84%;
	}
	.services{
		.side:nth-child(1){
		    transform: translateY(100%)!important;
		}
		.side:nth-child(2) {
		    transform: translateY(-100%)!important;
		}
	}
	.trainer-slider-section{
		background-color: @white;
		.side:nth-child(1){
			display: none;
		}
		.side:nth-child(2){
			transform: translateY(0%)!important;
			height: auto;
			min-height: 100vh;
			background-color: @white;
		}
		.img-container{
			display: block;
			div{
			    height: 35%;
			    background-position: top;
			    margin-bottom: 30px;
			    display: block!important;
			}
		}
		.left, .right{
			display: none;
		}
		.header{
			position: relative;
			.left{
				display: block!important;
				top: 0px;
				left: auto;
				right: 86px;
				bottom: auto;
				img{
					width: 30px;
				}
			}
			.right{
				display: block!important;
				top: 0px;
				right: 0px;
				bottom: auto;
				img{
					width: 30px;
				}
			}

		}
		.trainer-cont{
			padding: 16% 0px 10% 0px;
		}
	}
	.footer .f-content .socials{
		float: none;
	}
	.trainer-cont .blue-tabs .tabs-cont{
		width: 47%;
	}
	.main-about{
		background-color: @onWhite;
	}
	.partners {
	    min-height: 81vh;
	    height: auto;
	}
	.group-filter button{
		margin-right: 22px;
	}
	.wellness-main{
		background-position: 100%;
	}
	.grid .item{
		width: 50%;
	}
	#map{
		height: 100vh;
	}
	.white-modal .success p {
	    font-size: 18;
	    font-weight: 300;
	    line-height: 38px;
	    width: 100%;
	}
}
@media (max-width: 479px){
	.no-fullpage .main .main-text p{
		width: 85%;
	}
	.fail-page{
		.content{
			width: 90%;
		}
	}
	.main-about .side:nth-child(2){
		height: 82vh;
	}
	.fail-page .content h1{
		font-size: 150px;
	}
	.fail-page .content h2{
		line-height: 58px;
	}
	.text .side:nth-child(1){
		height: 50vh;
	}
	.text .content{
	    width: 90%;
    	height: 90%;
    	max-height: auto;
	    padding: 5%;
	}
	.text .content img{
		width: 100%;
	}
	.text .content .back{
		margin-bottom: 30px;
	}
	.text .content h1{
		margin-bottom: 30px;
	    font-size: 30px;
        line-height: 42px;
	}
	.text .content p{
		line-height: 32px;
	    margin-bottom: 30px;
	}
	.group-filter button{
	    width: 40%;
	    margin-right: 25px;
        margin-bottom: 20px;
	}
	.grid .item{
		width: 100%;
	}
	.grid .item .tag{
		left: 20px;
    	top: 56px;
	}
	.white-modal h2 {
	    font-size: 26px;
        margin-bottom: 30px;
	}
	#menu .switcher {
	    position: absolute;
	    left: 2%;
	    bottom: 40px;
	}
	#menu .copyright, .white-modal .copyright{
	    left: 2%;
    	bottom: 3%;
    	font-size: 8px;
	}
	.record .service-list{
		margin-top: 10px;
	}
	#menu ul li a {
	    font-size: 18px;
	    line-height: 28px;
	}
	#menu ul li {
	    margin-bottom: 8%;
	}
	.white-modal img{
		top: 34px;
	}
	.white-modal .close{
		top: 20px;
	}
	.white-modal .field:nth-child(1) {
	    width: 100%;
	    margin-bottom: 30px;
	}
	.white-modal .field:nth-child(2) {
	    width: 100%;
	    margin-bottom: 30px;
	}
	.main .main-text p{
		width: 100%;	
	}
	.white-modal .field label{
		margin-bottom: 0px;
	}
	.white-modal .field input[type='text']{
	    padding: 8px 5px;
	}
	.white-modal .field textarea{
	  	padding: 8px 5px;
	}
	.white-modal .info-row{
		margin-bottom: 0px;
	}
	.main{
		background-position: 75% 50%;
	}
	header .logo img {
	    display: inline-block;
	    width: 96px;
	}
	.footer .f-content{
		width: 300px;
	}
	header .logo{
		width: 40%;
	}
	header .header-controls{
   		width: 58%;
	}
	.header-btn{
	    font-size: 8px;
	    line-height: 12px;
	    padding: 10px;
	}
	.menu{
	    padding: 16px 16px;
	    height: 0px;
	    width: 3px;
	}
	.footer .f-content .table tr td{
		padding: 18px 16px; 
	}
	.footer .f-content .table tr .label span{
		font-size: 14px;
	}
	.footer .f-content .table tr td:last-child{
		font-size: 14px;
	}
	.footer .f-content .socials{
		width: 300px;
	}
	.footer .f-content .socials ul li{
		margin-right: 25px;
		margin-bottom: 25px;
	}
	.footer .f-content .socials ul li a{
		font-size: 10px;
		width: 135px;
		padding: 20px 0px;
	}
	.menu span{
	    height: 2px;
        width: 11px;
	    left: 10px;
	    top: 15px;
	}
	.menu span:after{
		width: 17px;
		bottom: -7px;
	}
	.menu span:before{
		top: -7px;
		width: 14px;
	}
	.menu{
		&:hover span, &:hover span:after, &:hover span:before{
			width: 17px;
		}
	}
	header{
	    margin-top: 18px;
	}
	header .header-controls .btn-block{
		margin-right: -2px;
	}
	.main h1{
		font-size: 8vw;
		margin-bottom: 30px;
	}
	.main p{
		font-size: 12px;
		font-weight: 12px;
	}
	.main-about .side:nth-child(1){
		.side{
			&:nth-child(1){
				transform: translateY(0%)!important;
			}
			&:nth-child(2){
				transform: translateY(0%)!important;
			} 
		}
	}
	.side{
		transform: translateY(0%)!important;
		width: 100%;
		height: 70vh;
	}
	.content{
		width: 75%;
	}
	.content h2 {
	    font-size: 25px;
	    margin-bottom: 8%;
	}
	.content p {
	    font-size: 14px;
	    line-height: 28px;
        margin-bottom: 10%;
	}
	#faq h2 {
	    font-size: 28px;
	    margin-bottom: 40px;
	}
	#faq .info-row{
	    margin-bottom: 30px;
	}
	#faq .field{
		width: 100%!important;
	}
	#faq .field label{
		margin-bottom: 10px;
		font-size: 10px;
	}
	#faq .field input[type='text']{
	    padding: 5px 5px;
	}
	#faq .field:nth-child(1) {
	    width: 100%;
	    margin-bottom: 30px;
	}
	#faq .field textarea{
		padding: 5px;
	}
	#faq .field.full{
		margin-bottom: 0px;
	}
	#faq img {
	    position: absolute;
	    left: 2%;
        top: 26px;
	    width: 96px;
	}
	#faq .close{
	    padding: 16px 16px;
	    height: 0px;
	    width: 3px;
        top: 16px;
	}
	#faq .close span{
	    top: 15px;
	    left: 10px;
    	width: 17px;
	}
	#faq .faq-content {
	    padding: 22% 8%;
	}
	.trainer-cont .header h2 {
	    font-size: 22px;
	    line-height: 32px;
	    margin-bottom: 20px;
	    padding-top: 57px;
	}
	.trainer-slider-section .header .left{
		padding: 14px 10px;
		right: auto;
		left: 0px;
	}
	.trainer-slider-section .header .right{
	    padding: 14px 10px;
	    right: auto;
	    left: 65px;
	}
	.trainer-slider-section .trainer-cont {
	    padding: 24% 0px 10% 0px;
	}
	.trainer-cont .header .name{
	    width: 50%;
	}
	.trainer-cont .header .text{
		width: 100%;
	}
	.blue-tabs.lefty a {
	    font-size: 11px;
	    margin-right: 10px;
	    margin-bottom: 20px;
	}
	.blue-tabs a {
	    font-size: 14px;
	    margin-right: 10px;
	    margin-bottom: 20px;
	}
	.trainer-cont .blue-tabs .tabs-cont{
		width: 80%;
	}
	.trainer-cont .header .btn{
		float: none;
		margin-bottom: 20px;
		font-size: 12px;
	}
	.mission .mission-text{
		width: 100%;
	}
	.panorama{
		display: none!important;
	}
	.title {
	    font-size: 24px;
	    line-height: 42px;
	    margin-bottom: 40px;
	    letter-spacing: 10!important;
	}
	.simple-text {
	    font-size: 14px;
	    line-height: 32px;
	}
	.serts .container{
		padding-bottom: 50%;
	}
	.partners {
	    min-height: 124vh;
	    height: auto;
	}
	.btn{
		font-size: 12px;
		padding: 25px 44px;
	}
	.question .quest-container p {
	    margin-bottom: 50px;
	}
	.abs-map-content{
	    top: 12%;
    	left: 5%;
    	position: static;
    	background-color: @blue;
    	padding: 25% 5% 10% 5%;
	}
	.abs-map-content h1{
		font-size: 24px;
	    margin-bottom: 20px;
	}
	.abs-map-content ul{
		margin-bottom: 20px;
	}
	.abs-map-content ul li{
	    font-size: 14px;
        margin-bottom: 15px;
	}
	.abs-map-content .social{
		width: 100%;
	}
	.abs-map-content .social a{
		margin-bottom: 15px;
	    width: 160px;
	}
	.blue-tabs-content .cont .partner-info{
		display: block;
	}
	.grid{
		.special{
			display: none;
		}
		&.mobile{
			display: block;
			.special{
				display: block;
			}
		}
	}
	.wellness-main{
		h1{
			font-size: 7vw;
		    letter-spacing: 7vw!important;
		}
	}
	.white-modal .close{
		right: 2%;
		z-index: 3;
	}
	.white-modal .faq-content{
		position: static;
		top: auto;
		left: auto;
		transform: translate(0%);
		width: 90%;
	}
	.no-fullpage{
		.fullside{
			height: 100vh;
		}
	}
	.preloader{
		position: fixed;
		width: 100%;
		height: 100%;
		right: 0;
		background-color: @white;
		z-index: 123;
		animation: none;
	} 

}
@media (max-width: 321px){
	.blue-tabs.lefty a {
	    font-size: 10px;
	    margin-right: 10px;
	    margin-bottom: 20px;
	}
	.blue-tabs a {
	    font-size: 14px;
	    margin-right: 10px;
	    margin-bottom: 20px;
	}
	.side{
		transform: translateY(0%)!important;
		width: 100%;
		height: 78vh;
	}
	.main-services .fullside .left{
		left: 15px;
	}
	.main-services .fullside .right{
		right: 15px;
	}
	#menu .side{
		height: 100vh;
	}
}