@brown: #71441b;
@gray: #f3f4f4;
@white: #ffffff;
@black: #454545;
@light-gray: #f1f2f2;
@dark-gray: #808080;
@dgray: #8b8b8b;
@red: #f9593a;
@yellow: #fdd62b;
@darker-yellow: #f5aa18;
@rent: #e6e6e6;
@ptag: #8f75be;
@tab-gray: #d0d0d0;
@common-gray: #e1e1e1;
@gift-row: #ececec;

// цвета для фильтра: 
@orange: #f49137;
@green: #70b631;
@cyan: #43adc8;
@purple: #8f75be;
@deep-black: #000000;

// анимации
@ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1);
@fast-ease: cubic-bezier(0.500, 0.015, 0.505, 1.005);