
<div class="content-container">
  <div class="page-control-line"><a href="/" ng-click="back()" class="page-link back">
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#left-arrow"></use>
      </svg><span>Главная страница</span></a>
    <div class="line-center">
      <div class="title-block">
        <h1 class="name-span">Услуги</h1>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="text-container">
      <div class="text-with-hidden-part">
        <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. </p>
        <div class="hidden-part">
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. </p>
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. </p>
        </div><a href="" target="_self" class="hidden-toggle"><span>Читать дальше</span>
          <svg viewBox="0 0 76 76" class="svgico arrow-small-icon">
            <use xlink:href="#arrow-bottom"></use>
          </svg></a>
      </div>
      <div class="services-block"><a href="#!services/service" ng-click="next()" class="line-item black">
          <div class="tag">УСЛУГИ</div><span class="line-visible"></span><span class="line-invisible"></span>
          <div class="name">Персональные<br>решения</div>
          <div class="more">подробнее</div></a><a href="#!services/service" ng-click="next()" class="line-item black">
          <div class="tag">УСЛУГИ</div><span class="line-visible"></span><span class="line-invisible"></span>
          <div class="name">Комплексная<br>модернизация</div>
          <div class="more">подробнее</div></a><a href="#!services/service" ng-click="next()" class="line-item black">
          <div class="tag">УСЛУГИ</div><span class="line-visible"></span><span class="line-invisible"></span>
          <div class="name">Обучение</div>
          <div class="more">подробнее</div></a></div>
    </div>
  </div>
</div>