
<div class="content-container">
  <div class="page-control-line"><a href="#!services/index" ng-click="back()" class="page-link back">
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#left-arrow"></use>
      </svg><span>Список услуг</span></a>
    <div class="title-block"><span class="top-tag">Услуги</span><span class="name-span">Персональные решения</span></div>
  </div>
  <div class="page-content">
    <div class="square-links-services"><a href="#!clients" ng-click="next()" class="item page">
        <p>Устанавливаем оборудование на пробный период  БЕСПЛАТНО</p>
        <div class="bottom">
          <div class="link">подробнее</div><img src="img/Icon/icon_product/icon_product_1.svg" alt=""/>
        </div></a><a href="#!clients" ng-click="next()" class="item page">
        <p>Проводим бесплатное обучение ваших сотрудников</p>
        <div class="bottom">
          <div class="link">подробнее</div><img src="img/Icon/icon_product/icon_product_2.svg" alt=""/>
        </div></a><a href="#!clients" ng-click="next()" class="item page">
        <p>Мы предлагаем клиентам удалённую техническую поддержку. Всегда на связи, всегда поможем</p>
        <div class="bottom">
          <div class="link">подробнее</div><img src="img/Icon/icon_product/icon_product_3.svg" alt=""/>
        </div></a></div>
    <div class="text-container">
      <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. </p>
      <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка.</p>
      <div class="service-row">
        <div class="col"><img src="img/text_img.jpg" alt=""/></div>
        <div class="col">
          <h3>зучение механизма движения информации в кредитно-финансовых</h3>
        </div>
      </div>
      <div class="service-row">
        <div class="col">
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка.</p>
        </div>
        <div class="col"><img src="img/pr1.jpg" alt=""/></div>
      </div>
    </div>
  </div>
</div>