<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<title>Этажи - строительная компания</title>
	<link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="../static/css/fotorama.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
</head>
<body>
	
<div class="main-wrapper">
	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6 vcenter">
					<div class="logo">
						<img src="../static/img/logo.png" alt="" class="logo__image">
					</div>
				</div>
				<div class="col-xs-6 vcenter ">
					<div class="phone-number">
						<span class="phone-number__label">Офис продаж: </span><br>
						<a href="tel:+7 (391) 277–99–01" class="phone-number__phone-link"> +7 (391) <span>277–99–01</span></a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="text">
		<h1 class="text__title">эТАЖИ</h1>
		<h2 class="text__subtitle">Комфортное жилье<br> в микрорайоне Образцово</h2>
		<a href="photos" class="btn btn-default js-modalcall">Смотерть фотографии</a>
	</div>
	<div class="modals_container">
		<a href="docs" class="modals_container__item js-modalcall">
			<img src="../static/img/Asset2.svg" class="modals_container__item_img">
			<div class="modals_container__item__text">
				<div class="dividers">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<span class="modals_container__item__text__name">Проектная<br>документация</span>
			</div>
		</a>
		<a href="contacts" class="modals_container__item js-modalcall">
			<img src="../static/img/Asset1.svg" class="modals_container__item_img">
			<div class="modals_container__item__text">
				<div class="dividers">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<span class="modals_container__item__text__name">кОНТАКТНАЯ<br>ИНФОРМАЦИЯ</span>
			</div>
		</a>
	</div>
	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6 vcentr">
					<div class="copyright">
						<span class="copyright__text">© 2016, Строительная компания ООО «СК Этажи»</span>
					</div>
				</div>
				<div class="col-xs-6 vcentr">
					<div class="copyright">
						<span class="copyright__text">Дизайн студия <a href="http://chipsa.ru/", target="_blank">«Чипса»</a></span>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="white_window js-scrollable_block" id="docs">
		<div class="container-fluid">
			<h2 class="title">Проектная документация</h2>
			<a href="#" class="close js-close"><span>закрыть</span><img src="../static/img/close.png" alt=""></a>
			<div class="row">
				<div class="col-xs-12 col-md-8 col-lg-7">
					<div class="pink_link_block">
						<a href="#" class="pink_link_block__link js-showtext">Способы обеспечения исполнения обязательств застройщика</a><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
						<div class="pink_link_content js-showtext-block">
							<p class="pink_link_block__text">C момента государственной регистрации договора участия в долевом строительстве у участников долевого строительства (залогодержателей) считаются находящимися в залоге    земельный участок, на котором ведется строительство жилого дома (земельный участок с кадастровым номером 24:50:0600031:1863, площадью
							23226 м2, расположенный по адресу: г. Красноярск, Кировский район, ул. Кутузова) и строящийся на данном участке жилой дом;</p>
							<p class="pink_link_block__text">страхование гражданской ответственности за неисполнение или ненадлежащее исполнение обязательств
							по передаче жилого помещения по договору путем заключения договора страхования гражданской ответственности застройщика за неисполнение или ненадлежащее исполнение обязательств по передаче жилого помещения по договору  участия в долевом строительстве  – Генерального договора № ГОЗ-34-0551/15 от 20.10.2015г. (далее - договор страхования) со страховщиком ООО «Страховая компания «РЕСПЕКТ-ПОЛИС», ИНН 7743014574, ОГРН 1027739329188, место нахождения: 141410, Московская область, г. Химки, ул. М. Рубцовой, д. 7 в отношении объекта долевого строительства: Жилой дом  № 1 (квартал 1), инженерное обеспечение, комплекса многоэтажных жилых домов жилого района «Мичуринский» в Кировском районе  г. Красноярска.</p>
						</div>
					</div>
					<div class="pink_link_block">
						<a href="#" class="pink_link_block__link js-showtext">Заголовок: Документы на земельный участок</a><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
						<div class="pink_link_content js-showtext-block">
							<p class="pink_link_block__text">C момента государственной регистрации договора участия в долевом строительстве у участников долевого строительства (залогодержателей) считаются находящимися в залоге    земельный участок, на котором ведется строительство жилого дома (земельный участок с кадастровым номером 24:50:0600031:1863, площадью
							23226 м2, расположенный по адресу: г. Красноярск, Кировский район, ул. Кутузова) и строящийся на данном участке жилой дом;</p>
							<p class="pink_link_block__text">страхование гражданской ответственности за неисполнение или ненадлежащее исполнение обязательств
							по передаче жилого помещения по договору путем заключения договора страхования гражданской ответственности застройщика за неисполнение или ненадлежащее исполнение обязательств по передаче жилого помещения по договору  участия в долевом строительстве  – Генерального договора № ГОЗ-34-0551/15 от 20.10.2015г. (далее - договор страхования) со страховщиком ООО «Страховая компания «РЕСПЕКТ-ПОЛИС», ИНН 7743014574, ОГРН 1027739329188, место нахождения: 141410, Московская область, г. Химки, ул. М. Рубцовой, д. 7 в отношении объекта долевого строительства: Жилой дом  № 1 (квартал 1), инженерное обеспечение, комплекса многоэтажных жилых домов жилого района «Мичуринский» в Кировском районе  г. Красноярска.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<ul class="docs_list">
						<li class="docs_list__item"><a class="docs_list__item__link" href="">Проектная декларация дом 1.1. ООО СК Этажи от 26.10.2015 г.</a></li>
						<li class="docs_list__item"><a class="docs_list__item__link" href="">Заключение экспертизы проектной документации ООО «СибСтройЭксперт» негосударственной экспертизой выдано положительное заключение № 4 – 1 – 1 – 0066 – 15 от 29.06.2015г.</a></li>
						<li class="docs_list__item"><a class="docs_list__item__link" href="">Разрешение на строительство Дом №1</a></li>
						<li class="docs_list__item"><a class="docs_list__item__link" href="">Проект договора ДДУ дом 1.1. СК Этажи</a></li>
						<li class="docs_list__item"><a class="docs_list__item__link" href="">Изменения в ПД дом 1.1 СК Этажи от 02.11.2015 г.</a></li>
						<li class="docs_list__item"><a href="#" class="docs_list__item__link">Изменения в ПД дом 1.1. СК Этажи от 23.11.2015 г.</a></li>
						<li class="docs_list__item"><a href="#" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 09.12.2015 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи- 02.02.2016 полисы</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 01.04.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи- 01.04.2016 - фин рез, нежилое, земля, полисы</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 12.04.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 27.04.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи- апрель 2016 - фин рез 1 квартал от 27.04.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 26.05.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 06.06.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 10.06.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 21.06.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 05.07.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 01.08.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 08.08.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 19.08.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 26.08.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 07.09.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 15.09.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 22.09.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 30.09.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 10.10.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 02.11.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 08.11.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 14.11.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 22.11.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 28.11.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 06.12.2016 г.</a></li>
						<li class="docs_list__item"><a href="" class="docs_list__item__link">Изменения в ПД дом 1.1 СК Этажи от 15.12.2016 г.</a></li>
					</ul>
				</div>
			</div>				
		</div>
	</div>
	<div class="white_window js-scrollable_block" id="contacts">
		<div class="container-fluid">
			<h2 class="title">Контактная информация</h2>
			<a href="#" class="close js-close"><span>закрыть</span><img src="../static/img/close.png" alt=""></a>
			<div class="row">
				<div class="col-xs-12 col-lg-4">
					<div class="row">
						<div class="col-lg-12 col-md-6">
							<ul class="contacts_list">
								<li class="contacts_list__item">
									<img src="../static/img/icon3.svg" class="contacts_list__item__img">
									<div class="contacts_list__item__info">
										<span class="contacts_list__item__info__info_title">Адрес:</span>
										<span class="contacts_list__item__info__info_contact">
											660050, г. Красноярск, ул. Кутузова, 1, стр. 85
										</span>
									</div>
								</li>
								<li class="contacts_list__item">
									<img src="../static/img/icon4.svg" class="contacts_list__item__img">
									<div class="contacts_list__item__info">
										<span class="contacts_list__item__info__info_title">Телефон:</span>
										<span class="contacts_list__item__info__info_contact">
											<span class="gray">+7 (391)</span> 277–99–01 <span class="gray">(офис продаж)</span>
										</span>
										<span class="contacts_list__item__info__info_contact">
											<span class="gray">+7 (391)</span> 274–21–65 <span class="gray">(приёмная)</span>
										</span>
										<span class="contacts_list__item__info__info_contact">
											<span class="gray">+7 (391)</span> 274-21-66 <span class="gray">(факс)</span>
										</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-lg-12 col-md-6">
							<ul class="contacts_list">
								<li class="contacts_list__item">
									<img src="../static/img/icon2.svg" class="contacts_list__item__img">
									<div class="contacts_list__item__info">
										<span class="contacts_list__item__info__info_title">Эл. почта:</span>
										<span class="contacts_list__item__info__info_contact">
											 sc-etagi@mail.ru
										</span>
									</div>
								</li>
								<li class="contacts_list__item">
									<img src="../static/img/icon1.svg" class="contacts_list__item__img">
									<div class="contacts_list__item__info">
										<span class="contacts_list__item__info__info_title">Время работы:</span>
										<span class="contacts_list__item__info__info_contact">
											с 9.00 до 18.00 обед с 13.00 до 14.00
										</span>
										<span class="contacts_list__item__info__info_contact">
										  	суббота, воскресенье выходные
										</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-lg-8">
					<img src="../static/img/map.jpg" class="map_img" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="white_window full" id="photos">
		<a href="#" class="close js-close"><span>закрыть</span><img src="../static/img/close.png" alt=""></a>
		<div class="row">
			<div class="col-xs-12">
				<div class="fotorama" data-width="90%" data-height="90%" data-nav="thumbs">
					<img src="../static/img/pic1.jpg" alt="">
					<img src="../static/img/pic2.jpg" alt="">
					<img src="../static/img/pic3.jpg" alt="">
					<img src="../static/img/pic4.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../static/js/fotorama.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>