doctype html
html
	include modules/head.jade
	body
		.page-wrap
			include modules/header.jade
			section.p404
				.container
					a(href="4").btn.default Вернуться на главную
			include modules/similar.jade
		include modules/modal.jade
		include modules/footer.jade