doctype html
html
	include modules/head.jade
	body
		.page-wrap
			include modules/header.jade
			section.search-result
				.container
					h1 Результаты поиска по запросу #[span "Лада седан"]
					.search-container
						.item
							.item-wrap
								.item-head
									a(href="#").title Баклажан
									span.date 13 #[span /] 05 #[span /] 2016
								.item-content
									p Хотя конструкция подвесок у этого автомобиля самая что ни на есть традиционная. Спереди независимая схема с двойными рычагами, пружинами и стабилизаторами поперечной устойчивости диаметром 35 мм. Сзади малолистовые рессоры с подрессорниками, которые уменьшают подпрыгивание колес и компенсирует крены при неравномерной загрузке. Очень удивил крошечный радиус разворота. Позже при изучении каталогов нашлась и цифра: для модификации, бывшей у нас на тесте, с платформой средней длины, этот параметр составляет 6.7 м. На данный момент таких показателей среди больших пикапов нет ни у кого.
									a.btn.default Читать статью
							.divider
								img(src="img/emblem.svg")
						.item
							.item-wrap
								.item-head
									a(href="#").title Баклажан
									span.date 13 #[span /] 05 #[span /] 2016
								.item-content
									p Хотя конструкция подвесок у этого автомобиля самая что ни на есть традиционная. Спереди независимая схема с двойными рычагами, пружинами и стабилизаторами поперечной устойчивости диаметром 35 мм. Сзади малолистовые рессоры с подрессорниками, которые уменьшают подпрыгивание колес и компенсирует крены при неравномерной загрузке. Очень удивил крошечный радиус разворота. Позже при изучении каталогов нашлась и цифра: для модификации, бывшей у нас на тесте, с платформой средней длины, этот параметр составляет 6.7 м. На данный момент таких показателей среди больших пикапов нет ни у кого.
									a.btn.default Читать статью
							.divider
								img(src="img/emblem.svg")
						.item
							.item-wrap
								.item-head
									a(href="#").title Баклажан
									span.date 13 #[span /] 05 #[span /] 2016
								.item-content
									p Хотя конструкция подвесок у этого автомобиля самая что ни на есть традиционная. Спереди независимая схема с двойными рычагами, пружинами и стабилизаторами поперечной устойчивости диаметром 35 мм. Сзади малолистовые рессоры с подрессорниками, которые уменьшают подпрыгивание колес и компенсирует крены при неравномерной загрузке. Очень удивил крошечный радиус разворота. Позже при изучении каталогов нашлась и цифра: для модификации, бывшей у нас на тесте, с платформой средней длины, этот параметр составляет 6.7 м. На данный момент таких показателей среди больших пикапов нет ни у кого.
									a.btn.default Читать статью
							.divider
								img(src="img/emblem.svg")
				.paginator
						a.btn(href="#")
							img(src="img/arrows.svg", alt="")
		include modules/footer.jade