doctype html
html
	include modules/head.jade
	body
		include modules/header.jade
		section.hero-section
			.container
				.article-head
					a(href="#")
						span тест-драйв
					h1 Тест–драйв toyota tundra от алтаншина
					p Обзор последних достижений и сравнительный тест конкурентов
				.article-activity
					.activity-element
						img(src="img/speech_bubble.svg")
						span 23
					.activity-element
						img(src="img/eye.svg")
						span 230
				.article-date
					p 13 #[span /] 05 #[span /] 2016
		section.article-wrap
			.container.relative
				.road
					.car(data-bottom="0")
						img(src="img/car.png")
					a.top(href="#") Съездить наверх
				.row
					.col-lg-10.col-lg-offset-2
						.article
							h2 Второе поколение Toyota Tundra, относящееся к 2008 модельному году, этот симбиоз бешеного грузовичка и солидного пикапа, официально к нам не возят… В Северной Америке большой пикап от Toyota, дебютировавший в 1999 году, полюбили не за красоту или комфорт.
							p Янки голосовали кошельком за Tundra по двум чисто экономическим причинам. Во-первых, при последующей продаже эта модель минимально теряет в цене и быстро находит следующего владельца. А во-вторых, можно игнорировать гарантию (благо с надежностью все ОК) и тратиться лишь на дешевое минеральное масло раз эдак в 40–50 тыс. км. Так что второе поколение Tundra, являющееся чисто американским продуктом, что также немаловажно для патриотичных граждан США, поехало по проторенной дорожке. Доброе имя есть, конструкция принципиально та же, что и у предшественницы, а число комплектаций превышает три десятка. Причем различия в них довольно существенны.
							p На выбор предлагается три варианта кабины: двухдверная с одним рядом сидений – Regular Cab, с двумя рядами и четырьмя дверями – Double Cab, и с увеличенным пространством для ног задних пассажиров – CrewMax. Грузовая платформа существует в трех вариантах: самая короткая – 1.68 м (для CrewMax она единственная), а максимальная – 2.47 м. Надо отметить, что с самой большой грузовой платформой общая длина Double Cab составляет 6.28 м, так что поставить такого слона на стандартное парковочное место весьма непросто. Кроме того, есть три вида отделки салона: от простенького до шикарного. Число посадочных мест в зависимости от кабины и комплектации меняется от трех до шести.
							.quote
								.row
									.col-sm-2.col-md-2.col-lg-2
										.quote-text
											span Примерно с середины ноября по начало февраля на Диксоне устанавливается полярная ночь. Обычно она темнее, чем в соседних Норильске, Дудинке, Игарке 
									.col-sm-10.col-md-10.col-lg-8
										.quote-body Доброе имя есть, конструкция принципиально та же, что и у предшественницы, а число комплектаций превышает три десятка. Причем различия в них довольно существенны.
											img(src="img/quote.jpg")
							.promo-img
								img(src="img/special.jpg")
							h2 Первое, что бросилось в уши, – это отменная шумоизоляция, ведь не секрет, что с этим делом у Toyota как-то не очень. На ходу Tundra с кабиной Double Cab не выявила пикапной болезни, проявляющейся при незагруженной платформе: задняя часть отнюдь не жила своей жизнью, не прыгала по дороге и вообще не мешала.
							p Хотя конструкция подвесок у этого автомобиля самая что ни на есть традиционная. Спереди независимая схема с двойными рычагами, пружинами и стабилизаторами поперечной устойчивости диаметром 35 мм. Сзади малолистовые рессоры с подрессорниками, которые уменьшают подпрыгивание колес и компенсирует крены при неравномерной загрузке. Очень удивил крошечный радиус разворота. Позже при изучении каталогов нашлась и цифра: для модификации, бывшей у нас на тесте, с платформой средней длины, этот параметр составляет 6.7 м. На данный момент таких показателей среди больших пикапов нет ни у кого.
							h2 УЙТИ В ТОЧКУ
							p За рулем отнюдь не чувствуешь себя водителем грузовичка. Обзорность отменная, все под рукой, руль вполне себе информативный. Машина в управлении очень послушная – эдакая легковушка-переросток. «Автомат» работает как у модели представительского класса. Передачи перещелкиваются мягко, вовремя и без рывков. Да и заметить момент переключения можно в основном по тахометру. Разгон до сотни у этого здоровенного пикапа с 5.7-литровым мотором по заводским данным кажется нереальным – 6.2 секунды. Замерить точность цифр приборами не было возможности, но по ощущениям похоже на правду. Несмотря на такую прыть, Tundra не провоцирует на «вышивание между рядами» в потоке. Разве что при обгоне весьма приятно придавить педаль газа посильнее…
							p В салоне множество карманчиков и бардачков, в том числе и потайных. Противобуксовочная (Traction Control) и стабилизационная (Vehicle Stability Control) системы, входящие в базовое оснащение всех версий, сделаны отключаемыми. Есть камера заднего вида, музыкальная система класса hi-end, климат-контроль, круиз-контроль, bluetooth. Что касается расхода топлива, то, по словам владельца, в трассовом режиме 120–140 км/ч с квадроциклом в кузове в трубу вылетает не больше 17 литров горючки. Ну а поскольку Tundra американский трак, то ей достаточно 92-го бензина.
							a(href="#") Во время фотосессии пикап на дорожной резине заползал и на скользкие камни, и на бетонные блоки. И это без пробуксовок и воя мотора, только на «моменте». Даже пониженную передачу включать не приходилось.
							.img-block
								.row
									.col-sm-12.col-md-2.col-lg-2
										.quote-text
											span Примерно с середины ноября по начало февраля на Диксоне устанавливается полярная ночь. Обычно она темнее, чем в соседних Норильске, Дудинке, Игарке и Хатанге. Северяне отмечают, что для кого-то полярная ночь заканчивается с появлением всего лишь краешка солнца, а для кого-то её конец — это висящий круглый шар над горизонтом. 
									.col-sm-10.col-md-10.col-lg-10
										img(src="img/art-img.jpg")
							include modules/share.jade
		include modules/similar.jade
		include modules/comments.jade	
	
		include modules/footer.jade