.content-container
	.page-control-line
		a(href="/" ng-click="back()").page-link.back
			svg(viewBox="0 0 76 76", class="svgico arrow-icon")
				use(xlink:href="#left-arrow")
			span Главная страница
		.line-center
			.title-block
				//- span.top-tag О компании
				h1.name-span Услуги
	.page-content
		.text-container
			.text-with-hidden-part
				p 21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. 
				.hidden-part
					p 21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. 
					p 21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. 
				a(href="", target="_self").hidden-toggle
					span Читать дальше
					svg(viewBox="0 0 76 76", class="svgico arrow-small-icon")
						use(xlink:href="#arrow-bottom")
			.services-block
				a(href="#!services/service" ng-click="next()").line-item.black
					.tag УСЛУГИ
					span.line-visible
					span.line-invisible
					.name Персональные<br>решения
					.more подробнее
				a(href="#!services/service" ng-click="next()").line-item.black
					.tag УСЛУГИ
					span.line-visible
					span.line-invisible
					.name Комплексная<br>модернизация
					.more подробнее
				a(href="#!services/service" ng-click="next()").line-item.black
					.tag УСЛУГИ
					span.line-visible
					span.line-invisible
					.name Обучение
					.more подробнее