.card-title {
  margin-bottom: 52px;
}
.card-title .title {
  margin: 0px;
}
.card-title a {
  color: #8b8b8b;
  margin-right: 48px;
}
.card-title a:last-child {
  margin-right: 0px;
}
.card-title .svgico {
  width: 20px;
}
.card-title svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
.card-title span {
  display: inline-block;
  vertical-align: middle;
  font-family: RoadRadio;
  font-weight: 700;
  text-transform: uppercase;
}
.card-left-block {
  background-color: #ffffff;
}
.card-left-block.affix {
  top: 140px;
  z-index: 2;
}
.card-block-group {
  padding: 28px 0px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
}
.card-block-group:last-child {
  border-bottom-color: transparent;
}
.card-block-group.item__bonuce {
  margin-bottom: 0px;
  padding: 0px;
}
.card-block-group.item__bonuce a {
  border: none;
}
.card-block-group.item__buy {
  margin: 0px;
}
.card-block-group .tag {
  background-color: #8f75be;
  padding: 8px 10px;
  color: #ffffff;
  margin-bottom: 16px;
  line-height: 99%;
  font-weight: 700;
  display: inline-block;
}
.card-block-group.fast__buy .dashed-link {
  display: inline-block;
  margin-bottom: 18px;
}
.card-block-group .credit a {
  text-decoration: underline;
  display: inline-block;
}
.card-block-group .credit a:hover {
  text-decoration: none;
}
.card-block-group .credit span {
  display: inline-block;
  margin-top: 5px;
  color: #f9593a !important;
}
.card-block-group .item__head {
  padding: 0px 20px;
  display: block;
}
.card-block-group .item__head img {
  width: 80%;
}
.card-block-group .item__name {
  padding: 25px 20px;
  background-color: rgba(113, 68, 27, 0.8);
  color: #ffffff;
  text-transform: uppercase;
  font-family: RoadRadio;
  font-weight: 700;
  font-size: 18px;
  position: relative;
  margin-top: -45px;
  text-align: left;
  margin-bottom: 22px;
}
.float {
  position: relative;
}
.float .item__head {
  display: none;
}
.goods-info {
  background-color: #ffffff;
  min-height: 760px;
  height: auto;
  margin-bottom: 30px;
}
.goods-info .gallery {
  display: inline-block;
  width: 65%;
  margin-right: -4px;
  vertical-align: top;
  padding: 0px 35px;
  padding-bottom: 70px;
}
.goods-info .gallery .owl-thumb-item {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 8px;
  width: 32%;
  border: 2px solid transparent;
  padding: 5px;
  cursor: pointer;
  transition: all 0.35s cubic-bezier(0.5, 0.015, 0.505, 1.005);
}
.goods-info .gallery .owl-thumb-item .inside {
  padding: 14px 20px;
  border: 1px solid #e1e1e1;
}
.goods-info .gallery .owl-thumb-item img {
  width: 100%;
}
.goods-info .gallery .owl-thumb-item.active,
.goods-info .gallery .owl-thumb-item:hover {
  border-color: #fdd62b;
}
.goods-info .gallery .big-gallery {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: 0px;
  left: 0px;
}
.goods-info .gallery .big-gallery .close {
  position: absolute;
  top: 10px;
  left: 88%;
  z-index: 5;
}
.goods-info .gallery .big-gallery .close .fa {
  color: #454545;
}
.goods-info .gallery .big-gallery .big-goods-gallery {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  width: 90%;
  height: 100%;
}
.goods-info .gallery .big-gallery .big-goods-gallery .owl-item {
  height: 100%;
}
.goods-info .gallery .big-gallery .big-goods-gallery .item {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.goods-info .gallery .big-gallery .big-goods-thumbs {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  width: 10%;
  height: 100%;
  border-left: 1px solid #e1e1e1;
  padding: 30px;
}
.goods-info .gallery .big-gallery .big-goods-thumbs .owl-thumb-item {
  width: 100%!important;
}
.information {
  width: 35%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid #e1e1e1;
  margin-right: -4px;
  padding: 0px 30px;
}
.info-group {
  padding: 40px 0px;
  border-bottom: 2px dotted #454545;
}
.info-group:last-child {
  border-bottom: none;
}
.info-group .special-row {
  margin-bottom: 20px;
  display: block;
}
.info-group .special-row img {
  width: 32px;
  margin-right: 20px;
  vertical-align: middle;
}
.info-group .special-row span {
  display: inline-block;
  font-weight: 700;
  vertical-align: middle;
}
.info-group .special-row:last-child {
  margin-bottom: 0px;
}
.info-group .gain-item {
  margin-bottom: 30px;
}
.info-group .gain-item:last-child {
  margin-bottom: 0px;
}
.info-group .gain-item img {
  width: 40px;
  margin-right: 20px;
}
.info-group .gain-item a {
  font-size: 14px;
}
.info-group .sys-info .subtitle {
  margin-bottom: 25px;
}
.info-group .sys-info ul {
  padding-left: 0px;
  list-style: none;
}
.info-group .sys-info ul li {
  font-weight: 300;
  color: #8b8b8b;
  margin-bottom: 12px;
}
.info-group .sys-info ul li span {
  font-weight: 700;
  color: #454545;
}
.subtitle {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: RoadRadio;
  font-size: 20px;
  color: #71441b;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}
.common-info {
  background-color: #fff;
}
.common-info .common-info-group {
  padding: 50px 60px;
  border-bottom: 1px solid #e1e1e1;
}
.common-info .common-info-group p {
  color: #757575;
  line-height: 175%;
}
.common-info .common-info-group.photos {
  position: relative;
  padding: 0px;
}
.common-info .common-info-group.photos .subtitle {
  padding: 50px 60px 0px 60px;
}
.common-info .common-info-group.photos .photos-container {
  height: 350px;
  left: 0px;
  width: 100%;
  margin-bottom: 0px;
}
.common-info .common-info-group.photos .photos-container .half {
  margin-right: -5px;
}
.common-info .common-info-group.photos .photos-container .half .item.small {
  margin-bottom: -6px;
}
.common-info .common-info-group.photos .photos-container .half .item .hover-item {
  padding: 12px 10px;
  font-size: 12px;
  width: 100%;
}
.nav-tabs {
  border-bottom: none;
  margin-bottom: 45px;
}
.nav-tabs li {
  border-bottom: 3px solid #f0f0f0;
  transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.nav-tabs li.active {
  border-bottom-color: #fdd62b;
  background-color: transparent;
}
.nav-tabs li:hover a {
  color: #454545;
  background-color: transparent;
}
.nav-tabs li a {
  border: none!important;
  font-family: RoadRadio;
  font-weight: 700;
  color: #d0d0d0;
  text-transform: uppercase;
  padding: 0px;
  padding-bottom: 18px;
  padding-right: 70px;
  font-size: 16px;
  transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1);
  background-color: transparent!important;
}
.nav-tabs.dotted-tab {
  margin-left: 32px;
}
.nav-tabs.dotted-tab li {
  border: none;
  margin-right: 50px;
}
.nav-tabs.dotted-tab li.active a,
.nav-tabs.dotted-tab li:hover a {
  border-bottom-color: transparent!important;
}
.nav-tabs.dotted-tab li a {
  font-family: Acrom;
  font-weight: 300;
  font-size: 14px;
  text-transform: none;
  color: #71441b;
  border-bottom: 1px dashed #71441b !important;
  display: inline-block;
  padding: 0px;
  cursor: pointer;
}
.nav-tabs.dotted-tab li a span {
  font-weight: 700;
}
.nav-tabs.fav-tab {
  margin-left: 32px;
}
.nav-tabs.fav-tab li {
  border: none;
}
.nav-tabs.fav-tab li.active a,
.nav-tabs.fav-tab li:hover a {
  color: #71441b;
}
.nav-tabs.fav-tab li a {
  color: #d0d0d0;
}
.string-title {
  margin-top: 0px;
  font-size: 16px;
  line-height: 155%;
  font-weight: 700;
  color: #454545;
  margin-bottom: 35px;
}
#descr {
  width: 95%;
}
#descr .string-title {
  width: 80%;
}
#descr p {
  width: 90%;
}
#params table {
  width: 100%;
  border-spacing: 40px;
}
#params table tr {
  border-bottom: 1px solid #f3f4f4;
  vertical-align: top;
}
#params table tr:last-child {
  border-bottom-color: transparent;
}
#params table tr td {
  color: #454545;
  font-size: 14px;
  font-weight: 600;
  padding: 28px 0px;
  text-transform: uppercase;
}
#params table tr td:last-child {
  text-align: right;
}
.reviews {
  display: block;
}
.reviews .item {
  margin-bottom: 45px;
  border-bottom: 1px dotted #454545;
}
.reviews .item .item__head {
  margin-bottom: 35px;
}
.reviews .item .item__head .string-title {
  display: inline-block;
  margin-bottom: 0px;
}
.reviews .item .item__head span {
  float: right;
  font-weight: 600;
  color: #e1e1e1;
}
.reviews .item .item__body p {
  margin-bottom: 45px;
}
.own-review-container {
  width: 55%;
}
.own-review-container .subtitle {
  margin-bottom: 25px;
}
.own-review-container form {
  width: 100%;
}
.own-review-container form .form-group {
  margin-bottom: 22px;
}
.own-review-container form .form-group label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 12px;
}
.own-review-container form .form-group input[type="text"],
.own-review-container form .form-group textarea {
  width: 100%;
  border: 1px solid #e1e1e1;
  padding: 8px;
}
.own-review-container form .form-group input[type="submit"] {
  margin-top: 20px;
}
.co-goods {
  background-color: #fdd62b;
  padding: 60px 0px;
}
.co-goods .checkbox-group {
  margin-bottom: 0px;
  position: relative;
  z-index: 1;
}
.co-goods .checkbox-group input[type="checkbox"] + label {
  text-transform: uppercase;
  font-weight: 700;
  color: #71441b;
  font-family: RoadRadio;
}
.co-goods .checkbox-group input[type="checkbox"] + label:before {
  background-color: #ffffff;
}
.co-goods .col-md-3:nth-child(3) .co-item:after {
  content: '=';
}
.co-goods .col-md-3:nth-child(4) .co-item:after,
.co-goods .col-md-3:nth-child(4) .co-item:before {
  content: '';
  display: none;
}
.co-goods .co-item {
  position: relative;
}
.co-goods .co-item:after {
  content: '+';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -23px;
  font-size: 42;
  font-weight: 300;
  color: #71441b;
  font-family: RoadRadio;
}
.co-goods .co-item:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #feeb95;
  opacity: 0;
  display: none;
}
.co-goods .co-item.disabled:before {
  display: block;
  opacity: 0.6;
}
.co-goods .co-item .btn.primary-btn {
  margin-bottom: 0px;
}
.co-goods .result .primary-btn {
  margin-bottom: 0px;
}
.co-goods .result .item__price {
  overflow: hidden;
}
.co-goods .result .item__price span {
  font-family: Acrom;
  font-weight: 300;
  line-height: 155%;
  margin-bottom: 25px;
  display: inline-block;
  text-transform: capitalize;
}
.co-goods .result .item__price .actual-price {
  transition: all .35s ease;
  transform: translateY(0%);
}
.co-goods .result .item__price .actual-price.price-change {
  transform: translateY(100%);
}
.bottom-functions-block {
  background-color: #f3f4f4;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 11;
}
.bottom-functions-block .container {
  position: relative;
}
.bottom-functions-block .title {
  text-align: left;
}
.bottom-functions-block .func-category a {
  width: 100%;
  display: inline-block;
  padding: 20px 0px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  font-family: RoadRadio;
  font-size: 16px;
  border-right: 1px solid #71441b;
}
.bottom-functions-block .func-category .col-md-6:last-child a {
  border-right: 0px;
}
.bottom-add-view {
  background-color: #f3f4f4;
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 2;
  padding: 25px 0px;
  transform: translateY(100%);
  transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.bottom-add-view .compare-block {
  display: none;
}
.bottom-add-view.active {
  transform: translateY(0%);
}
.bottom-add-view .close {
  position: absolute;
  top: 0px;
  right: 15px;
  opacity: 1;
}
.frame {
  width: 100%;
  height: 500px;
  padding: 0;
  margin-bottom: 30px;
}
.frame .slidee li {
  display: inline-block;
  width: 285px;
  margin-right: 30px;
  float: left;
}
.frame .slidee li .card-block-group {
  padding: 18px 0px;
}
.frame .slidee li .item__name {
  background-color: transparent;
  color: #71441b;
  margin-top: 0px;
  padding: 0px 20px;
  font-size: 16px;
  margin-bottom: 0px;
}
.frame .slidee li .item__price {
  width: 100%;
}
.frame .slidee li .item__price div {
  display: inline-block;
  margin-right: 10px;
}
.frame .slidee li .item__price div:last-child {
  margin-right: 0px;
}
.frame .slidee li .primary-btn {
  margin-bottom: 0px;
}
.compare-frame {
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
}
.compare-frame .slidee {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.compare-frame li {
  width: 285px;
  margin-right: 70px;
  display: inline-block;
  vertical-align: middle;
}
.compare-frame li .compare-category {
  width: 100%;
  display: inline-block;
  position: relative;
}
.compare-frame li .compare-category img {
  width: 100%;
}
.compare-frame li .compare-category span {
  background-color: rgba(113, 68, 27, 0.8);
  padding: 30px 40px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: #ffffff;
  font-family: RoadRadio;
  font-size: 16px;
  text-transform: uppercase;
}
.slidee {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}
.frame-scrollbar {
  width: 100%;
  height: 5px;
  background-color: #e6e7e8;
  border-radius: 25px;
}
.frame-scrollbar .handle {
  background-color: #fdd62b;
  height: 100%;
  cursor: pointer;
}
.compare-info-frame {
  width: 100%;
  padding: 0;
}
.compare-info-frame .slidee li {
  display: inline-block;
  width: 285px;
  float: left;
  text-align: center;
}
.compare-info-frame .header {
  height: 235px;
  width: 96%;
  background-color: #ffffff;
  margin-bottom: 50px;
  text-align: center;
  padding: 0px 30px;
  position: relative;
}
.compare-info-frame .header.best {
  border: 4px solid #fdd62b;
}
.compare-info-frame .header .item__name {
  text-align: left;
  font-weight: 700;
  color: #71441b;
  text-transform: uppercase;
}
.compare-info-frame .header .best-tag {
  position: absolute;
  left: 0px;
  top: 15px;
  padding: 8px 10px 8px 6px;
  background-color: #fdd62b;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 100%;
}
.compare-info-frame .header .remove-elem {
  position: absolute;
  top: 5px;
  right: 5px;
}
.compare-info-frame .header .remove-elem .fa {
  color: #d7d7d7;
  opacity: 0.75;
}
.compare-info-frame .header .remove-elem .fa:hover {
  opacity: 1;
}
.compare-info-frame table {
  width: 100%;
  border-spacing: 40px;
  margin-bottom: 10px;
}
.compare-info-frame table tr {
  border-bottom: 1px solid #e1e1e1;
  transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1);
  vertical-align: top;
}
.compare-info-frame table tr.highlighted {
  background-color: #f8e58f;
}
.compare-info-frame table tr:last-child {
  border-bottom-color: transparent;
}
.compare-info-frame table tr:first-child td {
  padding: 0px;
  padding-top: 5px;
}
.compare-info-frame table tr td {
  color: #71441b;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 0px;
  height: 50px;
  text-transform: none;
}
.compare-info-frame table tr td .item__price {
  display: block;
  text-align: center;
}
.compare-info-frame table tr td .item__price div {
  display: inline-block;
  margin-right: 8px;
}
.head-row {
  margin-bottom: 40px;
}
.head-row .back .svgico {
  margin-right: 18px;
  display: inline-block;
  vertical-align: middle;
}
.head-row .back span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  border-bottom: 1px dashed #71441b;
}
.head-row .dashed-link {
  margin-right: 40px;
}
.head-row .close {
  position: static;
}
.compare-static-info {
  width: 30%;
  margin-right: -5px;
  display: inline-block;
  vertical-align: top;
}
.compare-static-info .title {
  height: 235px;
  margin-bottom: 50px;
  padding: 70px 150px 70px 0px;
}
.compare-static-info table {
  width: 100%;
  border-spacing: 40px;
}
.compare-static-info table tr {
  border-bottom: 1px solid #e1e1e1;
  vertical-align: top;
  transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.compare-static-info table tr.highlighted {
  background-color: #f8e58f;
}
.compare-static-info table tr:last-child {
  border-bottom-color: transparent;
}
.compare-static-info table tr td {
  color: #454545;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 0px;
  height: 50px;
  text-transform: uppercase;
}
.compare-slide {
  width: 70%;
  margin-right: -5px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.compare-slide .frame-scrollbar {
  position: absolute;
  z-index: 1;
  top: 260px;
}
