.breadcrumb {
  margin-bottom: 28px;
  padding: 8px 0px;
  background-color: transparent;
}
.breadcrumb li {
  margin-right: -4px;
}
.breadcrumb li a {
  text-decoration: underline;
}
.breadcrumb li:hover a {
  text-decoration: none;
}
.breadcrumb li.active a {
  text-decoration: none;
}
.breadcrumb li + li:before {
  content: "-";
  padding: 0px 5px;
  color: #71441b;
}
.catalog-wrapper {
  background-color: #f3f4f4;
  padding-top: 36px;
  padding-bottom: 70px;
}
.catalog-wrapper .title {
  text-align: left;
}
.catalog-wrapper .catalog__item {
  width: 100%;
  margin-right: 0px;
}
.catalog-wrapper .catalog__item:nth-child(3n) {
  margin-right: 0px;
}
.catalog-filter-wrapper {
  background-color: #ffffff;
}
.catalog-filter-wrapper .form-group {
  padding: 30px;
  margin-bottom: 0px;
  border-bottom: 1px solid #f3f4f4;
}
.catalog-filter-wrapper .form-group .filter-group-title {
  margin: 0px;
  font-family: RoadRadio;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  color: #71441b;
}
.catalog-filter-wrapper .form-group .tooltip-link {
  display: inline-block;
}
.catalog-filter-wrapper .form-group .range {
  margin-bottom: 25px;
  text-align: center;
}
.catalog-filter-wrapper .form-group .range.withUnit input[type="text"] {
  width: 31%;
}
.catalog-filter-wrapper .form-group .range input[type="text"] {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 8px;
  width: 40%;
  margin-right: 5%;
}
.catalog-filter-wrapper .form-group .range input[type="text"]:last-child {
  margin-right: 0px;
}
.catalog-filter-wrapper .form-group .range span {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  color: #71441b;
  margin-right: 3%;
}
.catalog-filter-wrapper .form-group .range .unit {
  margin-right: 0px!important;
  font-size: 12px!important;
  color: #454545 !important;
}
.title-group {
  position: relative;
  margin-bottom: 20px;
}
.que-tooltip {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}
.que-tooltip img {
  width: 16px;
}
.checkbox-group {
  margin-bottom: 18px;
  display: inline-block;
  width: 100%;
}
.checkbox-group input[type="checkbox"] {
  display: none;
}
.checkbox-group input[type="checkbox"] + label {
  font-weight: 400;
  font-size: 16px;
  margin-left: 28px;
  position: relative;
  cursor: pointer;
}
.checkbox-group input[type="checkbox"] + label span {
  display: none;
  position: absolute;
  left: 115%;
  width: 100%;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  background-color: #71441b;
  border-radius: 10px;
  font-size: 12px;
  color: #ffffff;
  padding: 6px 20px;
}
.checkbox-group input[type="checkbox"] + label span:before {
  content: '';
  border: 10px solid;
  border-color: transparent #71441b transparent transparent;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.checkbox-group input[type="checkbox"] + label:before {
  position: absolute;
  content: "";
  left: -28px;
  display: inline-block;
  vertical-align: sub;
  height: 19px;
  width: 19px;
  font-size: 13px;
  padding-left: 4px;
  border: 1px solid #fdd62b;
  color: #fdd62b;
}
.checkbox-group input[type="checkbox"]:checked + label:before {
  content: '✔';
}
.irs-min,
.irs-max,
.irs-from,
.irs-to,
.irs-single {
  display: none;
}
.irs {
  height: 30px;
}
.irs-slider {
  top: 4px;
  width: 22px;
  height: 22px;
  background: #fdd62b;
  border: none;
}
.irs-slider:hover,
.irs-slider.state_hover {
  background: #fdd62b;
}
.irs-bar {
  top: 15px;
  height: 1px;
  border: none;
  background: #fdd62b;
}
.irs-line {
  top: 15px;
  height: 1px;
  background: #e1e1e1;
  border: none;
}
.addParams {
  text-align: center;
}
.addParams a {
  background-color: #fdd62b;
  display: inline-block;
  width: 100%;
  padding: 14px 0px;
}
.hidden-params {
  display: none;
  text-align: left;
}
.colorfilter input[type="radio"] {
  display: none;
}
.colorfilter input[type="radio"] + label {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
}
.colorfilter input[type="radio"] + label span {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 3px;
  margin-top: 3px;
}
.colorfilter input[type="radio"] + label span.brown {
  background-color: #71441b;
}
.colorfilter input[type="radio"] + label span.orange {
  background-color: #f49137;
}
.colorfilter input[type="radio"] + label span.green {
  background-color: #70b631;
}
.colorfilter input[type="radio"] + label span.cyan {
  background-color: #43adc8;
}
.colorfilter input[type="radio"] + label span.purple {
  background-color: #8f75be;
}
.colorfilter input[type="radio"] + label span.black {
  background-color: #000000;
}
.colorfilter input[type="radio"]:checked + label {
  border-color: #fdd62b;
}
.pagination-block .pagination {
  font-family: RoadRadio;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  margin-right: 90px;
}
.pagination-block .pagination > li > a {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  line-height: 144%;
  min-width: 34px;
  min-height: 34px;
}
.pagination-block .pagination > li > a:hover {
  border-color: #71441b;
}
.pagination-block .pagination .nav-link {
  text-decoration: underline;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.1;
  width: auto;
  height: auto;
  min-height: 1px;
  min-width: 1px;
}
.pagination-block .pagination .nav-link:hover {
  text-decoration: none;
}
.pagination-block .pagination .nav-link:focus {
  background-color: transparent;
}
.pagination-block .pagination .nav-link[aria-label="Previous"] {
  margin-right: 30px;
}
.pagination-block .pagination .nav-link[aria-label="Next"] {
  margin-left: 30px;
}
.pagination-block .pagination li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  text-align: center;
  color: #71441b;
}
.pagination-block .pagination li.disabled a {
  color: #bebebe;
}
.pagination-block .pagination li.disabled:hover a {
  background-color: transparent;
}
.pagination-block .pagination li.active a {
  color: #ffffff;
  background-color: #71441b;
}
.pagination-block .pagination li.active a:focus {
  background-color: #71441b;
  border-color: #71441b;
}
.top-sort {
  margin-bottom: 25px;
}
.top-sort .sort-block {
  text-transform: uppercase;
  color: #808080;
  font-weight: 700;
}
.top-sort .gift {
  text-align: right;
}
.top-sort .gift img {
  width: 30px;
  margin-right: 15px;
}
.dashed-link {
  border-bottom: 1px dashed #71441b;
}
.dashed-link:hover {
  border-bottom-color: transparent;
}
