.modal.fade.about(rold="dialog", tabindex="-1" data-id="about")
	.modal-dialog.modal-lg(role="document")
		.modal-content
			a(href="#").close
				span.glyphicon.glyphicon-remove
			h2.title О компании
			.divider
				p Группа компаний «РосКварц» существует на рынке с ноября 2010 года. Основным профилем предприятия является реализация кварцевого песка для различных сфер производства (строительство, водоподготовка, производство стекла, пескоструйная обработка и др.), купершлака, а также различных минеральных наполнителей, таблетированной соли и других химических реагентов для нужд хозяйственно-питьевого водоснабжения.
			.divider
				h2.subtitle История и достижения
				p #[b В феврале 2011] года в Томске появились первый склад, офис и штат сотрудников. Этот период стал годом самых первых проб и ошибок, которые многому нас научили и помогли заложить основополагающие принципы нашей работы.
				p Через год, #[b в феврале 2012 года], мы решили расширять географию складов и представительств в западном направлении. Уже в марте открылись склады в Екатеринбурге и Казани. Затем, после успешного старта работы с Уралом и Поволжьем, в октябре 2012 года мы открываем представительство на юге в Волгограде. В результате #[b в 2012 году] мы открыли #[b 3 склада], а это более #[b 500 тонн продукции] различных фракций одновременного хранения.
				p Позже, имея основание для роста, мы открываем дополнительный офис #[b в декабре 2013 г.] в Новосибирске. Численность сотрудников компании уже тогда составляла 22 человека.
				p На сегодняшний день #[b в 2016 году] компания «РосКварц» – это:
				ul.list
					li.list-item Более 1300 клиентов в 86 субъектах РФ;
					li.list-item 3 собственных склада и 17 точек отпуска продукции;
					li.list-item Более 900 тонн продукции в наличии на своих складах в Сибири, Поволжье, Юге, Москве и Санкт-Петербурге;
					li.list-item 2 офиса продаж;
					li.list-item 5 направлений в ассортиментной линейке продукции;
					li.list-item 2 крупных дистрибьюторских контракта;
					li.list-item Цены от производителя;
					li.list-item Самый короткий срок доставки заказов в среднем по стране.
			.divider
				h2.subtitle Миссия
				p Наша миссия звучит так: #[br] #[b Привнести на этот рынок современный подход к клиентам, а также упрощенную логистику, которая поможет снизить стоимость и сроки поставки продукции в любой точке РФ.]
			.divider
				h2.subtitle Продукция
				p Качество продукции, реализуемой Группой компаний «РосКварц», регулярно подтверждается лабораториями ОТК и соответствует требованиям, предъявляемым заказчиками. Для каждого из клиентов мы регулярно подбираем оптимально подходящую продукцию, максимально соответствующую поставленным задачам. При этом мы работаем с проверенными поставщиками – производителями кварцевого песка, которые гарантируют его качество и доказывают это на деле.
			.divider
				h2.subtitle Наши поставщики
				p К каждому поставщику мы предъявляем одинаково строгие, но справедливые требования: поставщик несет полную ответственность за соответствие параметров продукции и качества упаковки заявленным ГОСТам и ТУ.
				p Мы подбираем поставщиков таким образом, чтобы удовлетворить индивидуальные потребности всех наших клиентов. Так как с нами сотрудничают компании, ведущие свою деятельность в самых разных отраслях, то подбор продукции среди поставщиков для каждого из них производится на основе специфики их работы и требований, предъявляемых к качеству результатов их работы.
			.divider
				h2.subtitle Логистика, сроки, регионы
				p Наша гордость – разветвлённая сеть собственных складов и ГОКов, а также отдел логистики, который обрабатывает множество заказов ежемесячно от 500 кг до 570 тонн каждый для отправки в любой труднодоступный регион страны.
				p Наличие развитой сети складов позволяет оперативно осуществлять доставку продукции авто, ж/д, контейнерами по всей России. Кроме этого собственная складская сеть говорит о постоянной клиентской базе и стабильных отношениях с производителями. Клиенты могут получить срочные заказы не с завода, а прямо со склада уже вскоре после оформления заказа, а заводы-производители ценят быструю оборачиваемость продукции в хранилищах, предоставляя достойные условия закупа и доверяя нам большие объемы продукции.
				p Наш отдел продаж обрабатывает заявки быстро и качественно. Клиент получает расчет с подробными данными в день обращения. Средний срок исполнения заказа – 1-5 дней, в том числе удаленные регионы.
			.divider
				h2.subtitle Наши клиенты
				p Среди наших клиентов высокотехнологичные литейные заводы, стекольные производства, пескоструйные организации, пищевые производства с системами водоподготовки и водоочистки. Это множество крупных региональных и федеральных предприятий: РЖД, «Роснефть», компания «Балтика», СИБУР и ООО «Томскнефтехим, ГК «Славянка», ОАО «Курганводоканал», ОАО «Омскоблводопровод», филиал ГУП СК «Ставрополькрайводоканал», Магнитогорский металлургический комбинат и многие другие.
				p На сегодняшний день у нас более #[b 1300 клиентов.]
				p Мы также зарегистрированы на Портале поставщиков города Москвы, где отмечено наше участие в исполнении государственных заказов.
				p Вы тоже можете стать нашим клиентом прямо сейчас, оформив заказ на интересующую вас продукцию. Подробный прайс-лист и консультацию по продукту можно получить через форму обратной связи на сайте или по телефону.
				p Будем рады сотрудничеству с вами!



