.modal.fade.good(rold="dialog", tabindex="-1" data-id="good1")
	.modal-dialog.modal-lg(role="document")
		.modal-content
			a(href="#").close
				span.glyphicon.glyphicon-remove
			.padding-div
				h2.title Кварцевый песок для фильтрации и водоподготовки окатанный мелкозернистый
				.item-container
					.item
						img(src="img/gg1.jpg", alt="")
						p Фракция #[span 0.3-06 мм]
					.item
						img(src="img/gg2.jpg", alt="")
						p Фракция #[span 0.3-06 мм]
					.item
						img(src="img/gg1.jpg", alt="")
						p Фракция #[span 0.3-06 мм]
					.item
						img(src="img/gg2.jpg", alt="")
						p Фракция #[span 0.3-06 мм]
			.footer
				.sides
					.text
						h3 от 2 500 руб./тонна
						p Минимальный общий объем заказа - #[b 1 тонна] #[br ]Фасовка - мешки по 25 кг или МКР по 1 тонне
				.sides
					.simple-form
						.before
							span Конечная цена зависит от объёма заказа, фасовки и города доставки.
							form
								h2 Для расчёта конечной стоимости отправьте заявку:
								input(type="text", name="name", placeholder="Ваше имя")
								input(type="tel", name="", placeholder="Ваш телефон")
								input(type="submit", value="Отправить заявку").btn.default
						.success
							h2 Спасибо! В ближайшее время с вами свяжется наш оператор.
