doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=1200")
		title РосКварц 
		link(rel="stylesheet", href="css/owl.carousel.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Exo+2:400,500,600,800&subset=cyrillic")
	body
		header
			.container
				.col-lg-2.vcenter
					img.logo(src="img/logo.jpg", alt="Лого")
				.col-lg-5.vcenter
					a.pseudo-link.about-show(href="#", data-id="about") О компании
					span.gray-text ваш город:
					.dropdown
						a(href="#", data-toggle="dropdown", role="button", aria-expanded="false").pseudo-link Каменск-Уральский  
						ul.dropdown-menu
							li
								a(href="") Красноярск 
							li
								a(href="") Калининград
							li
								a(href="") Уфа
							li
								a(href="") Железногорск
				.col-lg-3.vcenter
					div.phone
						span.gray-text Звонок по России бесплатный
						a(href="tel:+7-495-565-3088") +7-495-565-3088
				.col-lg-2.vcenter 
					a(href="#", data-id="callback").btn.default.callback Заказать звонок
		section.promo-section
			.owl-navigation
				a(href="", data-nav="prev").arrow
					span.glyphicon.glyphicon-menu-left
				.pagination
				a(href="", data-nav="next").arrow
					span.glyphicon.glyphicon-menu-right
			.owl-carousel.promo
				.item(style="background-image: url(img/promo.jpg);")
					.container
						.info
							h2 Кварцевый песок формовочный в Саратове
							p Продажа кварцевого песка для фильтрации воды, водоподготовки и пескоструйной обработки с доставкой по г. Саратову
				.item(style="background-image: url(img/promo.jpg);")
					.container
						.info
							h2 Кварцевый песок формовочный в Саратове
							p Продажа кварцевого песка для фильтрации воды, водоподготовки и пескоструйной обработки с доставкой по г. Саратову
				.item(style="background-image: url(img/promo.jpg);")
					.container
						.info
							h2 Кварцевый песок формовочный в Саратове
							p Продажа кварцевого песка для фильтрации воды, водоподготовки и пескоструйной обработки с доставкой по г. Саратову	
		div.tabs-section 
			.container.posr
				.simple-form.abs-callback
					.before
						h2 Отправьте заявку и получите доступ к оптовым ценам
						form
							input(type="text", name="name", placeholder="Ваше имя")
							input(type="tel", name="", placeholder="Ваш телефон")
							input(type="submit", value="Отправить заявку").btn.default
					.success
						h2 Спасибо! В ближайшее время с вами свяжется наш оператор.
				h1.title КВАРЦЕВЫЙ ПЕСОК ПО НАЗНАЧЕНИЯМ
				.goods-tab
					a(href="#" data-nav="prev").arrow
						span.glyphicon.glyphicon-menu-left
					a(href="#" data-nav="next").arrow
						span.glyphicon.glyphicon-menu-right
					.tab-slider
						.item
							ul.nav.nav-tabs(role="tablist")
								li(role="presentation").active
									a(href="#filtration", aria-controls="filtration", role="tab", data-toggle="tab") Фильтрация и водоподготовка
								li(role="presentation")
									a(href="#construct", aria-controls="construct",  role="tab", data-toggle="tab") Пескоструйная обработка
								li(role="presentation")
									a(href="#form", aria-controls="form", role="tab", data-toggle="tab") Формовка и литьё
								li(role="presentation")
									a(href="#sport", aria-controls="sport", role="tab", data-toggle="tab") Спортивные площадки
								li(role="presentation")
									a(href="#floors", aria-controls="floors", role="tab", data-toggle="tab") Наливные полы
						.item
							ul.nav.nav-tabs(role="tablist")
								li(role="presentation").active
									a(href="#filtration1", aria-controls="filtration1", role="tab", data-toggle="tab") Фильтрация и водоподготовка
								li(role="presentation")
									a(href="#construct1", aria-controls="construct1",  role="tab", data-toggle="tab") Пескоструйная обработка
								li(role="presentation")
									a(href="#form1", aria-controls="form1", role="tab", data-toggle="tab") Формовка и литьё
								li(role="presentation")
									a(href="#sport1", aria-controls="sport1", role="tab", data-toggle="tab") Спортивные площадки
								li(role="presentation")
									a(href="#floors1", aria-controls="floors1", role="tab", data-toggle="tab") Наливные полы
					.tab-content
						.tab-pane.active.fade.in#filtration(role="tabpanel")
							include goods.jade
						.tab-pane.fade#construct(role="tabpanel")
							include goods.jade
						.tab-pane.fade#form(role="tabpanel")
							include goods.jade
						.tab-pane.fade#sport(role="tabpanel")
							include goods.jade
						.tab-pane.fade#floors(role="tabpanel") 
							include goods.jade
						.tab-pane.fade#filtration1(role="tabpanel") 
							include goods.jade
						.tab-pane.fade#construct1(role="tabpanel")
							include goods.jade
						.tab-pane.fade#form1(role="tabpanel")
							include goods.jade
						.tab-pane.fade#sport1(role="tabpanel")
							include goods.jade
						.tab-pane.fade#floors1(role="tabpanel")
							include goods.jade
		section.blue-section
			.container
				h2.title НАДЕЖНЫЙ ПАРТНЕР
				.benefits
					.item
						.img-block
							img(src="img/b1.png", alt="")
						.text-block
							p Сертификаты и документация на кварцевый песок.
					.item
						.img-block
							img(src="img/b2.png", alt="")
						.text-block
							p Диллерские договоры с различными производителями и карьерами только качественного мрамора России и стран СНГ.
					.item
						.img-block
							img(src="img/b3.png", alt="")
						.text-block
							p Производство и поставка строго в соответствии с ГОСТ.
					.item
						.img-block
							img(src="img/b4.png", alt="")
						.text-block
							p Доставка до объекта в течение 2-5 дней. Возьмём на себя всю организацию логистики
					.item
						.img-block
							img(src="img/b5.png", alt="")
						.text-block
							p На 2ой заказ скидка 10%, при до лгосрочном сотрудничестве индивидуальные условия.
					.item
						.img-block
							img(src="img/b6.png", alt="")
						.text-block
							p Группа Компаний "РосКварц" (ООО "ТДРК) является официальным Дистрибьютором Карьера ЗАО "Гора Хрустальная".
				.map
					h2.small-title Доставка от 2 до 5 дней с 16 региональных складов
					img(src="img/map.png", alt="Карта распространения")
				.video
					h2.small-title Что говорят клиенты о сотрудничестве с нами
					.video-block
						<iframe width="540" height="315" src="https://www.youtube.com/embed/fE37vLhpOVc" frameborder="0" allowfullscreen></iframe>
					.video-block
						<iframe width="540" height="315" src="https://www.youtube.com/embed/qfnJA1gew2g" frameborder="0" allowfullscreen></iframe>
		section.partners-wrap
			.container
				h2.title НАШИ КЛИЕНТЫ
				.partners
					.item
						img(src="img/p1.jpg", alt="")
					.item
						img(src="img/p2.jpg", alt="")
					.item
						img(src="img/p3.jpg", alt="")
					.item
						img(src="img/p4.jpg", alt="")
					.item
						img(src="img/p5.jpg", alt="")
				.thankful
					h2.abs Благодарственные письма
					.letters
						.item
							a(href="#", data-id="l1").letter-modal-show
								img(src="img/l1.jpg", alt="")
						.item
							a(href="#", data-id="l2").letter-modal-show
								img(src="img/l2.jpg", alt="")
						.item
							a(href="#", data-id="l3").letter-modal-show
								img(src="img/l3.jpg", alt="")
						.item
							a(href="#", data-id="l4").letter-modal-show
								img(src="img/l4.jpg", alt="")
						.item
							a(href="#", data-id="l5").letter-modal-show
								img(src="img/l5.jpg", alt="")
		section.questions
			.container
				.simple-form
					h3.title Остались вопросы?
					p Задайте их менеджеру по бесплатной горячей линии 8-800-xxx-xx-xx или оставьте данные, и мы вам перезвоним в ближайшие часы
					.before
						form
							input(type="text", name="name", placeholder="Ваше имя")
							input(type="tel", name="", placeholder="Ваш телефон")
							input(type="submit", value="Отправить заявку").btn.default
					.success
						h3.title Спасибо! В ближайшее время с вами свяжется наш оператор.
		include letter-modals.jade
		include about.jade
		include good.jade
		include callback.jade
		footer
			.container
				.row
					.col-lg-8
						p.footer-text Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджерам отдела продаж.
					.col-lg-4
						.right-info
							.vcard
								div
									span.tel 8 (800) 775-79-02
								div
									span.category Группа Компаний 
									span.fn.org «РосКварц»
								div
									span.email info@rosquartz.ru
								div Адресс #[sapn.street-address ул. Астраханская, д. 3Б, офис 12] 


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/jquery.mask.min.js")
		script(src="js/main.js")