.modal.fade.letter-modal(rold="dialog", tabindex="-1" data-id="l1")
	.modal-dialog.modal-sm(role="document")
		.modal-content
			a(href="#").close
				span.glyphicon.glyphicon-remove
			img(src="img/l1.jpg", alt="")
.modal.fade.letter-modal(rold="dialog", tabindex="-1" data-id="l2")
	.modal-dialog.modal-sm(role="document")
		.modal-content
			a(href="#").close
				span.glyphicon.glyphicon-remove
			img(src="img/l2.jpg", alt="")
.modal.fade.letter-modal(rold="dialog", tabindex="-1" data-id="l3")
	.modal-dialog.modal-sm(role="document")
		.modal-content
			a(href="#").close
				span.glyphicon.glyphicon-remove
			img(src="img/l3.jpg", alt="")
.modal.fade.letter-modal(rold="dialog", tabindex="-1" data-id="l4")
	.modal-dialog.modal-sm(role="document")
		.modal-content
			a(href="#").close
				span.glyphicon.glyphicon-remove
			img(src="img/l4.jpg", alt="")
.modal.fade.letter-modal(rold="dialog", tabindex="-1" data-id="l5")
	.modal-dialog.modal-sm(role="document")
		.modal-content
			a(href="#").close
				span.glyphicon.glyphicon-remove
			img(src="img/l5.jpg", alt="")