.content-container
	.page-control-line
		a(href="/" ng-click="back()").page-link.back
			svg(viewBox="0 0 76 76", class="svgico arrow-icon")
				use(xlink:href="#left-arrow")
			span Главная страница
		.line-center
			.title-block
				//- span.top-tag О компании
				h1.name-span Общие вопросы
	.page-content
		.text-container
			.question-block
				.question-item
					a(href="").answer-toggler
						.circle				
						span На что стоит обратить внимание при выборе системы записи телефонных разговоров и фирмы-поставщика решения
					.answer
						ul
							li профиль деятельности компании-поставщика системы записи телефонных разговоров.
							li сроки и условия гарантии.
							li перечень АТС, с которыми корректно взаимодействует система записи.
							li на каких типах линий работает предлагаемое оборудование.
							li пробная эксплуатация.
							li стоимость системы записи телефонных разговоров под ключ.
							li степень клиентоориентированности.
							li опыт проведенных работ в пробной отрасли.
				.question-item
					a(href="").answer-toggler
						.circle				
						span На что стоит обратить внимание при выборе системы записи телефонных разговоров и фирмы-поставщика решения
					.answer
						ul
							li профиль деятельности компании-поставщика системы записи телефонных разговоров.
							li сроки и условия гарантии.
							li перечень АТС, с которыми корректно взаимодействует система записи.
							li на каких типах линий работает предлагаемое оборудование.
							li пробная эксплуатация.
							li стоимость системы записи телефонных разговоров под ключ.
							li степень клиентоориентированности.
							li опыт проведенных работ в пробной отрасли.
				.question-item
					a(href="").answer-toggler
						.circle				
						span На что стоит обратить внимание при выборе системы записи телефонных разговоров и фирмы-поставщика решения
					.answer
						ul
							li профиль деятельности компании-поставщика системы записи телефонных разговоров.
							li сроки и условия гарантии.
							li перечень АТС, с которыми корректно взаимодействует система записи.
							li на каких типах линий работает предлагаемое оборудование.
							li пробная эксплуатация.
							li стоимость системы записи телефонных разговоров под ключ.
							li степень клиентоориентированности.
							li опыт проведенных работ в пробной отрасли.
				.question-item
					a(href="").answer-toggler
						.circle				
						span На что стоит обратить внимание при выборе системы записи телефонных разговоров и фирмы-поставщика решения
					.answer
						ul
							li профиль деятельности компании-поставщика системы записи телефонных разговоров.
							li сроки и условия гарантии.
							li перечень АТС, с которыми корректно взаимодействует система записи.
							li на каких типах линий работает предлагаемое оборудование.
							li пробная эксплуатация.
							li стоимость системы записи телефонных разговоров под ключ.
							li степень клиентоориентированности.
							li опыт проведенных работ в пробной отрасли.