html
	include modules/head.jade
	body
		.hidden
			include ../img/assets.svg
		include modules/header.jade
		.main-content
			.search-over
			.white-wrapper
				.container
					ol.breadcrumb
						li
							a(href="") Главная
						li.active
							a Личный кабинет

			


			include modules/footer.jade
		include modules/scripts.jade