html
	include modules/head.jade
	body
		.hidden
			include ../img/assets.svg
		include modules/header.jade
		.main-content
			.search-over
			.catalog-wrapper
				.container
					ol.breadcrumb
						li
							a(href="") Главная
						li
							a(href="") Каталог 
						li.active
							a Olympus OM-D E-M5 mark II kit 12-40mm f/2.8 Black 
					.article-container
						img(src="img/article.jpg", alt="")
						.content
							span.time 12.06.2016
							h1 H1 Заголовок типовой текстовой страницы, помещающийся на две строки
							p Дана характеристика лесопромышленного комплекса России, а также продукции, выпускаемой им. Приведены сведения о строении древесины, рассмотрены все стадии ее обработки. Освещены вопросы сушки древесины, ее склеивания, гнутья, отделки защитно-декоративными материалами, производства шпона, фанеры, древесных плит и пластиков. Дана классификация столярно-строительных изделий и мебели.
							p Отдел аналитики и исследований ежегодно публикует обзор итогов работы лесопромышленного комплекса России. Исследование содержит подробный анализ деятельности ключевых сегментов  лесного комплекса, включая производственные показатели, экспорт, импорт, цены производителей, а также основные события, произошедшие в отрасли.
							img(src="img/article2.jpg", alt="")
							span Рисунок 1. Показатели продаж за период с 2014 по 2016 год.
							h2 H2 Название заголовка второго уровня типовой текстовой страницы, которое помещается на три строки
							p Исследование содержит подробный анализ деятельности ключевых сегментов  лесного комплекса, включая производственные показатели, экспорт, импорт, цены #[a производителей], а также основные события, произошедшие в отрасли. Освещены вопросы сушки древесины, ее склеивания, гнутья, отделки защитно-декоративными материалами, производства шпона, фанеры, древесных плит и пластиков. Дана классификация столярно-строительных изделий и мебели.
							h3 H3 Очень длинное название заголовка третьего уровня типовой текстовой страницы, которое помещается на две строки
							p Исследование содержит подробный анализ деятельности ключевых сегментов  лесного комплекса, включая производственные показатели, экспорт, импорт, цены #[a производителей], а также основные события, произошедшие в отрасли. Освещены вопросы сушки древесины, ее склеивания, гнутья, отделки защитно-декоративными материалами, производства шпона, фанеры, древесных плит и пластиков. Дана классификация столярно-строительных изделий и мебели.
							H3 Нумерованный список
							p Исследование содержит подробный анализ деятельности ключевых сегментов  лесного комплекса, включая производственные показатели:
							ul
								li Дана классификация столярно-строительных изделий и мебели.
									ul
										li Освещены вопросы сушки древесины, ее склеивания, гнутья, отделки защитно-декоративными материалами, производства шпона, фанеры, древесных плит и пластиков. Дана классификация столярно-строительных изделий и мебели.
											ul
												li Исследование содержит подробный анализ деятельности ключевых сегментов  лесного комплекса, включая производственные показатели, экспорт, импорт, цены производителей, а также основные события, произошедшие в отрасли.
												li Ежемесячный обзор цен на круглый лес выпускается аналитической службой Lesprom Network. Обзор содержит информацию о текущих рыночных ценах на  пиловочник и балансы, о динамике их изменения и прогнозы.   основываются на опросе экспертов и мониторинге существующих цен производителей и трейдеров.
										li Список и состояние приоритетных инвестиционных проектов
								li Динамика рынка круглого леса (производство, экспорт, ключевые производители)
								li Динамика рынка целлюлозно-бумажной продукции (целлюлоза, бумага, катрон, бумажные мешки). Обзоры основываются на опросе экспертов и мониторинге существующих цен производителей и трейдеров.
							table
								thead
									tr
										th Первый столбец таблицы
										th Второй столбец таблицы
										th Теперь третий столбец таблицы
										th И четвертый
								tbody
									tr
										td Значение 1
										td Второе значение этой таблицы
										td Значение столбца 1
										td Четвертое
									tr
										td Значение 1
										td Второе значение этой таблицы
										td Значение столбца 1
										td Четвертое
									tr
										td Значение 1
										td Второе значение этой таблицы
										td Значение столбца 1
										td Четвертое
							span Таблица 1. Показатели продаж за период с 2014 по 2016 год.
							.quote
								.qleft
									img(src="img/quote.jpg", alt="")
								.qright
									img(src="img/quote.jpg", alt="")
								p Ежемесячный обзор цен на круглый лес выпускается аналитической службой Lesprom Network. Обзор содержит информацию о текущих рыночных ценах на  пиловочник и балансы, о динамике их изменения. Обзоры основываются на опросе экспертов и мониторинге существующих цен производителей и трейдеров.
								.author 
									p Константинов Ян Алексеевич
									p Руководитель направления развития продаж группы компаний «СеверПром»






			include modules/footer.jade
		include modules/scripts.jade