header
	.container-r
		.row
			.col-lg-4.col-md-4.vcenter.header-logo
				img.logo(src="img/logo.svg", alt="")
			.col-lg-4.col-md-4.vcenter.center.header-text
				span.logo-text Автономные аэрокосмические системы
			.col-lg-4.col-md-4.col-sm-12.col-xs-12.vcenter.menu-block
				.menu.no-active
					.close-menu
						span.burger-bar
						span.burger-bar
						span.burger-bar
					.open-menu
						span.burger-bar
						span.burger-bar