header
	.container-r
		.row
			.col-md-4.vcenter.header-logo
				img.logo(src="img/logo.svg", alt="")
			.col-md-4.vcenter.center.header-text
				span.logo-text Автономные аэрокосмические системы
			.col-md-4.col-sm-12.col-xs-12.vcenter.menu-block
				.menu
					span.burger-bar
					span.burger-bar
					span.burger-bar