.content-container
	.page-control-line
		a(href="/" ng-click="back()").page-link.back
			svg(viewBox="0 0 76 76", class="svgico arrow-icon")
				use(xlink:href="#left-arrow")
			span Главная страница
		.line-center
			.title-block
				//- span.top-tag О компании
				h1.name-span Продукты
	.page-content
		.text-container
			.text-with-hidden-part
				p 21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. 
				.hidden-part
					p 21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. 
					p 21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. 
				a(href="", target="_self").hidden-toggle
					span Читать дальше
					svg(viewBox="0 0 76 76", class="svgico arrow-small-icon")
						use(xlink:href="#arrow-bottom")
	.product-row.text-with-hidden-part(style="background-image: url(img/pr1.jpg)")
		.overlay
		.text-container
			a(href="").product-head.hidden-toggle
				h3 Запись телефонных переговоров
				svg(viewBox="0 0 76 76", class="svgico arrow-small-icon")
					use(xlink:href="#arrow-bottom")
			.hidden-part.product-content
				p Продуктовая линейка Фантом представляет полный цикл решений для АТС всех производителей, охватывающих запись всех видов телефонии – от аналоговых линий до IP-телефонии. МДИС предлагает законченное решение, включающее все функции – от первичной регистрации до безопасной передачи, обработки и защищённого хранения.воляет развивать нашу продукцию и решения в соответствии с тенденциями рынка.
				.products-link
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom PRO
						p Промышленные профессиональные системы, способные регистрировать до 132 кналов.
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom PC
						p Стандартная профессиональная система записи на базе персонального компьютера.
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom ECO
						p Экономическое решение интерфейсные платы
	.product-row.text-with-hidden-part(style="background-image: url(img/pr2.jpg)")
		.overlay
		.text-container
			a(href="").product-head.hidden-toggle
				h3 Записи диспетчерских переговоров
				svg(viewBox="0 0 76 76", class="svgico arrow-small-icon")
					use(xlink:href="#arrow-bottom")
			.hidden-part.product-content
				p Продуктовая линейка Фантом представляет полный цикл решений для АТС всех производителей, охватывающих запись всех видов телефонии – от аналоговых линий до IP-телефонии. МДИС предлагает законченное решение, включающее все функции – от первичной регистрации до безопасной передачи, обработки и защищённого хранения.воляет развивать нашу продукцию и решения в соответствии с тенденциями рынка.
				.products-link
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom PRO
						p Промышленные профессиональные системы, способные регистрировать до 132 кналов.
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom PC
						p Стандартная профессиональная система записи на базе персонального компьютера.
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom ECO
						p Экономическое решение интерфейсные платы
	.product-row.text-with-hidden-part(style="background-image: url(img/pr3.jpg)")
		.overlay
		.text-container
			a(href="").product-head.hidden-toggle
				h3 Запись ip-телефонии
				svg(viewBox="0 0 76 76", class="svgico arrow-small-icon")
					use(xlink:href="#arrow-bottom")
			.hidden-part.product-content
				p Продуктовая линейка Фантом представляет полный цикл решений для АТС всех производителей, охватывающих запись всех видов телефонии – от аналоговых линий до IP-телефонии. МДИС предлагает законченное решение, включающее все функции – от первичной регистрации до безопасной передачи, обработки и защищённого хранения.воляет развивать нашу продукцию и решения в соответствии с тенденциями рынка.
				.products-link
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom PRO
						p Промышленные профессиональные системы, способные регистрировать до 132 кналов.
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom PC
						p Стандартная профессиональная система записи на базе персонального компьютера.
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom ECO
						p Экономическое решение интерфейсные платы
	.product-row.text-with-hidden-part(style="background-image: url(img/pr4.jpg)")
		.overlay
		.text-container
			a(href="").product-head.hidden-toggle
				h3 Селективная запись
				svg(viewBox="0 0 76 76", class="svgico arrow-small-icon")
					use(xlink:href="#arrow-bottom")
			.hidden-part.product-content
				p Продуктовая линейка Фантом представляет полный цикл решений для АТС всех производителей, охватывающих запись всех видов телефонии – от аналоговых линий до IP-телефонии. МДИС предлагает законченное решение, включающее все функции – от первичной регистрации до безопасной передачи, обработки и защищённого хранения.воляет развивать нашу продукцию и решения в соответствии с тенденциями рынка.
				.products-link
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom PRO
						p Промышленные профессиональные системы, способные регистрировать до 132 кналов.
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom PC
						p Стандартная профессиональная система записи на базе персонального компьютера.
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom ECO
						p Экономическое решение интерфейсные платы
	.product-row.text-with-hidden-part(style="background-image: url(img/pr5.jpg)")
		.overlay
		.text-container
			a(href="").product-head.hidden-toggle
				h3 Запись Skype
				svg(viewBox="0 0 76 76", class="svgico arrow-small-icon")
					use(xlink:href="#arrow-bottom")
			.hidden-part.product-content
				p Продуктовая линейка Фантом представляет полный цикл решений для АТС всех производителей, охватывающих запись всех видов телефонии – от аналоговых линий до IP-телефонии. МДИС предлагает законченное решение, включающее все функции – от первичной регистрации до безопасной передачи, обработки и защищённого хранения.воляет развивать нашу продукцию и решения в соответствии с тенденциями рынка.
				.products-link
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom PRO
						p Промышленные профессиональные системы, способные регистрировать до 132 кналов.
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom PC
						p Стандартная профессиональная система записи на базе персонального компьютера.
					a(href="#!products/product", ng-click="next()").item
						.line
						span Phantom ECO
						p Экономическое решение интерфейсные платы




