html
	include modules/head.jade
	body
		include modules/header.jade
		include modules/menu.jade
		include modules/faq.jade
		#fullpage.no-fullpage
			.section.fail-page
				.side
				.side
					.content
						h1 404
						h2 такой страницы <br>не существует
						a.btn(href="#") на главную страницу
		include modules/scripts.jade