html
	include modules/head.jade
	body
		include modules/header.jade
		include modules/menu.jade
		include modules/faq.jade
		#fullpage.no-fullpage
			.section.fail-page
				.fail-content
					span Здесь нет ничего... <br> кроме спокойствия и уединения
					a(href="").btn на главную страницу
		include modules/scripts.jade