html
	include modules/head.jade
	body
		include modules/header.jade
		include modules/menu.jade
		include modules/faq.jade
		include modules/preloader.jade
		#fullpage.no-fullpage
			.section.main.about-main
				.main-text
					h1 О КЛУБЕ
					p Balance – это великолепный wellness–комплекс общей площадью 2 000 м2, который включает в себя спа-центр, бассейн, сауны, бани, купели с теплой и холодной водой, тропический душ, зоны отдыха, студию красоты, фитобар, фитнес-центр, оборудованный тренажерами Technogym
			.section.mission
				.container
					.mission-text.scrollAnim
						h2.title.colored миссия клуба
						p.simple-text Это пример простого текста его можно вставлять в качестве «рыбного» текста и просто его копировать несколько раз. Но луше всего для ключевых текстов либо вставлять текст от заказчика, либо писать какой-то текст осмысленный, но не тратить на это много время.
			.section.panorama
				.cycle
				h2.title Панорама <br> вида из окна
			.section.serts
				.container
					h2.title.colored Сертификаты и лицензии
					a.left.sert(href="#")
						img(src="img/dark-al.png", alt="")
						span LEFT
					a.right.sert(href="#")
						img(src="img/dark-ar.png", alt="")
						span RIGHT
					.owl-carousel.sertificates
						.item.scrollAnim
							a.pic(href="img/sert1.jpg")
								.overlay
									img(src="img/overlay.png", alt="")
								img(src="img/sert1.jpg")
						.item.scrollAnim
							a.pic(href="img/sert2.jpg")
								.overlay
									img(src="img/overlay.png", alt="")
								img(src="img/sert2.jpg")
						.item.scrollAnim
							a.pic(href="img/sert1.jpg")
								.overlay
									img(src="img/overlay.png", alt="")
								img(src="img/sert1.jpg") 
						.item.scrollAnim
							a.pic(href="img/sert2.jpg")
								.overlay
									img(src="img/overlay.png", alt="")
								img(src="img/sert2.jpg") 
						.item.scrollAnim
							a.pic(href="img/sert1.jpg")
								.overlay
									img(src="img/overlay.png", alt="")
								img(src="img/sert1.jpg")   	
						.item.scrollAnim
							a.pic(href="img/sert2.jpg")
								.overlay
									img(src="img/overlay.png", alt="")
								img(src="img/sert2.jpg")   	
						.item.scrollAnim
							a.pic(href="img/sert1.jpg")
								.overlay
									img(src="img/overlay.png", alt="")
								img(src="img/sert1.jpg")
			.section.partners
				.container
					a.left.arrow-partner1.arrow-partner2.arrow-partner3(href="#")
						img(src="img/al.png", alt="")
						span LEFT
					a.right.arrow-partner1.arrow-partner2.arrow-partner3(href="#")
						img(src="img/ar.png", alt="")
						span RIGHT
					h2.title.colored партнеры
					.blue-tabs
						a(href="#", data-id="0").active Спортпит
						a(href="#", data-id="1") одежда  
						a(href="#", data-id="2") инвентарь
						div.blue-line
					.blue-tabs-content
						.cont.active(data-id="0")
							.owl-carousel.partner1
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p1.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p2.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p1.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p2.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p2.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
						.cont(data-id="1")
							.owl-carousel.partner2
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p1.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p2.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p1.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p2.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p2.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p2.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
						.cont(data-id="2")
							.owl-carousel.partner3
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p1.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p2.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p1.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p2.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
								.item.scrollAnim
									a(href="#").partner
										img(src="img/p2.png", alt="")
									.partner-info
										p.simple-text.colored Компания является лидером по транспортировки грузов по всей Европе. Уже как 10 лет стабильный партнер нашей компании
										a(href="#", target="_blank") www.lessmore.com
			.section.question
				.quest-container
					h2.title.colored Возникли вопросы?
					p.simple-text.colored Если у вас возникли вопросы касательно нашей деятельности, вы хотите уточнить расписание, оставить бронь или просто написать нам свои впечатления о посещении нашего комплекса – заполните данную форму и в ближайшее время специалист перезвонит вам
					a.btn.quest(href="#") задать вопрос
			.section.main-footer
				.fullside
					.footer
						.f-content
							.table
								table
									tr
										td.label
											span Мобильный телефон:
										td.info
											span + 7 934 345 34 65
									tr
										td.label
											span Электронная почта: 
										td.info
											span balance@gmail.com
									tr
										td.label
											span Городской телефон:    
										td.info
											span (391) 234–44–34
									tr
										td.label
											span Адрес:
										td.info
											span г. Красноярск, ул. Маерчака, д. 123
							.socials
								ul
									li
										a(href="#", target="_blank") VKONTAKTE
									li
										a(href="#", target="_blank") FACEBOOK
									li
										a(href="#", target="_blank") youtube
									li
										a(href="#", target="_blank") INSTAGRAM  	  	
		include modules/scripts.jade