html
	include modules/head.jade
	body
		include modules/header.jade
		include modules/menu.jade
		include modules/faq.jade
		#fullpage.no-fullpage
			.abs-map-content
				h1 Контакты 
				ul
					li Россия, Красноярск, ул. Маерчака, д. 10
					li balance@balance.com
					li 343–34–43, 344–32–34
				.social
					a(href="#", target="_blank") vkontakte
					a(href="#", target="_blank") FACEBOOK
					a(href="#", target="_blank") TWITTER
					a(href="#", target="_blank") INSTAGRAM
			.section#map
		include modules/scripts.jade