html
	include modules/head.jade
	body.pagescroll.fullscroll
		#fullpage
			.section.hodor
				.logo
					img(src="img/logo.svg")
				h1.center Первый настоящий #[br] #[span WELLNESS] в Красноярске
				span.soon.center Скоро
				span.adress г. Красноярск, ул. Маерчака, 10
	include modules/scripts.jade