html
	include modules/head.jade
	body.pagescroll.fullscroll
		include modules/preloader.jade
		include modules/header.jade
		include modules/menu.jade
		include modules/faq.jade
		#navigator
			span.where 
			ul
				li(data-id="0", data-where="главная").active 
				li(data-id="1", data-where="о клубе") 
				li(data-id="2", data-where="wellness")
				li(data-id="3", data-where="услуги") 
				li(data-id="4", data-where="контакты") 
		#fullpage
			.section.main.active(data-id="0")
				.divvideo
					video(autoplay="" loop="" muted="" style="width:100%; height:100%; position:absolute; margin:auto; z-index: 0; top: 0;")
						source(src="vid.mp4", type="video/mp4")
				.video-overlay
				.main-text
					h1 balance
					p Первый настоящий WELLNESS в Красноярске
				a.scroll-down(href="#")
					img(src="img/da.png", alt="")
					span SCROLL
			.section.main-about(data-id="1")
				.side
				.side.white
					div.content
						h2 BALANCE SPORT & SPA
						p Мы объединили проверенные технологии и усилия ведущих специалистов 4 индустрий: медицины, питания, фитнеса и спа в общее wellness пространство, чтобы обеспечить здоровье, красоту и уверенность в завтрашнем дне неравнодушным к себе людям.
						a.btn(href="https://artchipsa.github.io/Balance/about.html") подробнее о клубе
			.section.main-wellness.second(data-id="2")
				.side
					div.content
						h2 WELLNESS – это…
						p поддержание хорошей физической и духовной формы без сверх-напряжения, тяжелых физических нагрузок и изнурительных диет.
						a.btn(href="https://artchipsa.github.io/Balance/wellness.html") узнать подробнее
				.side.blacky
			.section.main-services(data-id="3")
				.fullside
					a.left(href="#")
						img(src="img/al.png", alt="")
						span LEFT
					a.right(href="#")
						img(src="img/ar.png", alt="")
						span RIGHT
					.owl-carousel.main-carousel
						.item
							a(href="#").s2 
							p Диагностика
						.item
							a(href="https://artchipsa.github.io/Balance/service.html").s1
							p Фитнес
						.item
							a(href="#").s3 
							p Банный<br> копмлекс
						.item
							a(href="#").s4 
							p SPA &<br> Косметология
						.item
							a(href="#").s5 
							p Питание

			.section.main-footer(data-id="4")
				.fullside
					.footer
						.f-content
							.table
								table
									tr
										td.label
											span Мобильный телефон:
										td.info
											span + 7 934 345 34 65
									tr
										td.label
											span Электронная почта: 
										td.info
											span balance@gmail.com
									tr
										td.label
											span Городской телефон:    
										td.info
											span (391) 234–44–34
									tr
										td.label
											span Адрес:
										td.info
											span г. Красноярск, ул. Маерчака, д. 123
							.socials
								ul
									li
										a(href="#", target="_blank") VKONTAKTE
									li
										a(href="#", target="_blank") FACEBOOK
									li
										a(href="#", target="_blank") youtube
									li
										a(href="#", target="_blank") INSTAGRAM


		include modules/scripts.jade