html
	include modules/head.jade
	body.pagescroll.fullscroll
		include modules/preloader.jade
		include modules/header.jade
		include modules/menu.jade
		include modules/faq.jade
		#fullpage.no-fullpage
			.section.text
				.side(style="background-image: url(img/text1.jpg)")
				.side.white
					.content.scrolled
						a.back(href="") назад
						h1 Pilates. Эффективная система дыхания и восстановления организма
						p Кроссфит – это относительно новый вид спорта, направленный на одновременное развитие силы и выносливости. Его нельзя назвать силовым видом спорта, хотя со стороны может показаться, что это всё то же "тягание штанги". Но в программу кроссфит-тренировок входят упражнения из самых разных дисциплин: фитнес, бодибилдинг, тяжёлая и лёгкая атлетика, функциональный тренинг.
						img(src="img/text-img.jpg", alt="")
						p В отличие от фитнеса, для разминки используют не велосипед или беговую дорожку, а прыжки через скакалку, запрыгивания на ящик, упражнения с весом собственного тела, выполняемые в быстром темпе (отжимания, приседания, выпады). Также выполняются упражнения для разогрева суставов и растяжки мышц, которые будут задействованы в основной части тренировки.
						p Кроссфит – это относительно новый вид спорта, направленный на одновременное развитие силы и выносливости. Его нельзя назвать силовым видом спорта, хотя со стороны может показаться, что это всё то же "тягание штанги". Но в программу кроссфит-тренировок входят упражнения из самых разных дисциплин: фитнес, бодибилдинг, тяжёлая и лёгкая атлетика, функциональный тренинг.
						p Кроссфит – это относительно новый вид спорта, направленный на одновременное развитие силы и выносливости. Его нельзя назвать силовым видом спорта, хотя со стороны может показаться, что это всё то же "тягание штанги". Но в программу кроссфит-тренировок входят упражнения из самых разных дисциплин: фитнес, бодибилдинг, тяжёлая и лёгкая атлетика, функциональный тренинг.
						p Кроссфит – это относительно новый вид спорта, направленный на одновременное развитие силы и выносливости. Его нельзя назвать силовым видом спорта, хотя со стороны может показаться, что это всё то же "тягание штанги". Но в программу кроссфит-тренировок входят упражнения из самых разных дисциплин: фитнес, бодибилдинг, тяжёлая и лёгкая атлетика, функциональный тренинг.
						p Кроссфит – это относительно новый вид спорта, направленный на одновременное развитие силы и выносливости. Его нельзя назвать силовым видом спорта, хотя со стороны может показаться, что это всё то же "тягание штанги". Но в программу кроссфит-тренировок входят упражнения из самых разных дисциплин: фитнес, бодибилдинг, тяжёлая и лёгкая атлетика, функциональный тренинг.
						p Кроссфит – это относительно новый вид спорта, направленный на одновременное развитие силы и выносливости. Его нельзя назвать силовым видом спорта, хотя со стороны может показаться, что это всё то же "тягание штанги". Но в программу кроссфит-тренировок входят упражнения из самых разных дисциплин: фитнес, бодибилдинг, тяжёлая и лёгкая атлетика, функциональный тренинг.
		include modules/scripts.jade