#menu
	.fade
	.fade
	.fade
	.fade
	.fade
	.side
		ul
			li
				a(href="#", target="_blank") О клубе
			li
				a(href="#", target="_blank") Wellness 
			li
				a(href="#", target="_blank") Фитнес
			li
				a(href="#", target="_blank") Диагностика
			li
				a(href="#", target="_blank") SPA & косметология
			li
				a(href="#", target="_blank") банный комплекс
			li
				a(href="#", target="_blank") питание
			li
				a(href="#", target="_blank") контакты
	.side