<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
//- script(src="js/ext.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.9/jquery.fullPage.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.9/vendors/jquery.easings.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.9/vendors/scrolloverflow.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/main.js")