footer
	.container
		.row
			.col-sm-4.col-md-4.col-lg-4
				a(href="/").logo
					img(src="img/logo.svg", alt="лого")
			.col-sm-4.col-md-4.col-lg-5
				a.btn.default(href="http://altan-shina.ru/", target="_blank") наш магазин
			.col-sm-4.col-md-3.col-lg-3
				.links
					a(href="https://www.instagram.com/altanshinakhv/", target="_blank").social
					a(href="https://vk.com/altanshinakhv", target="_blank").social
					div.credits сделано в #[a(href="#") Чипса] © 2016 

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="../dev/js/bootstrap.min.js")
script(src="../dev/js/isotope-docs.min.js")
script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript")
script(src="../dev/js/main.js")