header
	.container
		.row
			.col-xs-12.col-sm-2.col-md-3.col-lg-3.vcenter
				a.logo(href="#")
					img(src="../dev/img/logo.svg")
			.col-xs-8.col-sm-3.col-md-3.col-lg-4.vcenter
				nav.navbar
					ul.nav.navbar-nav
						li.active
							a(href="#") Все статьи
						li
							a(href="#") О нас

			.col-xs-3.col-sm-7.col-md-6.col-lg-5.vcenter
				form#headerSearch(action="#", method="#")
					input(type="text")
					a.btn(href="#")
						span.glyphicon.glyphicon-search
				a.btn.default(href="#") Наш магазин
				a.btn.default(href="#") Подписаться


