.modal.fade.callback-modal(tabindex="-1", role="dialog")
	.modal-dialog(role="document")
		.modal-content
			a(href="#", data-dismiss="modal").modal-close
				span.glyphicon.glyphicon-remove
			.modal-header 
				h2 Закажите обратный звонок
				p Закажите обратный звонок и наш менеджер #[span перезвонит вам.]
			.modal-body 
				form(action="")
					input(type="text", name="name", placeholder="Ф. И. О.", required)
					input(type="tel", name="phone", required)
					input.link(type="submit", value="Заказать звонок")
				p.success Спасибо за обращение. Наш менеджер свяжется с вами.

