.modal.fade.modal-subscribe(tabindex="-1", role="dialog")
	.modal-dialog(role="document")
		.modal-content
			a(href="#", data-dismiss="modal").modal-close
				span.glyphicon.glyphicon-remove
			.modal-header 
				h2 Подписка на блог
				p Для подписки на наш блог укажите адрес вашей #[span электронной почты]
			.modal-body 
				form(action="")
					input(type="email", name="email", placeholder="example@mail.ru", required)
					input.link(type="submit", value="Подписаться")

