.modal.fade.modal-card(tabindex="-1", role="dialog")
	.modal-dialog(role="document")
		.modal-content
			a(href="#", data-dismiss="modal").modal-close
				span.glyphicon.glyphicon-remove
			.modal-body 
				img(src="img/modal-bill.jpg", alt="Описание карты")

