section.share
	script(src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
	script(src="https://yastatic.net/share2/share.js")
	.half-width
		.ya-share2(data-service="vkontakte,facebook,odnoklassniki,twitter", data-counter="")
	.subscribe-block
		p Подпишись на наш блог и получай информацию об акциях и скидках в АлтанШине	
		a.btn.default(href="#", data-toggle="modal", data-target=".modal-subscribe") подписаться