section.share
	script(src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
	script(src="https://yastatic.net/share2/share.js")
	.half-width
		.ya-share2(data-service="vkontakte,facebook,odnoklassniki,twitter", data-counter="")
	.half-width
		a.btn.default(href="") подписаться