section.similar-block
	.container
		.divider
			img(src="img/emblem.svg")
		h2.title вас может заинтересовать
		.article-contnet
			.article-element.big
				.article-img(style="background-image: url(img/sa1.jpg)")
				.abs-hover
				.article-info
					a.tag(href="#")
						span репортаж
					h2.article-title Ночные гоночные движения хабаровска
					a.link(href="#") читать статью
				.activity-info
					.activity-element
						img(src="img/speech_bubble.svg")
						span 23
					.activity-element
						img(src="img/eye.svg")
						span 230
			.article-element.small
				.article-img(style="background-image: url(img/sa2.jpg)")
				.abs-hover
				.article-info
					a.tag(href="#")
						span репортаж
					h2.article-title Выбор подходящего мотоцикла для города
					a.link(href="#") читать статью
				.activity-info
					.activity-element
						img(src="img/speech_bubble.svg")
						span 23
					.activity-element
						img(src="img/eye.svg")
						span 230
			.article-element.middle.special
				a(href="#")
					.abs-hover
					img(src="img/sa3.jpg", alt="Специальное предложение")