@import 'base/variables.less';
@import 'base/mixin.less';
@import 'bootstrap.min.css';
@import 'bootstrap-theme.min.css';

//base styles
.vcenter{
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.relative{
	position: relative;
}
.font-l();
.font-n();
.font-m();
.font-b();

body{
	font-family: 'Rubik-n';
	font-size: 14px;

}

.btn{
	color: @white;
	border: 2px solid @yellow;
	padding: 10px;
	background-color: transparent;
	border-radius: 0px;	
	line-height: normal;
	transition: all .35s ease;
	margin-right: 18px;
	&:hover{
		color: @black;
		background-color: @yellow;
	}

	&.default{
		text-transform: uppercase;
		padding: 12px 25px;
		font-family: 'Rubik-m';
	}
	&.black{
		color: @black;
	}
}
.title{
	font-family: 'Rubik-b';
	font-size: 2.3em;
	line-height: 1.35em;
	text-transform: uppercase;
	margin-bottom: 55px;
}

//Header style 

header{
	background-color: @black;
	.logo{
		display: block;
		text-align: center;
		img{
			width: 165px;
		}
	}

}

.navbar{
	margin-bottom: 0px;
	border: none;
	ul {
		display: block;
		text-align: center;
		width: 100%;
		li{
			display: inline-block;
			float: none;
			
			&:last-child{
				a{
					margin-right: 0px;
				}
			}
			a{
				font-family: 'Rubik-m';
				color: @white;
				font-size: 1em;
				padding: 0px;
				padding-top: 36px;
				padding-bottom: 32px;
				text-transform: uppercase;
				margin-right: 55px;
				transition: all .35s ease;
				border-bottom: 4px solid transparent;
				&:hover{
					color: @yellow;
					background-color: transparent;
					border-bottom: 4px solid @yellow;
				}
			}

		}
		.active{
			a{
				color: @yellow;
				background-color: transparent;
				border-bottom: 4px solid @yellow;
			}
		}
	}
}

#headerSearch{
	display: inline-block;

	input[type="text"]{
		display: none;
	}
	
	.btn{
		span{
			font-size: 1.25em;
		}
	}
}

.hero-section{
	padding: 150px 0px;
	background-image: url(../img/article.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: @white;
	text-align: center;
}
.article-head{
	width: 750px;
	display: inline-block;
	margin-bottom: 60px;
	span{
		font-family: 'Rubik-m';
		font-size: 1.4em;
		font-style: italic;
		text-transform: uppercase;
		color: @gray;
		display: inline-block;
		margin-bottom: 60px;
	}
	h1{
		font-family: 'Rubik-b';
		font-size: 3.3em;
		line-height: 1.3em;
		text-transform: uppercase;
		margin-top: 0px;
		margin-bottom: 30px;
	}
	p{
		display: inline-block;
		width: 80%;
		font-size: 2em;
	}
}
.article-activity{
	margin-bottom: 40px;
}
.activity-element{
	display: inline-block;
	margin-right: 25px;
	img{
		width: 28px;
		margin-right: 10px;
	}
}
.activity-element:last-child{
	margin-right: 0px;
}
.article-date{
	font-size: 1.13em;
	span{
		color: @yellow;
	}
}
.article-wrap{
	margin-bottom: 100px;
}
.road{
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100%;
    background-image: url(../img/road.png), url(../img/finish.png);
    background-repeat: repeat-y, no-repeat;
    background-position: top, bottom;
    .car{
    	padding-top: 100px;
    	height: 111px;
    	transition: all .35s ease;
    	img{
    		width: 60px;
		    margin-left: 16px;
    	}
    	&.fixed{
    		padding-top: 0px;
    		top: 0px;
    		position: fixed;
    	}
    	&.finish{
    		position: absolute;
    		top: auto;
    		bottom: 150px;
    	}
    }
	.top{
		position: absolute;
	    bottom: -45px;
	    text-transform: uppercase;
	    color: @dark-gray;
	    font-family: 'Rubik-m';
	    text-decoration: underline;
	    font-size: 1em;
        left: 17px;
        &:hover{
        	text-decoration: none;
        }
	}
}


.article{
	padding-top: 80px;
	h2{
		font-family: 'Rubik-b';
		font-size: 2.3em;
		line-height: 1.35em;
		text-transform: uppercase;
		padding-right: 120px;
		margin-bottom: 45px;
	}
	p{
		font-size: 1.43em;
		padding-right: 120px;
		margin-bottom: 45px;
	}
	a{
		display: inline-block;
		font-size: 2em;
		color: @blue;
		padding-right: 120px;
		margin-bottom: 50px;
	}
}
.quote-text{
	span {
		color: @dark-gray;
		font-family: 'Rubik-l';

	}
}
.quote{
	margin-bottom: 100px;
}
.quote-body{
	border: 20px solid @yellow;
	padding: 40px 80px;
	margin-left: 65px;
	font-family: 'Rubik-m';
    font-size: 1.6em;
    line-height: 1.4em;
	
	img{
	    position: absolute;
    	left: 18px;
    	top: 31%;

	}
}
.promo-img{
	position: relative;
	margin-bottom: 90px;
	img{
		width: 100%;
	}
}
.img-block{
	margin-bottom: 50px;
}
.share{
	.ya-share2{
		display: inline-block;
		vertical-align: middle;
	}
	a{
		padding-right: 0px;
		font-size: 1em;
		margin-bottom: 0px;
	}
	.btn{
		color: @black;
		vertical-align: middle;
		position: relative;
		margin-right: 0px;
		float: right;
	}
	.half-width{
		display: inline-block;
		vertical-align: middle;
		width: 49%
	}
}

//similar block
.similar-block{
	text-align: center;
}
.divider{
	padding: 20px;
	margin-bottom: 40px;
	text-align: center;
	display: inline-block;
	position: relative;
	&:before{
		content: "";
		height: 1px;
		width: 250px;
		position: absolute;
		left: -250px;
		top: 50%;
		background-color: @black;
	}
	&:after{
		content: "";
		height: 1px;
		width: 250px;
		position: absolute;
		right: -250px;
		top: 50%;
		background-color: @black;
	}

	img{
		width: 20px;
	}
}
.article-contnet{
	display: block;
	margin-bottom: 100px;
}
.link{
	text-transform: uppercase;
	color: @white;
	padding-bottom: 3px;
	border-bottom: 2px solid @yellow;
	transition: all .35s ease;
	font-size: 1em;
	&:hover{
		color: @white;
		text-decoration: none;
		border-color: transparent;
	}
}
.article-element{
	position: relative;
	color: @white;
	overflow: hidden;
	transition: all .35s ease;
	display: inline-block;
	vertical-align: top;
	&.big{
		padding: 130px 350px;
	}
	&.small{
		padding: 85px 75px;
		width: 30%;
	}
	&.middle{
		width: 70%;
	}
	&.special{
		img{
			width: 100%;
			max-height: 427px;
		}
	}
	.article-info{
		z-index: 2;
		position: relative;
		text-align: center;
		.tag{
			color: @gray;
			font-family: 'Rubik-m';
			font-style: italic;
			display: inline-block;
			text-transform: uppercase;
			margin-bottom: 40px;
			font-size: 1em;
		}
		.article-title{
			text-transform: uppercase;
			font-family: 'Rubik-b';
			font-size: 1.7em;
			line-height: 1.5em;
			margin-bottom: 45px;
		}
	}
	.abs-hover{
		background-color: fade(@blue, 40%);
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: all .35s ease;
	}
	.article-img{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		background-repeat: no-repeat;
		background-size: cover;
		transition: all .35s ease;
	}
	.activity-info{
		position: absolute;
		bottom: -70px;
		left: 0;
		padding: 20px 40px;
		width: 100%;
		z-index: 2;
		transition: all .35s ease;
		transition-delay: .15s;
		.activity-element:first-child{
			float: left
		}
		.activity-element:last-child{
			float: right;
		}
	}
	&:hover .article-img{
		transform: scale(1.1);
	}
	&:hover .abs-hover{
		opacity: 1;
	}
	&:hover .activity-info{
		bottom: 0;
	}
}

/* COMMENTS */
.gray-block{
	padding: 80px 0px;
	background-color: @light-gray;
}

.comment-head{
	padding-bottom: 30px;
	border-bottom: 1px solid @dark-gray;
	h2{
		font-size: 1.7em;
		font-family: "Rubik-b";
		text-transform: uppercase;
		display: inline-block;
		span{
			color: @yellow;
			span{
				color: @black;
			}
		}
	}
	.glyphicon{
		transform: rotate(90deg);
		float: right;
	    position: relative;
	    top: 18px;
	    font-size: 2em;
	}
}
.comment-body{
	padding: 30px 0px;
	border-bottom: 1px solid @dark-gray;
	&:hover .reply{
		opacity: 1;
	}

}
.commentator-img{
	img{
		border-radius: 50%;
		border: 5px solid @yellow;
	    width: 100%;
    	height: 100%;
	}
}
.comment-content{
	margin-bottom: 25px;
	h2{
		margin-top: 0px;
		font-size: 1.14em;
		line-height: 1.3em;
		font-family: "Rubik-b";
		width: 150px;
	}
	textarea{
		width: 100%;
		padding: 15px;
		margin-bottom: 20px;
		border: 2px solid transparent;
		&:focus{
			border-color: @yellow;
			outline: none;
		}
	}
	.link{
		background-color: transparent;
		outline: none;
		border:none;
		color: @black;
		font-family: 'Rubik-m';
		border-bottom: 2px solid @yellow;
	}
}
.comment-time{
	text-transform: uppercase;
	color: @dark-gray;
	font-family: "Rubik-m";
	display: inline-block;
	margin-right: 20px;
}
.like-block{
	display: inline-block;
	margin-right: 20px;
	.like-btn{
		display: inline-block;
		color: @dark-gray;
		border: 2px solid @dark-gray;
		border-radius: 50%;
	    text-decoration: none;
	    line-height: 1em;
	    width: 20px;
	    height: 20px;
	    font-family: "Rubik-b";
	    padding-right: 1px;
	    padding-top: 1px;
	    text-align: center;
	    transition: all .35s ease;
	    opacity: 0;
	}
	
	&:hover .like-btn{
		opacity: 1;
	}

	.like-count{
		display: inline-block;
		margin: 0px 5px;
		.glyphicon{
			margin-right: 5px;
			font-size: 0.8em;
			color: @dark-gray;
		}
		span{
			color: @green;
		}
	}
}
.reply{
	transition: all .35s ease;
	opacity: 0;
	display: inline-block;
	a{
		color: @dark-gray;
		text-decoration: none;
		border-bottom: 1px dashed @dark-gray;
		&:hover{
			border-color: transparent;
		}
	}
}
.comments-wrap{
	.auth-block{
		margin-top: 45px;
	}
}

//footer

footer{
	padding: 55px;
	background-color: @black;
	.logo{
		img{
			width: 200px;
		}
	}
	.links{
		color: @white;
		text-align: right;
		a{
			display: inline-block;
			width: 30px;
			height: 30px;
		}
		.social:first-child{
			margin-right: 20px;
			background-image: url(../img/inst.png);
		}
		.social{
			transition: all .35s ease;
			background-image: url(../img/vk.png);
			&:hover{
				background-color: @yellow;
			}
		}
		div{
			text-transform: uppercase;
			a{	
				width: auto;
				color: @white;
			}
		}
	}
}

@media (max-width: 1199px) {
	.road{
		display: none;
	}
	.article-element{
		&.big{
			padding: 79px 295px;
		}
		&.small{
		    padding: 55px 35px;
		}
	}
}
@media (max-width: 991px){
	.article-element{
		&.big{
		    padding: 55px 195px;
		}
		&.small{
        	padding: 37px 10px;
		}
		.article-info{
			z-index: 2;
			position: relative;
			text-align: center;
			.tag{
				color: @gray;
				font-family: 'Rubik-m';
				font-style: italic;
				display: inline-block;
				text-transform: uppercase;
				margin-bottom: 25px;
				font-size: 1em;
			}
			.article-title{
				text-transform: uppercase;
				font-family: 'Rubik-b';
				font-size: 1.7em;
				line-height: 1.5em;
				margin-top: 0px;
				margin-bottom: 30px;
			}
		}
		.activity-info{
		    padding: 5px 10px;
		}
	}
	.article{
		padding-top: 40px;
		h2{
			font-family: 'Rubik-b';
			font-size: 2.3em;
			line-height: 1.35em;
			text-transform: uppercase;
			padding-right: 0px;
			margin-bottom: 40px;
		}
		p{
			font-size: 1.43em;
			padding-right: 0px;
			margin-bottom: 45px;
		}
		a{
			display: inline-block;
			font-size: 2em;
			color: @blue;
			padding-right: 0px;
			margin-bottom: 50px;
		}
	}
	.article-head{
		width: 700px;
	}
	header{
		.logo{
			img{
				width: 105px;
			}
		}
		.btn.default:last-child{
			margin-right: 0px;
		}
		.navbar{
			ul{
				li{
					a{
						margin-right: 20px;
					}
				}
			}
		}
	}
	.hero-section{
	    padding: 115px 0px;
	}
	.img-block{
		img{
			width: 100%;
		}
		.quote-text{
			margin-bottom: 20px;
		}
	}
	.share a{
		font-size: 1em;
	}
	.article-wrap{
		margin-bottom: 35px;
	}
	footer{
		padding: 55px 0px;
	}
}
@media (max-width: 767px){
	body{
		font-size: 12px;
	}
	.article-head{
		width: 290px;
		margin-bottom: 30px;
		span{
			margin-bottom: 30px;
		}
	}
	.hero-section {
	    padding: 75px 0px;
	}
	.article-element{
		&.big{
		    padding: 55px 20px;
		}
		&.small{
			width: 100%;
        	padding: 55px 20px;
		}
		&.middle{
			width: 100%;
		}
	}
	.divider{
		&:after{
			width: 70px;
			left: -70px;
		}
		&:before{
		    width: 70px;
  			left: 60px;
		}
	}
	header{
		padding: 20px 0px;
		.btn.default{
			display: none;
		}
		.navbar{
			ul{
				li{
					a{
						padding-top: 15px;
						padding-bottom: 13px;
					}
				}
			}
		}
		.logo{
			img{
				width: 150px;
			}
		}
	}
	.article{
		padding-top: 20px;
		h2{
			font-family: 'Rubik-b';
			font-size: 1.8em;
			line-height: 1.35em;
			text-transform: uppercase;
			padding-right: 0px;
			margin-bottom: 20px;
		}
		p{
			font-size: 1.47em;
			padding-right: 0px;
			margin-bottom: 25px;
		}
		a{
			display: inline-block;
			font-size: 1.75em;
			color: @blue;
			padding-right: 0px;
			margin-bottom: 30px;
		}
	}
	.quote{
		margin-bottom: 30px;
		.quote-text{
			margin-bottom: 20px;
		}
	}
	.quote-body{
	    padding: 30px 35px;
		margin-left: 0px;
		margin-top: 65px;
		img{
		    position: absolute;
		    left: 27%;
		    top: -60px;
		}
	}
	.promo-img{
		margin-bottom: 0px;
	}
	.share a{
		font-size: 1em;
	}
	.article-wrap {
	    margin-bottom: 0px;
	}
	.divider{
	    margin-bottom: 0px
	}
	.article-contnet{
		margin-bottom: 50px;
	}
	.auth-block{
		text-align: center;
		span{
			display: block;
			margin-top: 15px;
		}
	}
	.gray-block{
		padding: 40px 0px;
	}
	footer{
		text-align: center;
	    padding: 25px 0px;
		.btn{
			margin: 25px 0px;
		}
		.links{
			text-align: center;
		}
	}
}

/* Medium Devices, Desktops
@media only screen and (max-width : 991px) {

}

Small Devices, Tablets
@media only screen and (max-width : 767px) {

}

Extra Small Devices, Phones 
@media only screen and (max-width : 479px) {

}
 */