@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import "modules/variables.less";
@import "modules/mixins.less";

//COMMON STYLES

@font-face{
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Regular.otf);
  font-weight: 400;
}
@font-face{
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Light.otf);
  font-weight: 300;
}
@font-face{
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Thin.otf);
  font-weight: 100;
}
@font-face{
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Bold.otf);
  font-weight: 700;
}
@font-face{
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-ExtraBold.otf);
  font-weight: 800;
}
@font-face{
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Black.otf);
  font-weight: 900;
}
@font-face{
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
  font-weight: 400;
}

html{
  font-size: 18px;
}

body{
  font-family: Akrobat, sans-serif;
  font-size: inherit;
  &.open-menu{
    overflow: hidden;
  }
}
p,span,a,h1,h2,h3,{
  letter-spacing: normal!important;
}
#scene{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
//VIDEO CONTENT

#set-height {
  display: block;
  height: 27000px;
  -webkit-overflow-scrolling: touch;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.info{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.first{
  position: absolute;
  width: 300px;
  margin-top: 190px;
  margin-left: 10%;
}
.third{
  position: absolute;
  width: 400px;
  margin-top: 190px;
  right: 0;
  display: none;
  margin-right: 15%;
}
.four{
  position: absolute;
  width: 300px;
  margin-top: 190px;
  display: none;
  margin-left: 10%;
}
.second{
  position: absolute;
  width: 400px;
  margin-top: 190px;
  right: 0;
  display: none;
  margin-right: 15%;
}
.divvideo {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
    img{
    width: 100%;
    height: 100%;
  }
}
.controls {
  width: 3px;
  height: 250px;
  position: fixed;
  top: 310px;
  right: 40px;
  z-index: 20;
}
.controls #progress-bar{
  background-color: rgba(0,0,0,.9);
  width: 250px;
  height: 3px;
  transform: rotate(90deg);
  margin-left: -124px;
  margin-top: 123px;
  position: absolute;
  z-index: -1;
}
.controls ul{
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 20px;
}
.controls ul li{
  margin-left: -8.8px;
}
.controls .point{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  display: block;
  margin-bottom: 45px;
  transition: all .35s ease;
  z-index: 1;
}
.controls .point.active{
  background-color: #008000;
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
.preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @white;
  text-align: center;
  display: block;
  z-index: 999;
  font-size: 62px;
  color: #fff;
}



.video-message{
  width: 630px;
  color: @white;
/*   &:before{
  position: absolute;
  content: '+';
  color: @white;
  bottom: -12px;
  left: -7px;
  font-size: 25px;
  line-height: 26px;
  font-weight: 100;
}
&:after{
  position: absolute;
  content: '+';
  color: @white;
  top: -13px;
  right: -8px;
  font-size: 40px;
  line-height: 18px;
  font-weight: 100;
} */
  h2{
    color: @white;
    margin-top: 0px;
    margin-bottom: 80px;
    .font-size(58);
    // font-size: 34px;
    line-height: 68px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    span{
      font-weight: 800;
      color: @cyan;
    }
  }
  p{
    font-family: Raleway;
    font-weight: 300;
    line-height: 26px;
    padding-right: 15%;
    margin-bottom: 80px;
  }
}
.btn{
  position: relative;
  -webkit-transition: all .35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all .35s cubic-bezier(0.19, 1, 0.22, 1);
  &.standart{
    border: 1px solid @cyan;
    color: @white;
    padding: 16px 26px;
    border-radius: 0px;
    .font-size(16);
    letter-spacing: 2px;
    text-transform: uppercase;
    &:hover{
      background-color: @cyan;
    }
    .lt{
      position: absolute;
      line-height: normal;
      top: -12px;
      left: -4px;
    }
    .rt{
      position: absolute;
      line-height: normal;
      top: -12px;
      right: -4px;
    }
    .lb{
      position: absolute;
      line-height: normal;
      bottom: -8px;
      left: -4px;
    }
    .rb{
      position: absolute;
      line-height: normal;
      bottom: -8px;
      right: -4px;
    }
  }
}



// Новый пагинатор

.new-controlls{
  position: fixed;
  right: 0%;
  top: 10%;
  left: auto;
  width: 8%;
  height: 80%;
  z-index: 10;
  text-align: center;
  .axis{
    width: 1px;
    height: 100%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
  }
  ul{
    padding-left: 0px;
    padding-top: 15%;
    padding-bottom: 15%;
    position: absolute;
    display: inline-block;
    list-style: none;
    top: 0px;
    height: 100%;
    li{
      position: relative;
      height: 10%;
      margin-bottom: 15px;
    }
    .li-cont {
      width: 1px;
      height: 100%;
      position: absolute;
      right: 0;
      transition: all .2s ease;
      cursor: pointer;
      &:hover{
        width: 3px;
      }
      &.active{
        width: 3px;
        .fill{
          display: block;
        }
      }
    }
  }
  .section{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: @text;
  }
  .section-number{
    color: @cyan;
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    transform: rotate(90deg);
    left: 10px;
    opacity: 0;
  }
  .section-name{
    color: @white;
    position: absolute;
    margin-left: -105px;
    top: auto;
    left: auto;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    opacity: 0;
  }
  .fill{
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: @cyan;
    display: none;
  }
}

// header styles

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.center{
  text-align: center;
}

header{
  position: fixed;
  z-index: 11;
  top: 22px;
  width: 100%;
  padding: 0 3.3%;
  letter-spacing: -.43em;
  .logo-text{
    color: @white;
    font-family: Akrobat;
    text-transform: uppercase;
    letter-spacing: 1.5;
  }
  .logo{
    width: 200px;
  }
  .menu-block{
    text-align: right;
  }
  .menu{
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
    .close-menu{
      .burger-bar{
        display: block;
        width: 100%;
        height: 2px;
        background-color: @white;
        margin-bottom: 8px;
        -webkit-transition: all .25s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all .25s cubic-bezier(0.19, 1, 0.22, 1);
        &:last-child{
          margin-bottom: 0px;
        }
        &:nth-child(1){
          transition-delay:.5s;
        }
        &:nth-child(2){
          transition-delay:.625s;
        }
        &:nth-child(3){
          transition-delay:.75s;
        }
      }      
    }
    &.no-active:hover{
      .close-menu{
        .burger-bar{
          &:nth-child(1){
            animation: .25s cubic-bezier(0.19, 1, 0.22, 1) 0s menuhover;
          }
          &:nth-child(2){
            animation: .25s cubic-bezier(0.19, 1, 0.22, 1) .125s menuhover;
          }
          &:nth-child(3){
            animation: .25s cubic-bezier(0.19, 1, 0.22, 1) .25s menuhover;
          }
        }
      }
    }
    .open-menu{
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      transform:rotate(45deg);
      .burger-bar{
        -webkit-transition: all .25s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all .25s cubic-bezier(0.19, 1, 0.22, 1);
        position: absolute;
        &:nth-child(1){
          height: 0%;
          width: 2px;
          position: absolute;
          top: 0%;
          left: 12px;
          transition-delay: 0s;
        }
        &:nth-child(2){
          width: 0%;
          height: 2px;
          position: absolute;
          left: 0%;
          top: 12px;
          transition-delay: .25s;
        }
      }
    }
    &.active{
      .close-menu {
        .burger-bar {
          width:0%;
          &:nth-child(1){
            transition-delay:0s;
          }
          &:nth-child(2){
            transition-delay:.125s;
          }
          &:nth-child(3){
            transition-delay:.25s;
          }
        }
      }
      .open-menu {
        .burger-bar {
          &:nth-child(1){
            height:100%;
            transition-delay:.625s;
          }
        }
        .burger-bar {
          &:nth-child(2){
            width:100%;
            transition-delay:.375s;
          }
        }    
      }      
    }
  }
}

.main-menu{
  background-color: @black;
  position: fixed;
  z-index: 11;
  height: 100%;
  width: 100%;
  -webkit-transition: all .35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all .35s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay:.125s;
  transform: translateY(-100%);
  &.open{
    transform: translateY(0);
    .line-block{

    }
  }
  .line-block{
    span{
      color: @cyan!important;
    }
    .circle{
      border-color: @cyan!important;
      span{
        background-color: @cyan!important;
      }
    }
  }
  .menu-content{
    z-index: 12;
    position: relative;
  }
  .menu-list{
    text-align: center;
    margin-top: 220px;
    ul{
      list-style: none;
      padding-left: 0px;
    }
    li{
      margin-bottom: 10px;
    }
    a{
      color: @white;
      display: inline-block;
      .font-size(32);
      text-transform: uppercase;
      line-height: 70px;
      letter-spacing: 4.5!important;
      font-weight: 300;
      padding-bottom: 24px;
      span{
        display: block;
        width: 0px;
        height: 1px;
        background-color: @cyan;
        -webkit-transition: all .35s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all .35s cubic-bezier(0.19, 1, 0.22, 1);  
      }
      &:hover{
        text-decoration: none;
        span{
          width: 100%;
        }
      }
    }
  }
  .social{
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 12;
    a{
      text-transform: uppercase;
      margin-right: 40px;
      color: @cyan;
      -webkit-transition: all .35s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all .35s cubic-bezier(0.19, 1, 0.22, 1);  
      .font-size(16);
      &:last-child{
        margin-right: 0px;
      }
      &:hover{
        color: lighten(@cyan, 20%)
      }
    }
  }
}

/* @keyframes menuhover{
  0%{
    width: 100%;
  }
  50%{
    width: 55%;
  }
  100%{
    width: 100%;
  }
} */

.mouse{
  position: fixed;
  bottom: 70px;
  display: inline-block;
  width: 100px;
  z-index: 5;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  img{
    margin-right: 12px;
    vertical-align: middle;
  }
  span{
    .font-size(12);
    line-height: 16px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    color: @text;
  }
}

// float anim

.floating{
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);  
  }
  50% {
    transform: translateY(10%);  
  } 
  100% {
    transform: translateY(0%);
  }     
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);  
  }
  50% {
    -webkit-transform: translateY(10%);  
  } 
  100% {
    -webkit-transform: translateY(0%);
  }     
}

//lines

.big-lines{
  width: 1px;
  background-color: fade(@white, 20%);
  height: 100%;
  display: inline-block;
  margin-left: 25%;
  position: relative;
}
.little-lines{
  width: 1px;
  background-color: fade(@white, 20%);
  height: 75%;
  position: absolute;
}

.line-block{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  .little-lines{
    width: 1px;
    background-color: fade(@white, 20%);
    height: 75%;
    position: absolute;
    &:nth-child(1n){
      left: 17%;
      bottom: 0;
      span{
        .font-size(25);
        line-height: 15px;
        color: #fff;
        display: inline-block;
        position: absolute;
        top: -9px;
        left: -5px;
      }
    }
    &:nth-child(2n){
      right: 17%;
      left: auto;
      top: 0;
      span{
        .font-size(25);
        line-height: 15px;
        color: #fff;
        display: inline-block;
        position: absolute;
        top: auto;
        left: auto;
        bottom: -9px;
        right: -5px;
      }
    }
  }
}


.circle{
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  top: 35%;
  left: -5px;
  span{
    background-color: @white;
    height: 3px;
    width: 3px;
    display: block;
    border-radius: 50px;
  }
}

.main-content{
  position: relative;
  z-index: 10;
  /* margin-top: 47000px; */
  background-color: #fff;
}


.keyfeatures-block{
  width: 100%;
  height: 100vh;
  letter-spacing: -0.35em;
  .item{
    overflow: hidden;
    width: 25%;
    height: 100%;
    color: @white;
    display: inline-block;
    vertical-align: top;
    position: relative;
    letter-spacing: normal;
    transition: all .35s ease-out;
    &.f1{
      background-image: url(../img/f1.jpg);
      &:hover{
        background-image: url(../img/f1_hover.jpg);
      }
    }
    &.f2{
      background-image: url(../img/f2.jpg);
    }
    &.f3{
      background-image: url(../img/f3.jpg);
    }
    &.f4{
      background-image: url(../img/f4.jpg);
    }
    .number-container{
      position: absolute;
      top: 50px;
      width: 100%;
      text-align: center;
      .blue-line{
        width: 55px;
        height: 5px;
        background-color: @cyan;
        z-index: 1;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        right: -20px;
        transition: all .45s ease-out;
      }
      .number{
        .font-size(70);
        line-height: 1em;
        font-weight: 700;
        color: @black;
        display: inline-block;
        vertical-align: middle;
        z-index: 2;
        left: 0;
        position: relative;
        transition: all .45s ease-out;
      }
    }
    .text-container{
      position: absolute;
      bottom: 100px;
      padding: 0px 22%;
      h2{
        font-weight: 700;
        // .font-size(46);
        font-size: 2.7vw;
        line-height: 1.2em;
        color: @black;
        transition: all .35s ease-out;
      }
      p{
        .font-size(18);
        line-height: 35px;
        color: @white;
        font-family: Raleway;
        font-weight: 300;
        opacity: 0;
        height: 0px;
        transition: height .35s, opacity .45s ease-out;
      }
    }
    &:hover{
      .text-container h2{
        transform: translateY(-50px);
        color: @white;
      }
      .text-container p{
        height: 150px;
        opacity: 1;
      }
      .number-container{
        .blue-line{
          right: 20%;
        }
        .number{
          // right: -25%;
          left: 20%;
          color: @white;
        }
      }
    }
  }
}

.tech-task{
  min-height: 100vh;
  position: relative;
  background-color: @white;
  overflow: hidden;
  .blueprint{
    position: absolute;
    left: 5.5%;
    top: 0%;
    z-index: 1;
    width: 32%;
    -webkit-transition: all .45s ease-out;
    transition: all .45s ease-out;
    opacity: 0;
    &.in{
      opacity: 1;
    }
  }
  .tech{
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
    width: 45%;
    -webkit-transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    &.in{
      transform: translateX(0%);
    }
  }
  .line-block{
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 100%;
    .big-lines{
      background-color: #e6e6e6;
      position: absolute;
      margin-left: 0px!important;
      &:nth-child(1){
        left: 25%;
      }
      &:nth-child(2){
        left: 50%;
      }
    }
    .little-lines{
      background-color: #e6e6e6;
      &:nth-child(3){
        top: 0;
        left: 17%;
        span{
          color: @gray;
          top: auto;
          bottom: -5px;
        }
      }
      &:nth-child(4){
        top: 0;
        left: 75%;
        .circle{
          top: auto;
          border-color: @gray;
          bottom: -5px;
          left: -5px;
          span{
            background-color: @gray;
            position: static;
          }
        }
      }
      &:nth-child(5){
        bottom: 0;
        right: 17%;
        left: auto;
        span{
          color: @gray;
          top: -5px;
          bottom: auto;
        }
      }
    }
    .diagonal-lines{
      background-color: #e6e6e6;
      width: 1px;
      height: 158%;
      position: absolute;
      left: 49.2%;
      top: -33.8%;
      transform: rotate(48deg);
    }
  }
  .tech-row{
    position: relative;
    z-index: 3;
  }
}

.tt-info{
  padding: 20% 0px;
  p{
    width: 50%;
    color: @text;
    line-height: 30px;
    font-family: Raleway;
    font-weight: 300;
    margin-bottom: 70px;
  }
}

.btn{
  letter-spacing: 1.5!important;
  &.invert{
    background-color: @cyan;
    span{
      color: @black;
    }
    &:hover{
      background-color: transparent;
      color: @cyan;
    }
  }
}

.title{
  .font-size(58);
  font-weight: 700;
  letter-spacing: 4!important;
  margin-top: 0px;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.turns-block{
  min-height: 100vh;
  padding: 50px 0px;
  background-color: @white;
  overflow: hidden;
}

.btn.standart.black{
  color: @black;
  span{
    color: @black;
  }
}

.subtitle{
  .font-size(46);
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 1.4!important
}

.turn-tabs{
  .turn-head{
    position: relative;
    padding: 0px 1%;
    margin-bottom: 5%;
    a{
      text-align: center;
      display: inline-block;
      color: @black;
      .font-size(14);
      line-height: 55px;
      text-transform: uppercase;
      font-weight: 800;
      // margin-right: 10%;
      width: 16.6%;
      color: @text;
      transition: all .35s ease-out;
      &.active{
        color: @black;
      }
      &.mobile{
        display: none;
      }
      &:hover{
        text-decoration: none;
        color: @black;
      }
      &:focus{
        text-decoration: none;
      }
      &:last-child{
        margin-right: 0px;
      }
    }
  }
  .turn-tab{
    display: none;
    &.active{
      display: block;
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
      .turn-content, .turn-img{
        animation-duration: 0.45s;
        -webkit-animation-duration: 0.45s;
      }
    }
  }
  .turn-body{
    padding: 0px 11%;
    p{
      font-family: Raleway;
      line-height: 30px;
      padding-right: 11%;
      margin-bottom: 50px;
    }
  }
  .line{
    width: 100%;
    height: 2px;
    background-color: @cyan;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    .handler{
      border: 1px solid @cyan;
      padding: 5px;
      position: absolute;
      left: 0;
      top: -9.55px;
      border-radius: 50%;
      span{
        background-color: @cyan;
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
      }
    }
  }
}
.news-block{
  min-height: 100vh;
  position: relative; 
  background-color: @white;
  overflow: hidden;
}

.news-feed{
  width: 100%;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 70px;
  cursor: move;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 50px;
    li{
      display: inline-block;
      width: 350px;
      margin-right: 120px;
      opacity: 0;
      transform: translateY(40px);
      -webkit-transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);

      &.in{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .news-item{
    display: inline-block;
    width: 350px;
    margin-right: 120px;
    &:last-child{
      margin-right: 0px;
    }
    &:hover{
      text-decoration: none;
    }
    &:focus{
      text-decoration: none;
    }
    .time{
      padding: 0px 0px 20px 25px;
      text-transform: uppercase;
      font-weight: bold;
      color: @gray;
      white-space: normal;
      .font-size(18);
    }
    img{
      width: 100%;
      margin-bottom: 45px;
    }
    .news-content{
      padding: 0px 5%;
    }
    .news-title{
      margin-top: 0px;
      margin-bottom: 30px;
      font-weight: 900;
      letter-spacing: 1.5!important;
      text-transform: uppercase;
      .font-size(28);
      line-height: 40px;
      color: @black;
      white-space: normal;
    }
    p{
      .font-size(16);
      line-height: 30px;
      color: @gray;
      font-family: Raleway;
      margin-bottom: 0px;
      white-space: normal;
    }
  }
}

.scrollbar{
  width: 100%;
  height: 1px;
  background-color: @gray;
  position: relative;
  margin-bottom: 20px;
  .handle{
    border: 1px solid @cyan;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    top: -14px;
    &:after{
      content: '';
      border: 5px solid @black;
      border-radius: 50%;
      position: absolute;
      height: 5px;
      width: 5px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
    }
  }
}
.partners-block{
  position: relative;
  padding: 135px 0px;
  background-color: @white;
  .title-partners{
    margin-bottom: 0px;
    margin-top: 0px;
    .font-size(24);
    text-transform: uppercase;
    color: #596064;
    font-weight: 700;
    letter-spacing: 1.5!important;
  }
  .partner-img{
    margin-right: 75px;
    vertical-align: middle;
    &:last-child{
      margin-right: 0px;
    }
    img{
      @gray1: ~"grayscale(100%)";
      @gray0: ~"grayscale(0%)";

      transition: all .35s ease-out;
      -webkit-filter: @gray1; /* Safari 6.0 - 9.0 */
      filter: @gray1;
      &:hover{
        -webkit-filter: @gray0;
        filter: @gray0;
      }
    }
  }
  .partners-line{
    width: 100%;
    height: 1px;
    background-color: @gray;
    margin: 98px 0px;
  }
}

#map{
  height: 640px;
}

.map-content{
  background-color: fade(@black, 85%);
  padding: 45px 50px;
  color: @white;
  span{
    .font-size(16);
    text-transform: uppercase;
    margin-bottom: 15px;
    display: inline-block;
  }
  p{
    margin-bottom: 0px;
  }
}

.mobile-block{
  display: none;
}

// subcatalog page

header.onWhite{
  .logo-text{
      color: @black;
  }
  .menu{
    .burger-bar{
      background-color: @black!important;
    }
  }
}
header.no-index{
  position: relative;
  margin-bottom: 60px;
  .row{
     padding-bottom: 40px;
  }
  .downline{
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    position: relative;
    .circle{
      border-color: #e5e5e5;
      top: -5px;
      &:last-child{
        right: -5px;
        left: auto;
      }
      span{
        background-color: @gray;
        height: 3px;
        width: 3px;
        display: block;
        border-radius: 50px;
      }
    }
  }
}

.breadcrumb{
  background-color: transparent;
  margin-bottom: 80px;
  li{
    &.active{
      a{
        color: @gray;
        cursor: default;
        font-weight: 700;
        &:hover{
          text-decoration: none;
        }
      }
    }
    a{
      color: @cyan;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.1!important;
    }
  }
}
.breadcrumb>li+li:before{
  content: '+';
  padding-right: 8px;
}
.platforms{
  margin-top: 105px;
  margin-bottom: 128px;
  img{
    width: 70px;
    margin-right: 20px;
  }
  span{
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    font-family: Raleway;
    .font-size(16);
  }
}

.consist-block{
  .item{
    opacity: 0;
    transform: translateY(40px);
    -webkit-transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    &.in{
      opacity: 1;
      transform: translateY(0);
    }
  }
  .row{
    margin-bottom: 90px;
  }
  .item-name{
    font-size: 28px;
    margin-bottom: 22px;
    display: block;
    font-weight: 800;
  }
  a.item-name{
    color: @cyan;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  ul{
    font-family: Raleway;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      padding-left: 1em; 
      text-indent: -.7em;
      margin-bottom: 10px;
      .font-size(16);
      &:before{
        content: "• ";
        color: @cyan;
        font-size: 22px;
      }
    }
  }
  p{  
    font-family: Raleway;
    .font-size(16);
    display: inline-block;
    width: 75%;
    vertical-align: top;
  }
  img{
    width: 15%;
    margin-right: 5%;
    vertical-align: top;
    & + ul {
      display: inline-block;
      width: 75%;
    }
  }
}


// card 

.text-section{
  font-family: Raleway;
  font-size: 16px;
  margin-bottom: 95px;
  .subtitle{
    font-family: Akrobat;
  }
  ul{
    font-family: Raleway;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      padding-left: 1em; 
      text-indent: -.7em;
      margin-bottom: 5px;
      .font-size(16);
      &:before{
        content: "• ";
        color: @cyan;
        font-size: 22px;
      }
    }
  }
  img{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 40px;
    vertical-align: middle;
  }
  table{
    width: 100%;
    font-size: 16px;
    table-layout: fixed;
    tr{
      border-bottom: 1px solid @gray;
      &:last-child{
        border-bottom: transparent;
      }
      td{
        padding: 18px 0px;
        line-height: 135%;
      }
    }
  }
}

.cardsequence{
  text-align: center;
  &.affix{
    top: 60px;
    position: fixed!important;
  }
  img{
    width: 100%;
    margin-bottom: 50px;
  }
}

// catalog level 1

.catalog-content{
  margin-bottom: 80px;
  .item{
    width: 50%;
    height: 440px;
    display: inline-block;
    background-color: @catalog;
    overflow: hidden;
    position: relative;
    &:hover img{
      top: -15%;
      right: -20%;
    }
    img{
      position: absolute;
      width: 70%;
      top: -20%;
      right: -30%;
      -webkit-transition: all .7s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all .7s cubic-bezier(0.19, 1, 0.22, 1);
    }
    span{
      .font-size(46);
      font-weight: 700;
      color: @cyan;
      position: absolute;
      left: 20%;
      bottom: 80px;
    }
  }
}


.catalog-text{
  position: relative;
  margin-bottom: 200px;
  margin-top: 120px; 
  .line-block .little-lines:nth-child(1n){
    top: 150px;
    span:nth-child(2){
      top: auto;
      bottom: 0px;
    }
  }
  .line-block .little-lines:nth-child(2n){
    top: 0px;
  }
  .line-block{
    position: absolute;
    z-index: -1;
    left: 0;
    top: -120px;
    width: 100%;
    height: 110%;
    .diagonal-lines{
      background-color: #e6e6e6;
      width: 1px;
      height: 158%;
      position: absolute;
      left: 49.15%;
      top: -34%;
      transform: rotate(44deg);
    }
    .big-lines, .little-lines{
      background-color: rgba(230, 230, 230, 0.72);
      span{
        color: #e6e6e6;
      }
      .circle{
        color: #e6e6e6;
        border-color: #e6e6e6;
        top: 0px;
        span{
          position: static;
          background-color: #e6e6e6;
        }
      }
    }
    .big-lines:nth-child(1){
      opacity: 0;
    }
  }
  .catalog-text-item{
    margin-bottom: 50px;
    font-family: Raleway;
    font-size: 16px;
    &.special{
      padding: 50px 30px;
      background-color: @catalog;
    }
    p{
      margin-bottom: 30px;
      line-height: 155%;
      &:last-child{
        margin-bottom: 0px;
      }
      a{
        color: @cyan;
      }
    }
  }
  .highlight{
   padding: 46px 60px;
   border-top: 3px solid @cyan;
   border-bottom: 3px solid @cyan;
   text-align: center;
   font-weight: 800;
   font-size: 28px;
  }
}















// Media queries 

@media (max-width: 1370px){
  .keyfeatures-block .item .text-container{
    padding: 0px 14%;
  }
}

@media (max-width: 1025px){
  html{
    font-size: 16px;
  }
  .catalog-content .item img{
    width: 100%;
    top: -10%;
    right: -45%;
  }
  .text-section{
    margin-bottom: 70px;
    .subtitle{
      margin-bottom: 30px;
    }
  }
  .turn-tabs .turn-body{
    padding: 0px;
  }
  .turn-img img{
    width: 100%;
  }
  .subtitle{
    margin-top: 0px;
  }
  .keyfeatures-block .item .text-container h2{
    font-size: 3.5vw;
  }
  .keyfeatures-block .item .text-container p{
    line-height: 25px;
  }
  .partners-block .partner-img {
    margin-right: 3%;
    vertical-align: text-bottom;
    width: 17%;
    display: inline-block;
  }
  .partners-block .partner-img img{
    width: 100%;
  }
  .partners-block .partners-line{
    margin: 50px 0px;
  }
  .new-controlls{
    display: none;
  }
  header .menu .close-menu .burger-bar{
    background-color: @black;
  }
  .info{
    display: none;
  }
  .logo-text{
    display: none;
  }
  .divvideo{
    display: none;
  }
  #set-height{
    display: none;
  }
  .mobile-block{
    display: block;
    background-image: url(../img/mobile-screen.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    .info{
      position: absolute;
      display: block!important;
    }
    .video-message{
      display: block!important;
      position: absolute;
    }
  }
  .main-menu .menu-list {
      text-align: center;
      margin-top: 100px;
  }
  .breadcrumb{
    margin-bottom: 55px;
  }
  .platforms span{
    width: 63%;
  }
  .consist-block .row {
    margin-bottom: 60px;
  }
}

@media (max-width: 769px){
  #set-height{
    display: none;
  }
  .mouse{
    display: none;
  }
  .line-block{
    display: none;
  }
  .info{
    display: none;
  }
  .divvideo{
    display: none;
  }
  .header-logo{
    display: none;
  }
  .header-text{
    display: none;
  }
  .new-controlls{
    display: none;
  }
  header .menu .close-menu .burger-bar{
    background-color: @black;
  }
  .keyfeatures-block{
    height: auto;
  }
  .keyfeatures-block .item{
    width: 50%;
  }
  .keyfeatures-block .item .text-container h2{
    font-size: 6.5vw;
  }
  .tech-task{
    min-height: auto;
  }
  .tt-info p{
    color: @black;
  }
  .tech-task .blueprint{
    width: 100%;
  }
  .turn-content{
    .btn{
      margin-bottom: 50px;
    }
  }
  .partners-block{
    padding: 85px 0px;
  }
  .news-block{
    min-height: auto;
  }
  .partners-block .title-partners{
    .font-size(28);
    margin-bottom: 22px;
  }
  .platforms {
    margin-top: 70px;
    margin-bottom: 60px;
    .col-md-4{
      margin-bottom: 25px;
    }
  }
  .consist-block .row {
    margin-bottom: 15px;
  }
  .cardsequence{
    margin-bottom: 80px;
  }
}
@media (max-width: 476px){
  .catalog-text{
    margin-bottom: 80px;
    margin-top: 50px;
  }
  .breadcrumb>li{
    display: list-item;
  }
  .catalog-text .highlight {
    padding: 50px 40px;
    font-size: 22px;
  }
  .keyfeatures-block .item{
    width: 100%;
  }
  .catalog-content{
    .item{
      width: 100%;
      height: 340px;
    }
  }
  .catalog-content .item span{
    left: 8%;
    .font-size(38);
  }
  .main-menu .menu-list{
    margin-top: 44px;
  }
  .main-menu .menu-list a{
    line-height: 38px;
  }
  .main-menu .social{
    bottom: 40px;
  }
  .main-menu .social a{
    margin-right: 20px;
  }
  .news-feed .news-item{
    width: 295px;
  }
  .downline{
    display: none;
  }
  header.no-index{
    position: fixed;
  }
  .tech-task{
    display: none;
  }
  .text-section table tr td{
    font-size: 12px;
  }
  .text-section {
    margin-bottom: 50px;
    img{
      width: 100%;
      margin-bottom: 25px;
      margin-right: 0px;
    }
  }
  .title{
    .font-size(48);
    margin-bottom: 50px;
  }
  .subtitle{
    .font-size(38);
  }
  .consist-block img{
    width: auto;
    margin-bottom: 26px;
  }
  .first {
    position: absolute;
    width: 100%;
    margin-top: 70px;
    margin-left: 0%;
    padding: 0px 5%;
  }
  .video-message p{
    margin-bottom: 40px;
  }
  .video-message h2{
    margin-bottom: 40px;
  }
  .keyfeatures-block .item .text-container h2{
    margin-bottom: 0px;
    font-size: 11.5vw;
  }
  .turn-tabs .turn-head{
    margin-bottom: 12%;    
  }
  .video-message{
    width: 100%;
  }
  .turn-head{
    .line{
      display: none;
    }
    a{
      display: none!important;
    }
    .mobile{
      display: inline-block!important;
      line-height: normal;
      border: 1px solid @black;
      border-radius: 50%;
      width: 15px!important;
      height: 15px;
      margin-right: 25px;
      position: relative;
      &.active:after{
        content: '';
        width: 5px;
        height: 5px;
        background-color: @black;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
      }
    }
  }
}
.ui-loader{
  display: none;
}



