@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-ExtraBold.otf);
  font-weight: 800;
}
@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Black.otf);
  font-weight: 900;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
  font-weight: 400;
}
html {
  font-size: 18px;
}
body {
  font-family: Akrobat, sans-serif;
  font-size: inherit;
}
body.open-menu {
  overflow: hidden;
}
p,
span,
a,
h1,
h2,
h3 {
  letter-spacing: normal!important;
}
#scene {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#set-height {
  display: block;
  height: 27000px;
  -webkit-overflow-scrolling: touch;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.info {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.first {
  position: absolute;
  width: 300px;
  margin-top: 190px;
  margin-left: 10%;
}
.third {
  position: absolute;
  width: 400px;
  margin-top: 190px;
  right: 0;
  display: none;
  margin-right: 15%;
}
.four {
  position: absolute;
  width: 300px;
  margin-top: 190px;
  display: none;
  margin-left: 10%;
}
.second {
  position: absolute;
  width: 400px;
  margin-top: 190px;
  right: 0;
  display: none;
  margin-right: 15%;
}
.divvideo {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
.divvideo img {
  width: 100%;
  height: 100%;
}
.controls {
  width: 3px;
  height: 250px;
  position: fixed;
  top: 310px;
  right: 40px;
  z-index: 20;
}
.controls #progress-bar {
  background-color: rgba(0, 0, 0, 0.9);
  width: 250px;
  height: 3px;
  transform: rotate(90deg);
  margin-left: -124px;
  margin-top: 123px;
  position: absolute;
  z-index: -1;
}
.controls ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 20px;
}
.controls ul li {
  margin-left: -8.8px;
}
.controls .point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  display: block;
  margin-bottom: 45px;
  transition: all .35s ease;
  z-index: 1;
}
.controls .point.active {
  background-color: #008000;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  text-align: center;
  display: block;
  z-index: 999;
  font-size: 62px;
  color: #fff;
}
.video-message {
  width: 630px;
  color: #fff;
  /*   &:before{
  position: absolute;
  content: '+';
  color: @white;
  bottom: -12px;
  left: -7px;
  font-size: 25px;
  line-height: 26px;
  font-weight: 100;
}
&:after{
  position: absolute;
  content: '+';
  color: @white;
  top: -13px;
  right: -8px;
  font-size: 40px;
  line-height: 18px;
  font-weight: 100;
} */
}
.video-message h2 {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 80px;
  font-size: 58px;
  font-size: 3.2222222222222223rem;
  line-height: 68px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
}
.video-message h2 span {
  font-weight: 800;
  color: #3ab9db;
}
.video-message p {
  font-family: Raleway;
  font-weight: 300;
  line-height: 26px;
  padding-right: 15%;
  margin-bottom: 80px;
}
.btn {
  position: relative;
  -webkit-transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn.standart {
  border: 1px solid #3ab9db;
  color: #fff;
  padding: 16px 26px;
  border-radius: 0px;
  font-size: 16px;
  font-size: 0.8888888888888888rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn.standart:hover {
  background-color: #3ab9db;
}
.btn.standart .lt {
  position: absolute;
  line-height: normal;
  top: -12px;
  left: -4px;
}
.btn.standart .rt {
  position: absolute;
  line-height: normal;
  top: -12px;
  right: -4px;
}
.btn.standart .lb {
  position: absolute;
  line-height: normal;
  bottom: -8px;
  left: -4px;
}
.btn.standart .rb {
  position: absolute;
  line-height: normal;
  bottom: -8px;
  right: -4px;
}
.new-controlls {
  position: fixed;
  right: 0%;
  top: 10%;
  left: auto;
  width: 8%;
  height: 80%;
  z-index: 10;
  text-align: center;
}
.new-controlls .axis {
  width: 1px;
  height: 100%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
}
.new-controlls ul {
  padding-left: 0px;
  padding-top: 15%;
  padding-bottom: 15%;
  position: absolute;
  display: inline-block;
  list-style: none;
  top: 0px;
  height: 100%;
}
.new-controlls ul li {
  position: relative;
  height: 10%;
  margin-bottom: 15px;
}
.new-controlls ul .li-cont {
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  transition: all .2s ease;
  cursor: pointer;
}
.new-controlls ul .li-cont:hover {
  width: 3px;
}
.new-controlls ul .li-cont.active {
  width: 3px;
}
.new-controlls ul .li-cont.active .fill {
  display: block;
}
.new-controlls .section {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #c3c1c5;
}
.new-controlls .section-number {
  color: #3ab9db;
  font-size: 2vw;
  font-weight: bold;
  position: absolute;
  transform: rotate(90deg);
  left: 10px;
  opacity: 0;
}
.new-controlls .section-name {
  color: #fff;
  position: absolute;
  margin-left: -105px;
  top: auto;
  left: auto;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  opacity: 0;
}
.new-controlls .fill {
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #3ab9db;
  display: none;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.center {
  text-align: center;
}
header {
  position: fixed;
  z-index: 11;
  top: 22px;
  width: 100%;
  padding: 0 3.3%;
  letter-spacing: -0.43em;
}
header .logo-text {
  color: #fff;
  font-family: Akrobat;
  text-transform: uppercase;
  letter-spacing: 1.5;
}
header .logo {
  width: 200px;
}
header .menu-block {
  text-align: right;
}
header .menu {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
}
header .menu .close-menu .burger-bar {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 8px;
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
header .menu .close-menu .burger-bar:last-child {
  margin-bottom: 0px;
}
header .menu .close-menu .burger-bar:nth-child(1) {
  transition-delay: .5s;
}
header .menu .close-menu .burger-bar:nth-child(2) {
  transition-delay: .625s;
}
header .menu .close-menu .burger-bar:nth-child(3) {
  transition-delay: .75s;
}
header .menu.no-active:hover .close-menu .burger-bar:nth-child(1) {
  animation: 0.25s cubic-bezier(0.19, 1, 0.22, 1) 0s menuhover;
}
header .menu.no-active:hover .close-menu .burger-bar:nth-child(2) {
  animation: 0.25s cubic-bezier(0.19, 1, 0.22, 1) 0.125s menuhover;
}
header .menu.no-active:hover .close-menu .burger-bar:nth-child(3) {
  animation: 0.25s cubic-bezier(0.19, 1, 0.22, 1) 0.25s menuhover;
}
header .menu .open-menu {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
}
header .menu .open-menu .burger-bar {
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
}
header .menu .open-menu .burger-bar:nth-child(1) {
  height: 0%;
  width: 2px;
  position: absolute;
  top: 0%;
  left: 12px;
  transition-delay: 0s;
}
header .menu .open-menu .burger-bar:nth-child(2) {
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0%;
  top: 12px;
  transition-delay: .25s;
}
header .menu.active .close-menu .burger-bar {
  width: 0%;
}
header .menu.active .close-menu .burger-bar:nth-child(1) {
  transition-delay: 0s;
}
header .menu.active .close-menu .burger-bar:nth-child(2) {
  transition-delay: .125s;
}
header .menu.active .close-menu .burger-bar:nth-child(3) {
  transition-delay: .25s;
}
header .menu.active .open-menu .burger-bar:nth-child(1) {
  height: 100%;
  transition-delay: .625s;
}
header .menu.active .open-menu .burger-bar:nth-child(2) {
  width: 100%;
  transition-delay: .375s;
}
.main-menu {
  background-color: #161615;
  position: fixed;
  z-index: 11;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: .125s;
  transform: translateY(-100%);
}
.main-menu.open {
  transform: translateY(0);
}
.main-menu .line-block span {
  color: #3ab9db !important;
}
.main-menu .line-block .circle {
  border-color: #3ab9db !important;
}
.main-menu .line-block .circle span {
  background-color: #3ab9db !important;
}
.main-menu .menu-content {
  z-index: 12;
  position: relative;
}
.main-menu .menu-list {
  text-align: center;
  margin-top: 220px;
}
.main-menu .menu-list ul {
  list-style: none;
  padding-left: 0px;
}
.main-menu .menu-list li {
  margin-bottom: 10px;
}
.main-menu .menu-list a {
  color: #fff;
  display: inline-block;
  font-size: 32px;
  font-size: 1.7777777777777777rem;
  text-transform: uppercase;
  line-height: 70px;
  letter-spacing: 4.5!important;
  font-weight: 300;
  padding-bottom: 24px;
}
.main-menu .menu-list a span {
  display: block;
  width: 0px;
  height: 1px;
  background-color: #3ab9db;
  -webkit-transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.main-menu .menu-list a:hover {
  text-decoration: none;
}
.main-menu .menu-list a:hover span {
  width: 100%;
}
.main-menu .social {
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 12;
}
.main-menu .social a {
  text-transform: uppercase;
  margin-right: 40px;
  color: #3ab9db;
  -webkit-transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 16px;
  font-size: 0.8888888888888888rem;
}
.main-menu .social a:last-child {
  margin-right: 0px;
}
.main-menu .social a:hover {
  color: #90d8eb;
}
/* @keyframes menuhover{
  0%{
    width: 100%;
  }
  50%{
    width: 55%;
  }
  100%{
    width: 100%;
  }
} */
.mouse {
  position: fixed;
  bottom: 70px;
  display: inline-block;
  width: 100px;
  z-index: 5;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}
.mouse img {
  margin-right: 12px;
  vertical-align: middle;
}
.mouse span {
  font-size: 12px;
  font-size: 0.6666666666666666rem;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  color: #c3c1c5;
}
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.big-lines {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  display: inline-block;
  margin-left: 25%;
  position: relative;
}
.little-lines {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 75%;
  position: absolute;
}
.line-block {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
}
.line-block .little-lines {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 75%;
  position: absolute;
}
.line-block .little-lines:nth-child(1n) {
  left: 17%;
  bottom: 0;
}
.line-block .little-lines:nth-child(1n) span {
  font-size: 25px;
  font-size: 1.3888888888888888rem;
  line-height: 15px;
  color: #fff;
  display: inline-block;
  position: absolute;
  top: -9px;
  left: -5px;
}
.line-block .little-lines:nth-child(2n) {
  right: 17%;
  left: auto;
  top: 0;
}
.line-block .little-lines:nth-child(2n) span {
  font-size: 25px;
  font-size: 1.3888888888888888rem;
  line-height: 15px;
  color: #fff;
  display: inline-block;
  position: absolute;
  top: auto;
  left: auto;
  bottom: -9px;
  right: -5px;
}
.circle {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  top: 35%;
  left: -5px;
}
.circle span {
  background-color: #fff;
  height: 3px;
  width: 3px;
  display: block;
  border-radius: 50px;
}
.main-content {
  position: relative;
  z-index: 10;
  /* margin-top: 47000px; */
  background-color: #fff;
}
.keyfeatures-block {
  width: 100%;
  height: 100vh;
  letter-spacing: -0.35em;
}
.keyfeatures-block .item {
  overflow: hidden;
  width: 25%;
  height: 100%;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  position: relative;
  letter-spacing: normal;
  transition: all 0.35s ease-out;
}
.keyfeatures-block .item.f1 {
  background-image: url(../img/f1.jpg);
}
.keyfeatures-block .item.f1:hover {
  background-image: url(../img/f1_hover.jpg);
}
.keyfeatures-block .item.f2 {
  background-image: url(../img/f2.jpg);
}
.keyfeatures-block .item.f3 {
  background-image: url(../img/f3.jpg);
}
.keyfeatures-block .item.f4 {
  background-image: url(../img/f4.jpg);
}
.keyfeatures-block .item .number-container {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}
.keyfeatures-block .item .number-container .blue-line {
  width: 55px;
  height: 5px;
  background-color: #3ab9db;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  right: -20px;
  transition: all 0.45s ease-out;
}
.keyfeatures-block .item .number-container .number {
  font-size: 70px;
  font-size: 3.888888888888889rem;
  line-height: 1em;
  font-weight: 700;
  color: #161615;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
  left: 0;
  position: relative;
  transition: all 0.45s ease-out;
}
.keyfeatures-block .item .text-container {
  position: absolute;
  bottom: 100px;
  padding: 0px 22%;
}
.keyfeatures-block .item .text-container h2 {
  font-weight: 700;
  font-size: 2.7vw;
  line-height: 1.2em;
  color: #161615;
  transition: all 0.35s ease-out;
}
.keyfeatures-block .item .text-container p {
  font-size: 18px;
  font-size: 1rem;
  line-height: 35px;
  color: #fff;
  font-family: Raleway;
  font-weight: 300;
  opacity: 0;
  height: 0px;
  transition: height 0.35s, opacity 0.45s ease-out;
}
.keyfeatures-block .item:hover .text-container h2 {
  transform: translateY(-50px);
  color: #fff;
}
.keyfeatures-block .item:hover .text-container p {
  height: 150px;
  opacity: 1;
}
.keyfeatures-block .item:hover .number-container .blue-line {
  right: 20%;
}
.keyfeatures-block .item:hover .number-container .number {
  left: 20%;
  color: #fff;
}
.tech-task {
  min-height: 100vh;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.tech-task .blueprint {
  position: absolute;
  left: 5.5%;
  top: 0%;
  z-index: 1;
  width: 32%;
  -webkit-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  opacity: 0;
}
.tech-task .blueprint.in {
  opacity: 1;
}
.tech-task .tech {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1;
  width: 45%;
  -webkit-transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(-100%);
}
.tech-task .tech.in {
  transform: translateX(0%);
}
.tech-task .line-block {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 100%;
}
.tech-task .line-block .big-lines {
  background-color: #e6e6e6;
  position: absolute;
  margin-left: 0px!important;
}
.tech-task .line-block .big-lines:nth-child(1) {
  left: 25%;
}
.tech-task .line-block .big-lines:nth-child(2) {
  left: 50%;
}
.tech-task .line-block .little-lines {
  background-color: #e6e6e6;
}
.tech-task .line-block .little-lines:nth-child(3) {
  top: 0;
  left: 17%;
}
.tech-task .line-block .little-lines:nth-child(3) span {
  color: #858585;
  top: auto;
  bottom: -5px;
}
.tech-task .line-block .little-lines:nth-child(4) {
  top: 0;
  left: 75%;
}
.tech-task .line-block .little-lines:nth-child(4) .circle {
  top: auto;
  border-color: #858585;
  bottom: -5px;
  left: -5px;
}
.tech-task .line-block .little-lines:nth-child(4) .circle span {
  background-color: #858585;
  position: static;
}
.tech-task .line-block .little-lines:nth-child(5) {
  bottom: 0;
  right: 17%;
  left: auto;
}
.tech-task .line-block .little-lines:nth-child(5) span {
  color: #858585;
  top: -5px;
  bottom: auto;
}
.tech-task .line-block .diagonal-lines {
  background-color: #e6e6e6;
  width: 1px;
  height: 158%;
  position: absolute;
  left: 49.2%;
  top: -33.8%;
  transform: rotate(48deg);
}
.tech-task .tech-row {
  position: relative;
  z-index: 3;
}
.tt-info {
  padding: 20% 0px;
}
.tt-info p {
  width: 50%;
  color: #c3c1c5;
  line-height: 30px;
  font-family: Raleway;
  font-weight: 300;
  margin-bottom: 70px;
}
.btn {
  letter-spacing: 1.5!important;
}
.btn.invert {
  background-color: #3ab9db;
}
.btn.invert span {
  color: #161615;
}
.btn.invert:hover {
  background-color: transparent;
  color: #3ab9db;
}
.title {
  font-size: 58px;
  font-size: 3.2222222222222223rem;
  font-weight: 700;
  letter-spacing: 4!important;
  margin-top: 0px;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.turns-block {
  min-height: 100vh;
  padding: 50px 0px;
  background-color: #fff;
  overflow: hidden;
}
.btn.standart.black {
  color: #161615;
}
.btn.standart.black span {
  color: #161615;
}
.subtitle {
  font-size: 46px;
  font-size: 2.5555555555555554rem;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 1.4 !important;
}
.turn-tabs .turn-head {
  position: relative;
  padding: 0px 1%;
  margin-bottom: 5%;
}
.turn-tabs .turn-head a {
  text-align: center;
  display: inline-block;
  color: #161615;
  font-size: 14px;
  font-size: 0.7777777777777778rem;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: 800;
  width: 16.6%;
  color: #c3c1c5;
  transition: all 0.35s ease-out;
}
.turn-tabs .turn-head a.active {
  color: #161615;
}
.turn-tabs .turn-head a.mobile {
  display: none;
}
.turn-tabs .turn-head a:hover {
  text-decoration: none;
  color: #161615;
}
.turn-tabs .turn-head a:focus {
  text-decoration: none;
}
.turn-tabs .turn-head a:last-child {
  margin-right: 0px;
}
.turn-tabs .turn-tab {
  display: none;
}
.turn-tabs .turn-tab.active {
  display: block;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.turn-tabs .turn-tab.active .turn-content,
.turn-tabs .turn-tab.active .turn-img {
  animation-duration: 0.45s;
  -webkit-animation-duration: 0.45s;
}
.turn-tabs .turn-body {
  padding: 0px 11%;
}
.turn-tabs .turn-body p {
  font-family: Raleway;
  line-height: 30px;
  padding-right: 11%;
  margin-bottom: 50px;
}
.turn-tabs .line {
  width: 100%;
  height: 2px;
  background-color: #3ab9db;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.turn-tabs .line .handler {
  border: 1px solid #3ab9db;
  padding: 5px;
  position: absolute;
  left: 0;
  top: -9.55px;
  border-radius: 50%;
}
.turn-tabs .line .handler span {
  background-color: #3ab9db;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}
.news-block {
  min-height: 100vh;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.news-feed {
  width: 100%;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 70px;
  cursor: move;
}
.news-feed ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 50px;
}
.news-feed ul li {
  display: inline-block;
  width: 350px;
  margin-right: 120px;
  opacity: 0;
  transform: translateY(40px);
  -webkit-transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.news-feed ul li.in {
  opacity: 1;
  transform: translateY(0);
}
.news-feed .news-item {
  display: inline-block;
  width: 350px;
  margin-right: 120px;
}
.news-feed .news-item:last-child {
  margin-right: 0px;
}
.news-feed .news-item:hover {
  text-decoration: none;
}
.news-feed .news-item:focus {
  text-decoration: none;
}
.news-feed .news-item .time {
  padding: 0px 0px 20px 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: #858585;
  white-space: normal;
  font-size: 18px;
  font-size: 1rem;
}
.news-feed .news-item img {
  width: 100%;
  margin-bottom: 45px;
}
.news-feed .news-item .news-content {
  padding: 0px 5%;
}
.news-feed .news-item .news-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 1.5!important;
  text-transform: uppercase;
  font-size: 28px;
  font-size: 1.5555555555555556rem;
  line-height: 40px;
  color: #161615;
  white-space: normal;
}
.news-feed .news-item p {
  font-size: 16px;
  font-size: 0.8888888888888888rem;
  line-height: 30px;
  color: #858585;
  font-family: Raleway;
  margin-bottom: 0px;
  white-space: normal;
}
.scrollbar {
  width: 100%;
  height: 1px;
  background-color: #858585;
  position: relative;
  margin-bottom: 20px;
}
.scrollbar .handle {
  border: 1px solid #3ab9db;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  top: -14px;
}
.scrollbar .handle:after {
  content: '';
  border: 5px solid #161615;
  border-radius: 50%;
  position: absolute;
  height: 5px;
  width: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
.partners-block {
  position: relative;
  padding: 135px 0px;
  background-color: #fff;
}
.partners-block .title-partners {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 24px;
  font-size: 1.3333333333333333rem;
  text-transform: uppercase;
  color: #596064;
  font-weight: 700;
  letter-spacing: 1.5!important;
}
.partners-block .partner-img {
  margin-right: 75px;
  vertical-align: middle;
}
.partners-block .partner-img:last-child {
  margin-right: 0px;
}
.partners-block .partner-img img {
  transition: all 0.35s ease-out;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.partners-block .partner-img img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.partners-block .partners-line {
  width: 100%;
  height: 1px;
  background-color: #858585;
  margin: 98px 0px;
}
#map {
  height: 640px;
}
.map-content {
  background-color: rgba(22, 22, 21, 0.85);
  padding: 45px 50px;
  color: #fff;
}
.map-content span {
  font-size: 16px;
  font-size: 0.8888888888888888rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: inline-block;
}
.map-content p {
  margin-bottom: 0px;
}
.mobile-block {
  display: none;
}
header.onWhite .logo-text {
  color: #161615;
}
header.onWhite .menu .burger-bar {
  background-color: #161615 !important;
}
header.no-index {
  position: relative;
  margin-bottom: 60px;
}
header.no-index .row {
  padding-bottom: 40px;
}
header.no-index .downline {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  position: relative;
}
header.no-index .downline .circle {
  border-color: #e5e5e5;
  top: -5px;
}
header.no-index .downline .circle:last-child {
  right: -5px;
  left: auto;
}
header.no-index .downline .circle span {
  background-color: #858585;
  height: 3px;
  width: 3px;
  display: block;
  border-radius: 50px;
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 80px;
}
.breadcrumb li.active a {
  color: #858585;
  cursor: default;
  font-weight: 700;
}
.breadcrumb li.active a:hover {
  text-decoration: none;
}
.breadcrumb li a {
  color: #3ab9db;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.1!important;
}
.breadcrumb > li + li:before {
  content: '+';
  padding-right: 8px;
}
.platforms {
  margin-top: 105px;
  margin-bottom: 128px;
}
.platforms img {
  width: 70px;
  margin-right: 20px;
}
.platforms span {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  font-family: Raleway;
  font-size: 16px;
  font-size: 0.8888888888888888rem;
}
.consist-block .item {
  opacity: 0;
  transform: translateY(40px);
  -webkit-transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.consist-block .item.in {
  opacity: 1;
  transform: translateY(0);
}
.consist-block .row {
  margin-bottom: 90px;
}
.consist-block .item-name {
  font-size: 28px;
  margin-bottom: 22px;
  display: block;
  font-weight: 800;
}
.consist-block a.item-name {
  color: #3ab9db;
  text-decoration: underline;
}
.consist-block a.item-name:hover {
  text-decoration: none;
}
.consist-block ul {
  font-family: Raleway;
  list-style: none;
  padding: 0;
  margin: 0;
}
.consist-block ul li {
  padding-left: 1em;
  text-indent: -0.7em;
  margin-bottom: 10px;
  font-size: 16px;
  font-size: 0.8888888888888888rem;
}
.consist-block ul li:before {
  content: "• ";
  color: #3ab9db;
  font-size: 22px;
}
.consist-block p {
  font-family: Raleway;
  font-size: 16px;
  font-size: 0.8888888888888888rem;
  display: inline-block;
  width: 75%;
  vertical-align: top;
}
.consist-block img {
  width: 15%;
  margin-right: 5%;
  vertical-align: top;
}
.consist-block img + ul {
  display: inline-block;
  width: 75%;
}
.text-section {
  font-family: Raleway;
  font-size: 16px;
  margin-bottom: 95px;
}
.text-section .subtitle {
  font-family: Akrobat;
}
.text-section ul {
  font-family: Raleway;
  list-style: none;
  padding: 0;
  margin: 0;
}
.text-section ul li {
  padding-left: 1em;
  text-indent: -0.7em;
  margin-bottom: 5px;
  font-size: 16px;
  font-size: 0.8888888888888888rem;
}
.text-section ul li:before {
  content: "• ";
  color: #3ab9db;
  font-size: 22px;
}
.text-section img {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 40px;
  vertical-align: middle;
}
.text-section table {
  width: 100%;
  font-size: 16px;
  table-layout: fixed;
}
.text-section table tr {
  border-bottom: 1px solid #858585;
}
.text-section table tr:last-child {
  border-bottom: transparent;
}
.text-section table tr td {
  padding: 18px 0px;
  line-height: 135%;
}
.cardsequence {
  text-align: center;
}
.cardsequence.affix {
  top: 60px;
  position: fixed!important;
}
.cardsequence img {
  width: 100%;
  margin-bottom: 50px;
}
.catalog-content {
  margin-bottom: 80px;
}
.catalog-content .item {
  width: 50%;
  height: 440px;
  display: inline-block;
  background-color: #f9f9f9;
  overflow: hidden;
  position: relative;
}
.catalog-content .item:hover img {
  top: -15%;
  right: -20%;
}
.catalog-content .item img {
  position: absolute;
  width: 70%;
  top: -20%;
  right: -30%;
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
.catalog-content .item span {
  font-size: 46px;
  font-size: 2.5555555555555554rem;
  font-weight: 700;
  color: #3ab9db;
  position: absolute;
  left: 20%;
  bottom: 80px;
}
.catalog-text {
  position: relative;
  margin-bottom: 200px;
  margin-top: 120px;
}
.catalog-text .line-block .little-lines:nth-child(1n) {
  top: 150px;
}
.catalog-text .line-block .little-lines:nth-child(1n) span:nth-child(2) {
  top: auto;
  bottom: 0px;
}
.catalog-text .line-block .little-lines:nth-child(2n) {
  top: 0px;
}
.catalog-text .line-block {
  position: absolute;
  z-index: -1;
  left: 0;
  top: -120px;
  width: 100%;
  height: 110%;
}
.catalog-text .line-block .diagonal-lines {
  background-color: #e6e6e6;
  width: 1px;
  height: 158%;
  position: absolute;
  left: 49.15%;
  top: -34%;
  transform: rotate(44deg);
}
.catalog-text .line-block .big-lines,
.catalog-text .line-block .little-lines {
  background-color: rgba(230, 230, 230, 0.72);
}
.catalog-text .line-block .big-lines span,
.catalog-text .line-block .little-lines span {
  color: #e6e6e6;
}
.catalog-text .line-block .big-lines .circle,
.catalog-text .line-block .little-lines .circle {
  color: #e6e6e6;
  border-color: #e6e6e6;
  top: 0px;
}
.catalog-text .line-block .big-lines .circle span,
.catalog-text .line-block .little-lines .circle span {
  position: static;
  background-color: #e6e6e6;
}
.catalog-text .line-block .big-lines:nth-child(1) {
  opacity: 0;
}
.catalog-text .catalog-text-item {
  margin-bottom: 50px;
  font-family: Raleway;
  font-size: 16px;
}
.catalog-text .catalog-text-item.special {
  padding: 50px 30px;
  background-color: #f9f9f9;
}
.catalog-text .catalog-text-item p {
  margin-bottom: 30px;
  line-height: 155%;
}
.catalog-text .catalog-text-item p:last-child {
  margin-bottom: 0px;
}
.catalog-text .catalog-text-item p a {
  color: #3ab9db;
}
.catalog-text .highlight {
  padding: 46px 60px;
  border-top: 3px solid #3ab9db;
  border-bottom: 3px solid #3ab9db;
  text-align: center;
  font-weight: 800;
  font-size: 28px;
}
@media (max-width: 1370px) {
  .keyfeatures-block .item .text-container {
    padding: 0px 14%;
  }
}
@media (max-width: 1025px) {
  html {
    font-size: 16px;
  }
  .catalog-content .item img {
    width: 100%;
    top: -10%;
    right: -45%;
  }
  .text-section {
    margin-bottom: 70px;
  }
  .text-section .subtitle {
    margin-bottom: 30px;
  }
  .turn-tabs .turn-body {
    padding: 0px;
  }
  .turn-img img {
    width: 100%;
  }
  .subtitle {
    margin-top: 0px;
  }
  .keyfeatures-block .item .text-container h2 {
    font-size: 3.5vw;
  }
  .keyfeatures-block .item .text-container p {
    line-height: 25px;
  }
  .partners-block .partner-img {
    margin-right: 3%;
    vertical-align: text-bottom;
    width: 17%;
    display: inline-block;
  }
  .partners-block .partner-img img {
    width: 100%;
  }
  .partners-block .partners-line {
    margin: 50px 0px;
  }
  .new-controlls {
    display: none;
  }
  header .menu .close-menu .burger-bar {
    background-color: #161615;
  }
  .info {
    display: none;
  }
  .logo-text {
    display: none;
  }
  .divvideo {
    display: none;
  }
  #set-height {
    display: none;
  }
  .mobile-block {
    display: block;
    background-image: url(../img/mobile-screen.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  .mobile-block .info {
    position: absolute;
    display: block!important;
  }
  .mobile-block .video-message {
    display: block!important;
    position: absolute;
  }
  .main-menu .menu-list {
    text-align: center;
    margin-top: 100px;
  }
  .breadcrumb {
    margin-bottom: 55px;
  }
  .platforms span {
    width: 63%;
  }
  .consist-block .row {
    margin-bottom: 60px;
  }
}
@media (max-width: 769px) {
  #set-height {
    display: none;
  }
  .mouse {
    display: none;
  }
  .line-block {
    display: none;
  }
  .info {
    display: none;
  }
  .divvideo {
    display: none;
  }
  .header-logo {
    display: none;
  }
  .header-text {
    display: none;
  }
  .new-controlls {
    display: none;
  }
  header .menu .close-menu .burger-bar {
    background-color: #161615;
  }
  .keyfeatures-block {
    height: auto;
  }
  .keyfeatures-block .item {
    width: 50%;
  }
  .keyfeatures-block .item .text-container h2 {
    font-size: 6.5vw;
  }
  .tech-task {
    min-height: auto;
  }
  .tt-info p {
    color: #161615;
  }
  .tech-task .blueprint {
    width: 100%;
  }
  .turn-content .btn {
    margin-bottom: 50px;
  }
  .partners-block {
    padding: 85px 0px;
  }
  .news-block {
    min-height: auto;
  }
  .partners-block .title-partners {
    font-size: 28px;
    font-size: 1.5555555555555556rem;
    margin-bottom: 22px;
  }
  .platforms {
    margin-top: 70px;
    margin-bottom: 60px;
  }
  .platforms .col-md-4 {
    margin-bottom: 25px;
  }
  .consist-block .row {
    margin-bottom: 15px;
  }
  .cardsequence {
    margin-bottom: 80px;
  }
}
@media (max-width: 476px) {
  .catalog-text {
    margin-bottom: 80px;
    margin-top: 50px;
  }
  .breadcrumb > li {
    display: list-item;
  }
  .catalog-text .highlight {
    padding: 50px 40px;
    font-size: 22px;
  }
  .keyfeatures-block .item {
    width: 100%;
  }
  .catalog-content .item {
    width: 100%;
    height: 340px;
  }
  .catalog-content .item span {
    left: 8%;
    font-size: 38px;
    font-size: 2.111111111111111rem;
  }
  .main-menu .menu-list {
    margin-top: 44px;
  }
  .main-menu .menu-list a {
    line-height: 38px;
  }
  .main-menu .social {
    bottom: 40px;
  }
  .main-menu .social a {
    margin-right: 20px;
  }
  .news-feed .news-item {
    width: 295px;
  }
  .downline {
    display: none;
  }
  header.no-index {
    position: fixed;
  }
  .tech-task {
    display: none;
  }
  .text-section table tr td {
    font-size: 12px;
  }
  .text-section {
    margin-bottom: 50px;
  }
  .text-section img {
    width: 100%;
    margin-bottom: 25px;
    margin-right: 0px;
  }
  .title {
    font-size: 48px;
    font-size: 2.6666666666666665rem;
    margin-bottom: 50px;
  }
  .subtitle {
    font-size: 38px;
    font-size: 2.111111111111111rem;
  }
  .consist-block img {
    width: auto;
    margin-bottom: 26px;
  }
  .first {
    position: absolute;
    width: 100%;
    margin-top: 70px;
    margin-left: 0%;
    padding: 0px 5%;
  }
  .video-message p {
    margin-bottom: 40px;
  }
  .video-message h2 {
    margin-bottom: 40px;
  }
  .keyfeatures-block .item .text-container h2 {
    margin-bottom: 0px;
    font-size: 11.5vw;
  }
  .turn-tabs .turn-head {
    margin-bottom: 12%;
  }
  .video-message {
    width: 100%;
  }
  .turn-head .line {
    display: none;
  }
  .turn-head a {
    display: none!important;
  }
  .turn-head .mobile {
    display: inline-block !important;
    line-height: normal;
    border: 1px solid #161615;
    border-radius: 50%;
    width: 15px!important;
    height: 15px;
    margin-right: 25px;
    position: relative;
  }
  .turn-head .mobile.active:after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #161615;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
  }
}
.ui-loader {
  display: none;
}
