@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Akrobat;
  src: url(../fonts/Akrobat/Akrobat-ExtraBold.otf);
  font-weight: 800;
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy/Gilroy-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy/Gilroy-ExtraBold.otf);
  font-weight: 800;
}
html {
  font-size: 18px;
}
body {
  font-family: Akrobat, sans-serif;
  font-size: inherit;
}
#set-height {
  display: block;
  height: 27000px;
  -webkit-overflow-scrolling: touch;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.info {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.first {
  position: absolute;
  width: 300px;
  margin-top: 220px;
  display: none;
  margin-left: 10%;
}
.third {
  position: absolute;
  width: 400px;
  margin-top: 150px;
  right: 0;
  display: none;
  margin-right: 10%;
}
.four {
  position: absolute;
  width: 300px;
  margin-top: 250px;
  display: none;
  margin-left: 10%;
}
.second {
  position: absolute;
  width: 400px;
  margin-top: 150px;
  right: 0;
  display: none;
  margin-right: 10%;
}
.divvideo {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
.divvideo img {
  width: 100%;
  height: 100%;
}
.controls {
  width: 3px;
  height: 250px;
  position: fixed;
  top: 310px;
  right: 40px;
  z-index: 20;
}
.controls #progress-bar {
  background-color: rgba(0, 0, 0, 0.9);
  width: 250px;
  height: 3px;
  transform: rotate(90deg);
  margin-left: -124px;
  margin-top: 123px;
  position: absolute;
  z-index: -1;
}
.controls ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 20px;
}
.controls ul li {
  margin-left: -8.8px;
}
.controls .point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  display: block;
  margin-bottom: 45px;
  transition: all .35s ease;
  z-index: 1;
}
.controls .point.active {
  background-color: #008000;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  text-align: center;
  display: block;
  z-index: 999;
  font-size: 62px;
  color: #fff;
}
.main-content {
  position: relative;
  z-index: 2;
  /* margin-top: 47000px; */
  background-color: #f2f2f2;
}
.video-message {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #6d6b72;
  padding: 60px;
  width: 490px;
  color: #fff;
}
.video-message:before {
  position: absolute;
  content: '+';
  color: #fff;
  bottom: -12px;
  left: -7px;
  font-size: 25px;
  line-height: 26px;
  font-weight: 100;
}
.video-message:after {
  position: absolute;
  content: '+';
  color: #fff;
  top: -13px;
  right: -8px;
  font-size: 40px;
  line-height: 18px;
  font-weight: 100;
}
.video-message h2 {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 34px;
  font-size: 1.8888888888888888rem;
  line-height: 48px;
  letter-spacing: 4px;
  font-weight: 400;
  text-transform: uppercase;
}
.video-message h2 span {
  font-weight: 800;
  color: #01ebf6;
}
.video-message p {
  font-family: Gilroy;
  font-weight: 300;
  line-height: 26px;
  color: #c4c3c4;
  padding-right: 15%;
  margin-bottom: 50px;
}
.btn {
  position: relative;
}
.btn.standart {
  border: 1px solid #01ebf6;
  color: #fff;
  padding: 16px 26px;
  border-radius: 0px;
  font-size: 16px;
  font-size: 0.8888888888888888rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn.standart .lt {
  position: absolute;
  line-height: normal;
  top: -12px;
  left: -4px;
}
.btn.standart .rt {
  position: absolute;
  line-height: normal;
  top: -12px;
  right: -6px;
}
.btn.standart .lb {
  position: absolute;
  line-height: normal;
  bottom: -8px;
  left: -4px;
}
.btn.standart .rb {
  position: absolute;
  line-height: normal;
  bottom: -8px;
  right: -6px;
}
.keyfeatures-block {
  width: 100%;
  height: 100vh;
  letter-spacing: -0.35em;
}
.keyfeatures-block .item {
  width: 25%;
  height: 100%;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  position: relative;
  letter-spacing: normal;
  background-image: url(../img/f3.jpg);
  background-size: cover;
  background-position: center;
  transition: all 0.35s ease-out;
}
.keyfeatures-block .item.f1 {
  background-image: url(../img/f1.jpg);
}
.keyfeatures-block .item.f2 {
  background-image: url(../img/f2.jpg);
}
.keyfeatures-block .item.f3 {
  background-image: url(../img/f3.jpg);
}
.keyfeatures-block .item.f4 {
  background-image: url(../img/f4.jpg);
}
.keyfeatures-block .item.hovered {
  width: 40%!important;
}
.keyfeatures-block .item.another-hovered {
  width: 20%;
}
.keyfeatures-block .item .gray-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  transition: all 0.35s ease-in;
  z-index: 1;
}
.keyfeatures-block .item:hover .gray-bg {
  background-color: transparent;
}
.keyfeatures-block .item .content {
  position: absolute;
  z-index: 2;
  line-height: 100vh;
  width: 100%;
  height: 100%;
  text-align: center;
}
.keyfeatures-block .item .content h2 {
  text-transform: uppercase;
  font-size: 38px;
  font-size: 2.111111111111111rem;
  letter-spacing: 2px;
}
