.content-container
	.page-control-line
		a(href="/" ng-click="back()").page-link.back
			svg(viewBox="0 0 76 76", class="svgico arrow-icon")
				use(xlink:href="#left-arrow")
			span Главная страница
		.line-center
			.title-block
				//- span.top-tag О компании
				h1.name-span Решения
	.page-content
		.text-container
			.text-with-hidden-part
				p 21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. 
				.hidden-part
					p 21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. 
					p 21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. 
				a(href="", target="_self").hidden-toggle
					span Читать дальше
					svg(viewBox="0 0 76 76", class="svgico arrow-small-icon")
						use(xlink:href="#arrow-bottom")
			.solutions-block
				.row
					a(href="#!solutions/solution" ng-click="next()").line-item
						.tag решение
						span.line-visible
						span.line-invisible
						.name Атомная энергетика
						svg(viewBox="0 0 76 76", class="svgico solution-icon")
							use(xlink:href="#atom_icon")
						.more подробнее
					a(href="#!solutions/solution" ng-click="next()").line-item
						.tag решение
						span.line-visible
						span.line-invisible
						.name Коммерческие<br>предприятия
						svg(viewBox="0 0 76 76", class="svgico solution-icon")
							use(xlink:href="#commercical")
						.more подробнее
					a(href="#!solutions/solution" ng-click="next()").line-item
						.tag решение
						span.line-visible
						span.line-invisible
						.name Промышленные<br>предприятия
						svg(viewBox="0 0 76 76", class="svgico solution-icon")
							use(xlink:href="#prom")
						.more подробнее
					a(href="#!solutions/solution" ng-click="next()").line-item
						.tag решение
						span.line-visible
						span.line-invisible
						.name Автосалоны
						svg(viewBox="0 0 76 76", class="svgico solution-icon")
							use(xlink:href="#auto")
						.more подробнее
				.row
					a(href="#!solutions/solution" ng-click="next()").line-item
						.tag решение
						span.line-visible
						span.line-invisible
						.name Госструктуры
						svg(viewBox="0 0 76 76", class="svgico solution-icon")
							use(xlink:href="#gos")
						.more подробнее
					a(href="#!solutions/solution" ng-click="next()").line-item
						.tag решение
						span.line-visible
						span.line-invisible
						.name Финансовые<br>организации
						svg(viewBox="0 0 76 76", class="svgico solution-icon")
							use(xlink:href="#financical")
						.more подробнее
					a(href="#!solutions/solution" ng-click="next()").line-item
						.tag решение
						span.line-visible
						span.line-invisible
						.name Электроэнергетика
						svg(viewBox="0 0 76 76", class="svgico solution-icon")
							use(xlink:href="#electro")
						.more подробнее
					a(href="#!solutions/solution" ng-click="next()").line-item
						.tag решение
						span.line-visible
						span.line-invisible
						.name Авиация и транспорт
						svg(viewBox="0 0 76 76", class="svgico solution-icon")
							use(xlink:href="#transprot")
						.more подробнее 