.content-container
	.page-control-line
		a(href="#!solutions/index" ng-click="back()").page-link.back
			svg(viewBox="0 0 76 76", class="svgico arrow-icon")
				use(xlink:href="#left-arrow")
			span Список решений
		.title-block
			span.top-tag Решение
			span.name-span финансовые организации
		//- .control-buttons
		//- 	a(href="").btn.primary.invert ЗАДАТЬ ВОПРОС
		//- 	a(href="").btn.primary.invert ЗАКАЗАТЬ ЗВОНОК
	.page-content
		.square-links-services
			a(href="#!clients" ng-click="next()").item.page
				p Устанавливаем оборудование на пробный период  БЕСПЛАТНО
				.bottom
					.link подробнее
					img(src="img/Icon/icon_product/icon_product_1.svg", alt="")
			a(href="#!clients" ng-click="next()").item.page
				p Проводим бесплатное обучение ваших сотрудников
				.bottom
					.link подробнее
					img(src="img/Icon/icon_product/icon_product_2.svg", alt="")
			a(href="#!clients" ng-click="next()").item.page
				p Мы предлагаем клиентам удалённую техническую поддержку. Всегда на связи, всегда поможем
				.bottom
					.link подробнее
					img(src="img/Icon/icon_product/icon_product_3.svg", alt="")
		.spy-content
			.wave-fixed
			.wave-tabs.anchors
				.wave-tabs-head.mobile-scroll
					ul.mobile-scroll-container
						li.active.mobile-scroll-elem
							a(href="#description" target="_self") Описание
						li.mobile-scroll-elem
							a(href="#uses" target="_self") Используемые продукты
						li.mobile-scroll-elem
							a(href="#cases" target="_self") Кейсы
					.wave-line
						img(src="img/tab_wave_red.svg", alt="")
			.text-container
				#description
					h2 Применение системы записи телефоннх разговоров «Фантом» в банковской сфере деятельности
					p Система записи активно используется в банковской деятельности. Одним из основных элементов банковских механизмов является банковская безопасность. Обеспечение безопасности банка влияет на эффективность работы. Под банковской безопасностью понимается организация мер по редотвращению возможных угроз деятельности банка.
					h3 Наиболее типичные внутренние угрозы безопасности включают:
					ul
						li разглашение конфидециальной информации;
						li хищение денежных средств:
						li хищение собственности (интеллектуальной и имущества):
						li фальсификация документов;
						li использование собственности и средств предприятия не по назначению;
						li профессиональнаянекомпетентность.
					h2 Меры по предотвращению утечки информации
					p Решшение проблемы безопасности банка делится на организацию решений ее отдельных элементов, где необходимым условием явяляется обеспечение защитности информации.
					h3 Изучение механизма движения информации в кредитно-финансовых учреждениях показало необходимость разработки ряда процедур при работе с банковской информацией, в частности:
					ul
						li организация допуска к работе с конфидециальными источниками с дифференциацией информации на  категории: «ДПС» (для служебного пользования). «К» (конфиденциальная). «СК» (строго  конфинденциальная) и присваиванием категорий допуска сотрудникам;
						li система документооборота и учета, обеспечивающая защиту информации от несанкциоированного распространения между внутренними подразделениями;
						li организационно - техническое разделение соответствующих подразделений, в частности, ограничение доступа к электронным базам данных с целью создания единой системы ограничения;
						li закрепление требований к сотрудникам по сохранению банковской тайны и неразглашения конфиденциальной информации, например: через трудовой договор;
						li обеспечение технической базы для локализации источников утечки информации, в частности, использование обородувание для регистрации телефонных и прочих переговоров персонала.
				#uses
					h2 Используемые продукты
					.usues-prods-cont
						a(href="").item
							.tag запись телефонных разговоров
							.bottom-row
								.col
									.line
									span Phantom PRO
								.col
									img(src="img/small_prod.png", alt="")
						a(href="").item
							.tag запись телефонных разговоров
							.bottom-row
								.col
									.line
									span Phantom ACTIVE
								.col
									img(src="img/small_prod.png", alt="")
				#cases
					h2 Кейсы
					.clients-block
						.case-item
							img.client-logo(src="img/clients/c1.png", alt="")
							.appear-content
								.audio-block
									audio#audio(src="sounds/sound1.mp3")
									.line
										a(href="#").controls.play
											img(src="img/play.svg", alt="").play-pic
											img(src="img/pause.svg").pause-pic
									span Послушать
								a.more(href="") подробнее
						.case-item
							img.client-logo(src="img/clients/c2.png", alt="")
							.appear-content
								.audio-block
									audio#audio(src="sounds/sound1.mp3")
									.line
										a(href="#").controls.play
											img(src="img/play.svg", alt="").play-pic
											img(src="img/pause.svg").pause-pic
									span Послушать
								a.more(href="") подробнее
						.case-item
							img.client-logo(src="img/clients/c3.png", alt="")
							.appear-content
								.audio-block
									audio#audio(src="sounds/sound1.mp3")
									.line
										a(href="#").controls.play
											img(src="img/play.svg", alt="").play-pic
											img(src="img/pause.svg").pause-pic
									span Послушать
								a.more(href="") подробнее




