
<div class="content-container">
  <div class="page-control-line"><a href="" ng-click="back()" class="page-link back">
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#left-arrow"></use>
      </svg><span>Назад</span></a>
    <div class="title-block"><span class="top-tag">ПРОДУКТ</span><span class="name-span">PHANTOM PRO</span></div>
    <div class="control-buttons"><a href="" class="btn primary invert">ЗАДАТЬ ВОПРОС</a><a href="" class="btn primary invert">ЗАКАЗАТЬ ЗВОНОК</a></div>
  </div>
  <div class="page-content">
    <div class="square-links-services"><a href="/clients" ng-click="next()" class="item page">
        <p>Устанавливаем оборудование на пробный период  БЕСПЛАТНО</p>
        <div class="bottom">
          <div class="link">подробнее</div><img src="img/Icon/icon_product/icon_product_1.svg" alt=""/>
        </div></a><a href="/clients" ng-click="next()" class="item page">
        <p>Проводим бесплатное обучение ваших сотрудников</p>
        <div class="bottom">
          <div class="link">подробнее</div><img src="img/Icon/icon_product/icon_product_2.svg" alt=""/>
        </div></a><a href="/clients" ng-click="next()" class="item page">
        <p>Мы предлагаем клиентам удалённую техническую поддержку. Всегда на связи, всегда поможем</p>
        <div class="bottom">
          <div class="link">подробнее</div><img src="img/Icon/icon_product/icon_product_3.svg" alt=""/>
        </div></a></div>
  </div>
  <div class="switcher-block">
    <ul>
      <li class="active"><a href="">Phantom Pro 1</a></li>
      <li><a href="">Phantom Pro 2</a></li>
    </ul>
    <div class="switcher-content">
      <div class="item active"><img src="img/img_phantom_pro.png" alt=""/>
        <div class="switcher-modal-links"><a href="" data-id="video">смотреть видео</a><a href="" data-id="photos">смотреть фото</a></div>
        <div class="switch-modal-window video">
          <iframe width="100%" height="500px" src="https://www.youtube.com/embed/9uKHX-QCxnE?version=3&amp;enablejsapi=1" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="switch-modal-window photos">
          <div class="owl-carousel switch-photos">
            <div class="owl-item"><img src="img/img_phantom_pro.png" alt=""/></div>
            <div class="owl-item"><img src="img/img_phantom_pro.png" alt=""/></div>
            <div class="owl-item"><img src="img/img_phantom_pro.png" alt=""/></div>
            <div class="owl-item"><img src="img/img_phantom_pro.png" alt=""/></div>
            <div class="owl-item"><img src="img/img_phantom_pro.png" alt=""/></div>
            <div class="owl-item"><img src="img/img_phantom_pro.png" alt=""/></div>
          </div><a href="#" class="switch-arrow switch-prev">
            <svg viewBox="0 0 76 76" class="svgico arrow-icon">
              <use xlink:href="#left-arrow"></use>
            </svg></a><a href="#" class="switch-arrow switch-next">
            <svg viewBox="0 0 76 76" class="svgico arrow-icon">
              <use xlink:href="#right-arrow"></use>
            </svg></a>
        </div>
      </div>
      <div class="item"><img src="img/img_phantom_pro.png" alt=""/>
        <div class="switcher-modal-links"><a href="" data-id="video">смотреть видео</a><a href="" data-id="photos">смотреть фото</a></div>
        <div class="switch-modal-window video"> 
          <iframe width="100%" height="500px" src="https://www.youtube.com/embed/9uKHX-QCxnE?version=3&amp;enablejsapi=1" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="switch-modal-window photos">
          <div class="owl-carousel switch-photos">
            <div class="owl-item"><img src="img/img_phantom_pro.png" alt=""/></div>
            <div class="owl-item"><img src="img/img_phantom_pro.png" alt=""/></div>
            <div class="owl-item"><img src="img/img_phantom_pro.png" alt=""/></div>
            <div class="owl-item"><img src="img/img_phantom_pro.png" alt=""/></div>
            <div class="owl-item"><img src="img/img_phantom_pro.png" alt=""/></div>
            <div class="owl-item"><img src="img/img_phantom_pro.png" alt=""/></div>
          </div><a href="#" class="switch-arrow switch-prev">
            <svg viewBox="0 0 76 76" class="svgico arrow-icon">
              <use xlink:href="#left-arrow"></use>
            </svg></a><a href="#" class="switch-arrow switch-next">
            <svg viewBox="0 0 76 76" class="svgico arrow-icon">
              <use xlink:href="#right-arrow"></use>
            </svg></a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="product-content">
      <div class="wave-fixed"></div>
      <div class="wave-tabs anchors">
        <div class="wave-tabs-head mobile-scroll">
          <ul class="mobile-scroll-container">
            <li class="active mobile-scroll-elem"><a href="#description" target="_self">Описание</a></li>
            <li class="mobile-scroll-elem"><a href="#benefits" target="_self">Преимущества</a></li>
            <li class="mobile-scroll-elem"><a href="#areas" target="_self">Сферы применения</a></li>
            <li class="mobile-scroll-elem"><a href="#specific" target="_self">Спецификация</a></li>
            <li class="mobile-scroll-elem"><a href="#cases" target="_self">Кейсы</a></li>
          </ul>
          <div class="wave-line"><img src="img/tab_wave_red.svg" alt=""/></div>
        </div>
      </div>
      <div class="text-container">
        <div id="description">
          <h2>Описание</h2>
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка.</p>
          <h3>Основные функциональные устройства:</h3>
          <ul>
            <li>Лучшим аппаратным комплексом для записи речевой информации;</li>
            <li>Самым большим списком поддерживаемых АТС;</li>
            <li>Нацеленностью на решение задач, стоящих перед нашими клиентами;</li>
            <li>Всеми необходимыми лицензиями на оборудование и на право его установки: сертифицировано;</li>
            <li>Министерством по связи и информации, Госстандартом, Системой сертификации в электроэнергетике Энсертико, Межгосударственным Авиационным Комитетом (МАК), одобрено ВНИИАС, международный сертификат качества ГОСТ ISO 9001- 2011;</li>
            <li>Списком клиентов, которым можно гордиться, и который доказывает надёжность и универсальность нашего продукта.</li>
          </ul>
        </div>
        <div id="benefits">
          <h2>Преимущества</h2>
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка.</p>
          <div class="special-block">
            <div class="item"><span>Индивидуальный подход</span>
              <p>Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. </p>
            </div>
            <div class="item"><span>Качественная продукция</span>
              <p>Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. </p>
            </div>
            <div class="item"><span>Ответственные люди</span>
              <p>Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. </p>
            </div>
            <div class="item"><span>Индивидуальный подход</span>
              <p>Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. </p>
            </div>
            <div class="item"><span>Индивидуальный подход</span>
              <p>Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения.</p>
            </div>
          </div>
        </div>
        <div id="areas">
          <h2>Сферы применения</h2>
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка.</p>
          <ul>
            <li>Лучшим аппаратным комплексом для записи речевой информации;</li>
            <li>Самым большим списком поддерживаемых АТС;</li>
            <li>Нацеленностью на решение задач, стоящих перед нашими клиентами;</li>
            <li>Всеми необходимыми лицензиями на оборудование и на право его установки: сертифицировано;</li>
            <li>Министерством по связи и информации, Госстандартом, Системой сертификации в электроэнергетике Энсертико, Межгосударственным Авиационным Комитетом (МАК), одобрено ВНИИАС, международный сертификат качества ГОСТ ISO 9001- 2011;</li>
            <li>Списком клиентов, которым можно гордиться, и который доказывает надёжность и универсальность нашего продукта.</li>
          </ul>
        </div>
        <div id="specific">
          <h2>Спецификация</h2>
          <ul>
            <li>Лучшим аппаратным комплексом для записи речевой информации;</li>
            <li>Самым большим списком поддерживаемых АТС;</li>
            <li>Нацеленностью на решение задач, стоящих перед нашими клиентами;</li>
            <li>Всеми необходимыми лицензиями на оборудование и на право его установки: сертифицировано;</li>
            <li>Министерством по связи и информации, Госстандартом, Системой сертификации в электроэнергетике Энсертико, Межгосударственным Авиационным Комитетом (МАК), одобрено ВНИИАС, международный сертификат качества ГОСТ ISO 9001- 2011;</li>
            <li>Списком клиентов, которым можно гордиться, и который доказывает надёжность и универсальность нашего продукта.</li>
          </ul>
        </div>
        <div id="cases">
          <h2>Кейсы</h2>
          <div class="clients-block">
            <div class="case-item"><img src="img/clients/c1.png" alt="" class="client-logo"/>
              <div class="appear-content">
                <div class="audio-block">
                  <audio id="audio" src="sounds/sound1.mp3"></audio>
                  <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
                </div><a href="" class="more">подробнее</a>
              </div>
            </div>
            <div class="case-item"><img src="img/clients/c2.png" alt="" class="client-logo"/>
              <div class="appear-content">
                <div class="audio-block">
                  <audio id="audio" src="sounds/sound1.mp3"></audio>
                  <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
                </div><a href="" class="more">подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>