html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Mdis
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/owl.carousel.min.css")
		link(rel="stylesheet", href="css/owl.theme.default.min.css")
		link(rel="stylesheet", href="css/jquery.mCustomScrollbar.min.css")
		link(rel="stylesheet", href="css/jquery.fancybox.min.css")
		//- base(href="/")
	body(ng-app="route")
		.svg-assets
			include ../img/assets.svg
		header(ng-class="headerClass")
			.half-header
				a.menu(href="#", target="_self") #[span ] #[p меню]
				a.search(href="#") #[img(src="img/Icon/SEARCH.svg", alt="")] #[p поиск]
			.half-header
				a.question(href="") 
					span задать вопрос
					img(src="img/ask.svg", alt="")
				a.callback(href="") 
					span перезвоните мне
					img(src="img/phone.svg", alt="")
				a.phone(href="tel:+7 924 242 45 64") +7 924 #[span 242 45 64]
		.overflow
			#menu
				.menu-container
					.menu-row
						.count 01
						.line
						.row-content
							.section.no-sub
								a(href="") ГЛАВНАЯ
					.menu-row
						.count 02
						.line
						.row-content
							.section
								a(href="") РЕШЕНИЯ
							.subsections.mobile-scroll
								.mobile-scroll-container
									a(href="").mobile-scroll-elem Электроэнергетика
									a(href="").mobile-scroll-elem Финансовые организации
									a(href="").mobile-scroll-elem Промышленные предприятия
									a(href="").mobile-scroll-elem Госструктуры
									a(href="").mobile-scroll-elem Атомная энергетика
									a(href="").mobile-scroll-elem Авиация и транспорт
									a(href="").mobile-scroll-elem Автосалоны
									a(href="").mobile-scroll-elem Коммерческие предприятия
					.menu-row
						.count 03
						.line
						.row-content
							.section
								a(href="") ПРОДУКТЫ
							.subsections.mobile-scroll
								.mobile-scroll-container
									a(href="").mobile-scroll-elem Запись телефонных переговоров
									a(href="").mobile-scroll-elem Селективная запись переговоров
									a(href="").mobile-scroll-elem Skype for business
									a(href="").mobile-scroll-elem Запись LYNC
									a(href="").mobile-scroll-elem Запись диспетчерских переговоров
					.menu-row
						.count 04
						.line
						.row-content
							.section
								a(href="") УСЛУГИ
							.subsections.mobile-scroll
								.mobile-scroll-container
									a(href="").mobile-scroll-elem Персональные решения
									a(href="").mobile-scroll-elem Комплексная модернизация
									a(href="").mobile-scroll-elem Обучение
					.menu-row
						.count 05
						.line
						.row-content
							.section
								a(href="") НОВОСТИ И СТАТЬИ
							.subsections.mobile-scroll
								.mobile-scroll-container
									a(href="").mobile-scroll-elem Новости
									a(href="").mobile-scroll-elem Статьи
					.menu-row
						.count 06
						.line
						.row-content
							.section
								a(href="") ПОДДЕРЖКА
							.subsections.mobile-scroll
								.mobile-scroll-container
									a(href="").mobile-scroll-elem По продуктам
									a(href="").mobile-scroll-elem Статьи
					.menu-row
						.count 07
						.line
						.row-content
							.section
								a(href="") О КОМПАНИИ
							.subsections.mobile-scroll
								.mobile-scroll-container
									a(href="").mobile-scroll-elem Наши клиенты
									a(href="").mobile-scroll-elem Сертификаты и лицензии
									a(href="").mobile-scroll-elem Партнеры
									a(href="").mobile-scroll-elem Награды
									a(href="").mobile-scroll-elem Ассоциация
									a(href="").mobile-scroll-elem История
					.menu-row
						.count 08
						.line
						.row-content
							.section.no-sub
								a(href="") Контакты
			#content-changer.transition-block(ng-view, ng-class="slide")
		footer
			.item
				img(src="img/logo_footer.svg", alt="")
				span.bottom ©   MD Information system 2006–2016
			.item
				span.top Адрес
				.line
				span.bottom 123022, Россия, г. Москва, ул. 1905 года, д. 7, строение 1
			.item
				span.top Контакты
				.line
				.bottom
					a.tel(href="") +7 (495) 783-33-79 (многоканальный)
					a(href="").email sales@mdis.ru (отдел продаж),
					a(href="").email support@mdis.ru (тех. поддержка)
			.item
				a(href="").btn.primary ПОДРОБНЕЕ
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/hammer.js")
		script(src="js/jquery.hammer.js")
		//- script(src="js/page.js")
		script(src="js/angular.min.js")
		script(src="js/angular-route.min.js")
		script(src="js/angular-animate.min.js")
		script(src="js/jquery.mCustomScrollbar.min.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAE8iqwKY6PeKvryHYgM_k7cbH9ZyKk5g")
		script(src="js/jquery.fancybox.min.js")
		script(src="js/wavesurfe.js")
		script(src="js/app.js")
