.main-container
	.hero-main
		.hero-img
			.overlay
		.wave-block
			.inner
				include ../img/Icon/wave.svg
				h1 МДИС
		p Комплексные индивидуальные решения записи телефонных разговоров для повышения эффективности вашего бизнеса
	.solutions-block
		.row
			a(href="#").line-item
				.tag решение
				span.line-visible
				span.line-invisible
				.name Атомная энергетика
				svg(viewBox="0 0 76 76", class="svgico solution-icon")
					use(xlink:href="#atom_icon")
				.more подробнее
			a(href="#").line-item
				.tag решение
				span.line-visible
				span.line-invisible
				.name Коммерческие<br>предприятия
				svg(viewBox="0 0 76 76", class="svgico solution-icon")
					use(xlink:href="#commercical")
				.more подробнее
			a(href="#").line-item
				.tag решение
				span.line-visible
				span.line-invisible
				.name Промышленные<br>предприятия
				svg(viewBox="0 0 76 76", class="svgico solution-icon")
					use(xlink:href="#prom")
				.more подробнее
			a(href="#").line-item
				.tag решение
				span.line-visible
				span.line-invisible
				.name Автосалоны
				svg(viewBox="0 0 76 76", class="svgico solution-icon")
					use(xlink:href="#auto")
				.more подробнее
		.row
			a(href="#").line-item
				.tag решение
				span.line-visible
				span.line-invisible
				.name Госструктуры
				svg(viewBox="0 0 76 76", class="svgico solution-icon")
					use(xlink:href="#gos")
				.more подробнее
			a(href="#").line-item
				.tag решение
				span.line-visible
				span.line-invisible
				.name Финансовые<br>организации
				svg(viewBox="0 0 76 76", class="svgico solution-icon")
					use(xlink:href="#financical")
				.more подробнее
			a(href="#").line-item
				.tag решение
				span.line-visible
				span.line-invisible
				.name Электроэнергетика
				svg(viewBox="0 0 76 76", class="svgico solution-icon")
					use(xlink:href="#electro")
				.more подробнее
			a(href="#").line-item
				.tag решение
				span.line-visible
				span.line-invisible
				.name Авиация и транспорт
				svg(viewBox="0 0 76 76", class="svgico solution-icon")
					use(xlink:href="#transprot")
				.more подробнее 
	.package-block
		.wave-tabs
			.wave-tabs-head.mobile-scroll
				ul.mobile-scroll-container
					li.active.mobile-scroll-elem
						a(href="#record_phone" target="_self") Запись телефонных<br> переговоров
					li.mobile-scroll-elem
						a(href="#record_dispatch" target="_self") Запись диспетчерских<br> переговоров
					li.mobile-scroll-elem
						a(href="#record_ip" target="_self") Запись<br>ip–телефонии
					li.mobile-scroll-elem
						a(href="#record_select" target="_self") Селективная<br>запись
					li.mobile-scroll-elem
						a(href="#record_skype" target="_self") Запись Skype<br>for business
				.wave-line
					img(src="img/tab_wave.svg", alt="")
			.wave-tabs-content
				.content-tab.active#record_phone
					.tag.animation.in продукты
					.line.animation.in
					h2.title.animation.in Запись телефонных переговоров
					p.animation.in Рынок call-центров в отличии от других секторов рынка продолжает быстро развиваться, несмотря на кризис. Это обусловлено тем, что call-центры остаются важным инструментом ведения бизнеса. Зачастую их еще называют ЦОВы (центры обработки вызовов) или контакт-центры.
					a.btn.primary.animation.in.page(href="#!product", ng-click="next()") ПОДРОБНЕЕ
				.content-tab#record_dispatch
					.tag.animation.in продукты
					.line.animation.in
					h2.title.animation.in Запись телефонных переговоров
					p.animation.in Рынок call-центров в отличии от других секторов рынка продолжает быстро развиваться, несмотря на кризис. Это обусловлено тем, что call-центры остаются важным инструментом ведения бизнеса. Зачастую их еще называют ЦОВы (центры обработки вызовов) или контакт-центры.
					a.btn.primary.animation.in.page(href="#!product", ng-click="next()") ПОДРОБНЕЕ
				.content-tab#record_ip
					.tag.animation.in продукты
					.line.animation.in
					h2.title.animation.in Запись телефонных переговоров
					p.animation.in Рынок call-центров в отличии от других секторов рынка продолжает быстро развиваться, несмотря на кризис. Это обусловлено тем, что call-центры остаются важным инструментом ведения бизнеса. Зачастую их еще называют ЦОВы (центры обработки вызовов) или контакт-центры.
					a.btn.primary.animation.in(href="/product") ПОДРОБНЕЕ
				.content-tab#record_select
					.tag.animation.in продукты
					.line.animation.in
					h2.title.animation.in Запись телефонных переговоров
					p.animation.in Рынок call-центров в отличии от других секторов рынка продолжает быстро развиваться, несмотря на кризис. Это обусловлено тем, что call-центры остаются важным инструментом ведения бизнеса. Зачастую их еще называют ЦОВы (центры обработки вызовов) или контакт-центры.
					a.btn.primary.animation.in(href="/product") ПОДРОБНЕЕ
				.content-tab#record_skype
					.tag.animation.in продукты
					.line.animation.in
					h2.title.animation.in Запись телефонных переговоров
					p.animation.in Рынок call-центров в отличии от других секторов рынка продолжает быстро развиваться, несмотря на кризис. Это обусловлено тем, что call-центры остаются важным инструментом ведения бизнеса. Зачастую их еще называют ЦОВы (центры обработки вызовов) или контакт-центры.
					a.btn.primary.animation.in(href="/product") ПОДРОБНЕЕ
			.photo-tab-block
				.item(data-id="record_phone" style="background-image: url(img/bg_img_header.png)")
				.item(data-id="record_phone" style="background-image: url(img/Hero_image.png)")
				.item(data-id="record_phone" style="background-image: url(img/bg_img_header.png)")
				.item(data-id="record_phone" style="background-image: url(img/Hero_image.png)")
				.item(data-id="record_phone" style="background-image: url(img/bg_img_header.png)")
	.services-block
		a(href="").line-item.black
			.tag УСЛУГИ
			span.line-visible
			span.line-invisible
			.name Персональные<br>решения
			.more подробнее
		a(href="").line-item.black
			.tag УСЛУГИ
			span.line-visible
			span.line-invisible
			.name Комплексная<br>модернизация
			.more подробнее
		a(href="").line-item.black
			.tag УСЛУГИ
			span.line-visible
			span.line-invisible
			.name Обучение
			.more подробнее
	.news-block
		.half
			a(href="").line-item.news(style="background-image: url(img/img1_main_page_news.png)")
				.tag Новости
				.time #[span 28] СЕНТЯБРЯ
				span.line-visible
				span.line-invisible
				.name Диспетчерские службы АЭС используют комплексы<br>регистрации разговоров – Фантом
				.more подробнее
		.half
			a(href="").line-item.news(style="background-image: url(img/img2_main_page_news.png)")
				.tag Новости
				.time #[span 28] СЕНТЯБРЯ
				span.line-visible
				span.line-invisible
				.name Диспетчерские службы АЭС<br> используют комплексы регистрац...
				.more подробнее
			a(href="").line-item.news(style="background-image: url(img/img1_main_page_news.png)")
				.tag Новости
				.time #[span 28] СЕНТЯБРЯ
				span.line-visible
				span.line-invisible
				.name Диспетчерские службы АЭС<br> используют комплексы регистрац...
				.more подробнее
			a(href="").line-item.news(style="background-image: url(img/img2_main_page_news.png)")
				.tag Новости
				.time #[span 28] СЕНТЯБРЯ
				span.line-visible
				span.line-invisible
				.name Диспетчерские службы АЭС<br> используют комплексы регистрац...
				.more подробнее
			a(href="").line-item.news.all
				.name Смотреть все новости
				img.arrow(src="img/Icon/right-arrow.svg", alt="")
	.main-slider
		h2.title #[span МДИС] – ЭТО
		.owl-carousel.loop
			.item
				span Безопасность
				p Изучив вас и ваши потребности, мы подберем для вас оптимальное решение
			.item
				span Уверенность
				p Изучив вас и ваши потребности, мы подберем для вас оптимальное решение
			.item
				span Надежность
				p Изучив вас и ваши потребности, мы подберем для вас оптимальное решение
			.item
				span Надежность
				p Изучив вас и ваши потребности, мы подберем для вас оптимальное решение
			.item
				span Надежность
				p Изучив вас и ваши потребности, мы подберем для вас оптимальное решение
		.bottom-controls
			a(href="#").loop-prev.loop-arrow
				svg(viewBox="0 0 76 76", class="svgico arrow-icon")
					use(xlink:href="#left-arrow")
			a.btn.primary.invert(href="#!about/index", ng-click="next()") ПОДРОБНЕЕ О НАС
			a(href="#").loop-next.loop-arrow
				svg(viewBox="0 0 76 76", class="svgico arrow-icon")
					use(xlink:href="#right-arrow")
	.clients-block
		.case-item.content
			.tag Новости
			a(href="").all смотреть все кейсы
			span.line-visible
			.text
				span Наши клиенты
				p Уже во время первой своей кампании на Балканах (198 год до н. э.) Фламинин добился полной внешнеполитической изоляции Македонии. В 197 году до н. э. в решающей битве
		.case-item
			img.client-logo(src="img/clients/c1.png", alt="")
			.appear-content
				.audio-block
					audio#audio(src="sounds/sound1.mp3")
					.line
						a(href="#").controls.play
							img(src="img/play.svg", alt="")
					span Послушать
				a.more(href="") подробнее
		.case-item
			img.client-logo(src="img/clients/c2.png", alt="")
			.appear-content
				.audio-block
					audio#audio(src="sounds/sound1.mp3")
					.line
						a(href="#").controls.play
							img(src="img/play.svg", alt="")
					span Послушать
				a.more(href="") подробнее
		.case-item
			img.client-logo(src="img/clients/c3.png", alt="")
			.appear-content
				.audio-block
					audio#audio(src="sounds/sound1.mp3")
					.line
						a(href="#").controls.play
							img(src="img/play.svg", alt="")
					span Послушать
				a.more(href="") подробнее
		.case-item
			img.client-logo(src="img/clients/c4.png", alt="")
			.appear-content
				.audio-block
					audio#audio(src="sounds/sound1.mp3")
					.line
						a(href="#").controls.play
							img(src="img/play.svg", alt="")
					span Послушать
				a.more(href="") подробнее
		.case-item
			img.client-logo(src="img/clients/c5.png", alt="")
			.appear-content
				.audio-block
					audio#audio(src="sounds/sound1.mp3")
					.line
						a(href="#").controls.play
							img(src="img/play.svg", alt="")
					span Послушать
				a.more(href="") подробнее
		.case-item
			img.client-logo(src="img/clients/c6.png", alt="")
			.appear-content
				.audio-block
					audio#audio(src="sounds/sound1.mp3")
					.line
						a(href="#").controls.play
							img(src="img/play.svg", alt="")
					span Послушать
				a.more(href="") подробнее







	

