.content-container
	.page-control-line
		a(href="/" ng-click="back()").page-link.back
			svg(viewBox="0 0 76 76", class="svgico arrow-icon")
				use(xlink:href="#left-arrow")
			span Главная страница
		.line-center
			.title-block
				//- span.top-tag О компании
				h1.name-span Результаты поиска
	.page-content
		.search-result
			.switcher-block
				ul.switcher-list
					li.active
						a(href="") Все
					li
						a(href="") Новости
					li
						a(href="") Статьи
					li
						a(href="") Решения
					li
						a(href="") Продукты
					li
						a(href="") Услуги 
				.switcher-content
					.item.active
						.text-container
							h2 Все результаты
							h3 Новости
							ul
								li 
									a(href="") "ФАНТОМ" включён в Единый реестр российского ПО.
								li 
									a(href="") Поставка на Ленинградскую АЭС-2
								li 
									a(href="") Поставка ЗИП на АЭС Куданкулам
								li 
									a(href="") Более 5 лет на предприятиях Мосэнерго эксплуатируется оборудование ЗАО «МДИС».
							h3 Статьи
							ul
								li 
									a(href="") "ФАНТОМ" включён в Единый реестр российского ПО.
								li 
									a(href="") Поставка на Ленинградскую АЭС-2
								li 
									a(href="") Поставка ЗИП на АЭС Куданкулам
								li 
									a(href="") Более 5 лет на предприятиях Мосэнерго эксплуатируется оборудование ЗАО «МДИС».
							h3 Решения
							ul
								li 
									a(href="") Супер классное решение для вашего профиля и Супер классное решение для вашего профиля и Супер классное решение для вашего профиля
								li 
									a(href="") Супер классное решение для вашего профиля 
								li 
									a(href="") Супер классное решение для вашего профиля Супер классное решение для вашего профиля
								li 
									a(href="") Супер классное решение для вашего профиля
								li 
									a(href="") Супер классное решение для вашего профиля
							h3 Продукты
							ul
								li 
									a(href="") Продукт1 
								li 
									a(href="") Продукт для вашей компании
								li 
									a(href="") Продукт PRO EDITION 360 MEGA PACK
								li 
									a(href="") Просто продукт
							h3 Услуги
							ul
								li 
									a(href="") Услуга 1 
								li 
									a(href="") Услуга 2 
								li 
									a(href="") Услуга 3 

					.item
						.text-container
							h2 Новости
							ul
								li 
									a(href="") "ФАНТОМ" включён в Единый реестр российского ПО.
								li 
									a(href="") Поставка на Ленинградскую АЭС-2
								li 
									a(href="") Поставка ЗИП на АЭС Куданкулам
								li 
									a(href="") Более 5 лет на предприятиях Мосэнерго эксплуатируется оборудование ЗАО «МДИС».
					.item
						.text-container
							h2 Статьи
							ul
								li 
									a(href="") "ФАНТОМ" включён в Единый реестр российского ПО.
								li 
									a(href="") Поставка на Ленинградскую АЭС-2
								li 
									a(href="") Поставка ЗИП на АЭС Куданкулам
								li 
									a(href="") Более 5 лет на предприятиях Мосэнерго эксплуатируется оборудование ЗАО «МДИС».
					.item
						.text-container
							h2 Решения
							ul
								li 
									a(href="") Супер классное решение для вашего профиля и Супер классное решение для вашего профиля и Супер классное решение для вашего профиля
								li 
									a(href="") Супер классное решение для вашего профиля 
								li 
									a(href="") Супер классное решение для вашего профиля Супер классное решение для вашего профиля
								li 
									a(href="") Супер классное решение для вашего профиля
								li 
									a(href="") Супер классное решение для вашего профиля
					.item
						.text-container
							h2 Продукты
							ul
								li 
									a(href="") Продукт1 
								li 
									a(href="") Продукт для вашей компании
								li 
									a(href="") Продукт PRO EDITION 360 MEGA PACK
								li 
									a(href="") Просто продукт
					.item
						.text-container
							h2 Услуги
							ul
								li 
									a(href="") Услуга 1 
								li 
									a(href="") Услуга 2 
								li 
									a(href="") Услуга 3 
