
<div class="content-container">
  <div class="page-control-line"><a href="#!about/index" ng-click="back()" class="page-link back">
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#left-arrow"></use>
      </svg><span>Кто мы</span></a>
    <div class="line-center">
      <div class="title-block"><span class="top-tag">О компании</span>
        <h1 class="name-span">НАШИ КЛИЕНТЫ</h1>
      </div>
    </div><a href="#!about/partners" ng-click="next()" class="page-link fowrard"><span>ПАРТНЕРЫ</span>
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#right-arrow"></use>
      </svg></a>
  </div>
  <div class="page-content">
    <div class="clients-block">
      <div class="case-item"><img src="img/clients/c1.png" alt="" class="client-logo"/>
        <div class="appear-content">
          <div class="audio-block">
            <audio id="audio" src="sounds/sound1.mp3"></audio>
            <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
          </div><a href="" class="more">подробнее</a>
        </div>
      </div>
      <div class="case-item"><img src="img/clients/c2.png" alt="" class="client-logo"/>
        <div class="appear-content">
          <div class="audio-block">
            <audio id="audio" src="sounds/sound1.mp3"></audio>
            <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
          </div><a href="" class="more">подробнее</a>
        </div>
      </div>
      <div class="case-item"><img src="img/clients/c3.png" alt="" class="client-logo"/>
        <div class="appear-content">
          <div class="audio-block">
            <audio id="audio" src="sounds/sound1.mp3"></audio>
            <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
          </div><a href="" class="more">подробнее</a>
        </div>
      </div>
      <div class="case-item"><img src="img/clients/c4.png" alt="" class="client-logo"/>
        <div class="appear-content">
          <div class="audio-block">
            <audio id="audio" src="sounds/sound1.mp3"></audio>
            <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
          </div><a href="" class="more">подробнее</a>
        </div>
      </div>
      <div class="case-item"><img src="img/clients/c5.png" alt="" class="client-logo"/>
        <div class="appear-content">
          <div class="audio-block">
            <audio id="audio" src="sounds/sound1.mp3"></audio>
            <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
          </div><a href="" class="more">подробнее</a>
        </div>
      </div>
      <div class="case-item"><img src="img/clients/c6.png" alt="" class="client-logo"/>
        <div class="appear-content">
          <div class="audio-block">
            <audio id="audio" src="sounds/sound1.mp3"></audio>
            <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
          </div><a href="" class="more">подробнее</a>
        </div>
      </div>
      <div class="case-item"><img src="img/clients/c1.png" alt="" class="client-logo"/>
        <div class="appear-content">
          <div class="audio-block">
            <audio id="audio" src="sounds/sound1.mp3"></audio>
            <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
          </div><a href="" class="more">подробнее</a>
        </div>
      </div>
      <div class="case-item"><img src="img/clients/c2.png" alt="" class="client-logo"/>
        <div class="appear-content">
          <div class="audio-block">
            <audio id="audio" src="sounds/sound1.mp3"></audio>
            <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
          </div><a href="" class="more">подробнее</a>
        </div>
      </div>
      <div class="case-item"><img src="img/clients/c3.png" alt="" class="client-logo"/>
        <div class="appear-content">
          <div class="audio-block">
            <audio id="audio" src="sounds/sound1.mp3"></audio>
            <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
          </div><a href="" class="more">подробнее</a>
        </div>
      </div>
      <div class="case-item"><img src="img/clients/c2.png" alt="" class="client-logo"/>
        <div class="appear-content">
          <div class="audio-block">
            <audio id="audio" src="sounds/sound1.mp3"></audio>
            <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
          </div><a href="" class="more">подробнее</a>
        </div>
      </div>
      <div class="case-item"><img src="img/clients/c3.png" alt="" class="client-logo"/>
        <div class="appear-content">
          <div class="audio-block">
            <audio id="audio" src="sounds/sound1.mp3"></audio>
            <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
          </div><a href="" class="more">подробнее</a>
        </div>
      </div>
      <div class="case-item"><img src="img/clients/c4.png" alt="" class="client-logo"/>
        <div class="appear-content">
          <div class="audio-block">
            <audio id="audio" src="sounds/sound1.mp3"></audio>
            <div class="line"><a href="#" class="controls play"><img src="img/play.svg" alt=""/></a></div><span>Послушать</span>
          </div><a href="" class="more">подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>