
<div class="content-container">
  <div class="page-control-line"><a href="/" ng-click="back()" class="page-link back">
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#left-arrow"></use>
      </svg><span>Главная страница</span></a>
    <div class="line-center">
      <div class="title-block"><span class="top-tag">О компании</span>
        <h1 class="name-span">кто мы</h1>
      </div>
    </div><a href="#!about/clients" ng-click="next()" class="page-link fowrard"><span>НАШИ КЛИЕНТЫ</span>
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#right-arrow"></use>
      </svg></a>
  </div>
  <div class="page-content">
    <div class="text-container"><img src="img/text_img.jpg" alt=""/>
      <p>Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи. В далеком 1995 году мы были первыми и единственными, кто мог предложить такое решение. Жизнь не стоит на месте, новые требования клиентов заставляют нас постоянно модернизировать и улучшать работу системы. Причем обновление касается и ранее установленных систем. Мы выполняем полный технологический цикл работ: от разработки аппаратной части и программного обеспечения до гарантийного и сервисного обслуживания. Наша компания успешно работает по всей территории России и активно развивается.</p>
    </div>
    <div class="spy-content">
      <div class="wave-fixed"></div>
      <div class="wave-tabs anchors">
        <div class="wave-tabs-head mobile-scroll">
          <ul class="mobile-scroll-container">
            <li class="active mobile-scroll-elem"><a href="#geography" target="_self">География</a></li>
            <li class="mobile-scroll-elem"><a href="#missions" target="_self">Миссия</a></li>
            <li class="mobile-scroll-elem"><a href="#way" target="_self">Подход</a></li>
            <li class="mobile-scroll-elem"><a href="#principles" target="_self">Принципы</a></li>
          </ul>
          <div class="wave-line"><img src="img/tab_wave_red.svg" alt=""/></div>
        </div>
      </div>
      <div class="text-container">
        <div id="geography">
          <h2>География</h2>
          <div class="full">
            <div id="geo_map"></div>
          </div>
          <p>Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи.</p>
        </div>
        <div id="missions">
          <h2>Миссия</h2>
          <p><b>Мы создаем и обеспечиваем наших клиентов современными техническими средствами и бизнес-решениями для реализации их потребностей в следующих областях:</b></p>
          <ul>
            <li>контроль обеспечения безопасности;</li>
            <li>обеспечение внутрифирменного контроля;</li>
            <li>управление коммерческими и технологическими рисками;</li>
            <li>повышение отдачи от контактов с рынком;</li>
            <li>повышение эффективности труда персонала.</li>
          </ul>
          <p>Основой для реализации миссии компании являются две составляющие: современные программно-технические средства и понимание специфики решаемых задач в сферах работы предприятий клиентов.</p>
          <div class="full mission">
            <div class="page-content">
              <div class="item"><span>100</span>
                <p>выполненных проектов</p>
              </div>
              <div class="item"><span>120</span>
                <p>выполненных проектов</p>
              </div>
              <div class="item"><span>300</span>
                <p>выполненных проектов</p>
              </div>
            </div>
          </div>
        </div>
        <div id="way">
          <h2>Подход</h2>
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка.</p>
          <div class="way-special">
            <div class="square-white-block"><span>Индивидуальный подход</span>
              <div class="line"></div>
              <p>Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения.</p>
            </div>
            <div class="square-white-block"><span>Разработка оборудования</span>
              <div class="line"></div>
              <p>Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. </p>
            </div>
            <div class="square-white-block"><span>Эффект присутствия</span>
              <div class="line"></div>
              <p>Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения.</p>
            </div>
            <div class="square-white-block"><span>Разработка программного обеспечения</span>
              <div class="line"></div>
              <p>Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения.</p>
            </div>
          </div>
        </div>
        <div id="principles">
          <h2>Принципы</h2>
          <p><b>Мы не боимся сравнения с конкурентами. Сейчас мы обладаем:</b></p>
          <ul>
            <li>Лучшим аппаратным комплексом для записи речевой информации;</li>
            <li>Самым большим списком поддерживаемых АТС;</li>
            <li>Нацеленностью на решение задач, стоящих перед нашими клиентами;</li>
            <li>Всеми необходимыми лицензиями на оборудование и на право его установки: сертифицировано;</li>
            <li>Министерством по связи и информации, Госстандартом, Системой сертификации в электроэнергетике Энсертико, Межгосударственным Авиационным Комитетом (МАК), одобрено ВНИИАС, международный сертификат качества ГОСТ ISO 9001- 2011;</li>
            <li>Списком клиентов, которым можно гордиться, и который доказывает надёжность и универсальность нашего продукта.</li>
          </ul>
          <p><b>Наша компания не придерживается принципа «продал и забыл». При установке и использовании нашей системы мы гарантируем:</b></p>
          <ul>
            <li>Решение всех технических вопросов как в процессе внедрения, так и при последующей эксплуатации системы;</li>
            <li>Клиентоориентированный подход в работе;</li>
            <li>Обучение сотрудников клиентов работе с нашим продуктом;</li>
            <li>Консультации в использовании нашего продукта.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>