
<div class="content-container">
  <div class="page-control-line"><a href="#!about/rewards" ng-click="back()" class="page-link back">
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#left-arrow"></use>
      </svg><span>Награды</span></a>
    <div class="line-center">
      <div class="title-block"><span class="top-tag">О компании</span>
        <h1 class="name-span">CЕРТИФИКАТЫ И ЛИЦЕНЗИИ</h1>
      </div>
    </div><a href="#!about/history" ng-click="next()" class="page-link fowrard"><span>ИСТОРИЯ</span>
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#right-arrow"></use>
      </svg></a>
  </div>
  <div class="page-content">
    <div class="text-container">
      <div class="license-section">
        <h2>Аттестация АО «ФСК ЕЭС» и ОАО «Россети»</h2>
        <div class="item">
          <div class="item-pic"><img src="img/pdf.svg" alt=""/><span>123 kb</span></div>
          <div class="item-content">
            <p>Заключение аттестационной комиссии в соответствии МЦКРС «Фантом» техническим требованиям АО «ФСК ЕЭС» и ОАО «Россети»</p>
            <div class="link-block"><a href="" target="_blank">скачать</a></div>
          </div>
        </div>
      </div>
      <div class="license-section">
        <h2>Сертификаты</h2>
        <div class="item">
          <div class="item-pic"><img src="img/pdf.svg" alt=""/><span>123 kb</span></div>
          <div class="item-content">
            <p>Декларация таможенного союза о соответствии Техническим регламентам ТР ТС 004/2011 и ТР ТС 020/2011</p>
            <div class="link-block"><a href="" target="_blank">скачать</a></div>
          </div>
        </div>
        <div class="item">
          <div class="item-pic"><img src="img/pdf.svg" alt=""/><span>123 kb</span></div>
          <div class="item-content">
            <p>Декларация о соответствии МЦКРС «ФАНТОМ» «Правилам применения оконечного оборудования, подключаемого к двухпроводному аналоговому стыку телефонной сети связи общего пользования», утвержденным приказом Мининформсвязи России от 29.08.2005г. №102 (зарегистрирован Минюстом России 02.09.2005 г., регистрационный №6982). Зарегистрирована в Федеральном агентстве связи № CGL-6215 от 06.06.2013г. Действует до 31.05.2018г.</p>
            <div class="link-block"><a href="" target="_blank">скачать</a></div>
          </div>
        </div>
        <div class="item">
          <div class="item-pic"><img src="img/pdf.svg" alt=""/><span>123 kb</span></div>
          <div class="item-content">
            <p>Декларация о соответствии интерфейсной платы PH-600 "Правилам применения технических средств (интерфейсных плат), встраиваемых в персональные компьютеры...", утвержденные приказом Министерства информационных технологий и связи РФ от 07.12.2006 №159. Действует до 05.06.2018г.</p>
            <div class="link-block"><a href="" target="_blank">скачать</a></div>
          </div>
        </div>
        <div class="item">
          <div class="item-pic"><img src="img/pdf.svg" alt=""/><span>123 kb</span></div>
          <div class="item-content">
            <p>Сертификат партнёра Microsoft</p>
            <div class="link-block"><a href="" target="_blank">скачать</a></div>
          </div>
        </div>
      </div>
      <div class="license-section">
        <h2>Патенты</h2>
        <div class="item">
          <div class="item-pic"><img src="img/pdf.svg" alt=""/><span>123 kb</span></div>
          <div class="item-content">
            <p>Свидетельство о государственной регистрации программы для ЭВМ «ФАНТОМ». </p>
            <div class="link-block"><a href="" target="_blank">скачать</a></div>
          </div>
        </div>
        <div class="item">
          <div class="item-pic"><img src="img/pdf.svg" alt=""/><span>123 kb</span></div>
          <div class="item-content">
            <p>Свидетельство об официальной регистрации программы для ЭВМ. Многоканальный цифровой комплекс регистрации сигналов "ФАНТОМ". </p>
            <div class="link-block"><a href="" target="_blank">скачать</a></div>
          </div>
        </div>
      </div>
      <div class="license-section">
        <h2>Лицензии</h2>
        <div class="item">
          <div class="item-pic"><img src="img/pdf.svg" alt=""/><span>123 kb</span></div>
          <div class="item-content">
            <p>Лицензия Федеральной службы по экологическому, технологическому и атомному надзору (Ростехнадзор) на право конструирования оборудования для атомных станций ЦО-11-101-8624. Срок действия до 20 апреля 2020 года</p>
            <div class="link-block"><a href="" target="_blank">скачать</a></div>
          </div>
        </div>
        <div class="item">
          <div class="item-pic"><img src="img/pdf.svg" alt=""/><span>123 kb</span></div>
          <div class="item-content">
            <p>Лицензия Федеральной службы по экологическому, технологическому и атомному надзору (Ростехнадзор) на право изготовления оборудования для атомных станций ЦО-12-101-8630. Срок действия до 20 апреля 2020 года</p>
            <div class="link-block"><a href="" target="_blank">скачать</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>