
<div class="content-container">
  <div class="page-control-line"><a href="#!about/clients" ng-click="back()" class="page-link back">
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#left-arrow"></use>
      </svg><span>Наши клиенты</span></a>
    <div class="line-center">
      <div class="title-block"><span class="top-tag">О компании</span>
        <h1 class="name-span">ПАРТНЕРЫ</h1>
      </div>
    </div><a href="#!about/rewards" ng-click="next()" class="page-link fowrard"><span>НАГРАДЫ</span>
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#right-arrow"></use>
      </svg></a>
  </div>
  <div class="page-content">
    <div class="spy-content">
      <div class="wave-fixed"></div>
      <div class="wave-tabs anchors">
        <div class="wave-tabs-head mobile-scroll">
          <ul class="mobile-scroll-container">
            <li class="active mobile-scroll-elem"><a href="#tech_parts" target="_self">Технологический партнеры</a></li>
            <li class="mobile-scroll-elem"><a href="#rus_parts" target="_self">Партнеры в России</a></li>
            <li class="mobile-scroll-elem"><a href="#sng_parts" target="_self">Партнеры в СНГ</a></li>
          </ul>
          <div class="wave-line"><img src="img/tab_wave_red.svg" alt=""/></div>
        </div>
      </div>
      <div class="text-container">
        <div id="tech_parts">
          <h2>Участие в ассоциации ЕВРААС</h2>
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка.</p><img src="img/partners.jpg" alt=""/>
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка.</p>
          <h2>Компания МДИС является многолетним постоянным парнером ассоциации ЕВРААС</h2>
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка.</p>
          <div class="card-single-block"><img src="img/partner/microsoft.png" alt=""/>
            <div class="partner-content"><span>Официальный партнер Microsoft</span>
              <p>Наша компания является серебрянным партнёром Microsoft в компетенции Application Development.</p>
            </div>
          </div>
        </div>
        <div id="rus_parts">
          <h2>Партнеры в России</h2>
          <div class="partners-cards">
            <div class="item">
              <div class="card-pic"><img src="img/partner/p1.png" alt=""/></div>
              <div class="name">Свифткей</div>
              <p class="adress">123124, Россия, г. Москваул. Складочная, д. 123, офис 123</p><a href="tel:+7 (234) 234–45–45">+7 (234) 234–45–45</a><a href="mailto:swiftkey@swiftmail.com">swiftkey@swiftmail.com</a><a href="www.swiftkey.com">www.swiftkey.com</a>
            </div>
            <div class="item">
              <div class="card-pic"><img src="img/partner/p2.png" alt=""/></div>
              <div class="name">Абител Групп</div>
              <p class="adress">123100, Россия, г. Москва ул. Мантулинская, д. 5, стр.2</p><a href="tel:+7 (234) 234–45–45">+7 (234) 234–45–45</a><a href="mailto:swiftkey@swiftmail.com"> tc@abitel.ru</a><a href="http://www.abitel.ru/">http://www.abitel.ru/</a>
            </div>
            <div class="item">
              <div class="card-pic"><img src="img/partner/p3.png" alt=""/></div>
              <div class="name">Комьюнит</div>
              <p class="adress">123124, Россия, г. Москва ул. Складочная, д.3, стр.7</p><a href="tel:+7 (495) 726-7526">+7 (495) 726-7526</a><a href="mailto:sales@kommunit.ru">sales@kommunit.ru</a><a href="www.kommunit.ru">www.kommunit.ru</a>
            </div>
            <div class="item">
              <div class="card-pic"><img src="img/partner/p4.png" alt=""/></div>
              <div class="name">Амета Про</div>
              <p class="adress">119333, Россия, г. Москва ГСП-1, ул. Вавилова, д.42, офис 156, 157</p><a href="tel:(495) 748-1231">(495) 748-1231,</a><a href="tel:938-2676">938-2676</a><a href="tel:(499)135-4590">(499)135-4590,</a><a href="mailto:swiftkey@swiftmail.com">info@ametapro.ru</a><a href="www.swiftkey.com">www.ametapro.ru</a>
            </div>
            <div class="item">
              <div class="card-pic"><img src="img/partner/p1.png" alt=""/></div>
              <div class="name">Свифткей</div>
              <p class="adress">123124, Россия, г. Москваул. Складочная, д. 123, офис 123</p><a href="tel:+7 (234) 234–45–45">+7 (234) 234–45–45</a><a href="mailto:swiftkey@swiftmail.com">swiftkey@swiftmail.com</a><a href="www.swiftkey.com">www.swiftkey.com</a>
            </div>
            <div class="item">
              <div class="card-pic"><img src="img/partner/p1.png" alt=""/></div>
              <div class="name">Свифткей</div>
              <p class="adress">123124, Россия, г. Москваул. Складочная, д. 123, офис 123</p><a href="tel:+7 (234) 234–45–45">+7 (234) 234–45–45</a><a href="mailto:swiftkey@swiftmail.com">swiftkey@swiftmail.com</a><a href="www.swiftkey.com">www.swiftkey.com</a>
            </div>
          </div>
        </div>
        <div id="sng_parts">
          <h2>Партнеры в СНГ</h2>
          <div class="partners-cards">
            <div class="item">
              <div class="card-pic"><img src="img/partner/p1.png" alt=""/></div>
              <div class="name">Свифткей</div>
              <p class="adress">123124, Россия, г. Москваул. Складочная, д. 123, офис 123</p><a href="tel:+7 (234) 234–45–45">+7 (234) 234–45–45</a><a href="mailto:swiftkey@swiftmail.com">swiftkey@swiftmail.com</a><a href="www.swiftkey.com">www.swiftkey.com</a>
            </div>
            <div class="item">
              <div class="card-pic"><img src="img/partner/p2.png" alt=""/></div>
              <div class="name">Абител Групп</div>
              <p class="adress">123100, Россия, г. Москва ул. Мантулинская, д. 5, стр.2</p><a href="tel:+7 (234) 234–45–45">+7 (234) 234–45–45</a><a href="mailto:swiftkey@swiftmail.com"> tc@abitel.ru</a><a href="http://www.abitel.ru/">http://www.abitel.ru/</a>
            </div>
            <div class="item">
              <div class="card-pic"><img src="img/partner/p3.png" alt=""/></div>
              <div class="name">Комьюнит</div>
              <p class="adress">123124, Россия, г. Москва ул. Складочная, д.3, стр.7</p><a href="tel:+7 (495) 726-7526">+7 (495) 726-7526</a><a href="mailto:sales@kommunit.ru">sales@kommunit.ru</a><a href="www.kommunit.ru">www.kommunit.ru</a>
            </div>
            <div class="item">
              <div class="card-pic"><img src="img/partner/p4.png" alt=""/></div>
              <div class="name">Амета Про</div>
              <p class="adress">119333, Россия, г. Москва ГСП-1, ул. Вавилова, д.42, офис 156, 157</p><a href="tel:(495) 748-1231">(495) 748-1231,</a><a href="tel:938-2676">938-2676</a><a href="tel:(499)135-4590">(499)135-4590,</a><a href="mailto:swiftkey@swiftmail.com">info@ametapro.ru</a><a href="www.swiftkey.com">www.ametapro.ru</a>
            </div>
            <div class="item">
              <div class="card-pic"><img src="img/partner/p1.png" alt=""/></div>
              <div class="name">Свифткей</div>
              <p class="adress">123124, Россия, г. Москваул. Складочная, д. 123, офис 123</p><a href="tel:+7 (234) 234–45–45">+7 (234) 234–45–45</a><a href="mailto:swiftkey@swiftmail.com">swiftkey@swiftmail.com</a><a href="www.swiftkey.com">www.swiftkey.com</a>
            </div>
            <div class="item">
              <div class="card-pic"><img src="img/partner/p1.png" alt=""/></div>
              <div class="name">Свифткей</div>
              <p class="adress">123124, Россия, г. Москваул. Складочная, д. 123, офис 123</p><a href="tel:+7 (234) 234–45–45">+7 (234) 234–45–45</a><a href="mailto:swiftkey@swiftmail.com">swiftkey@swiftmail.com</a><a href="www.swiftkey.com">www.swiftkey.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>