
<div class="content-container">
  <div class="page-control-line"><a href="#!about/partners" ng-click="back()" class="page-link back">
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#left-arrow"></use>
      </svg><span>Партнеры</span></a>
    <div class="line-center">
      <div class="title-block"><span class="top-tag">О компании</span>
        <h1 class="name-span">Награды </h1>
      </div>
    </div><a href="#!about/license" ng-click="next()" class="page-link fowrard"><span>СЕРТИФИКАТЫ <br> И ЛИЦЕНЗИИ</span>
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#right-arrow"></use>
      </svg></a>
  </div>
  <div class="page-content">
    <div class="text-container">
      <div class="card-single-block"><a href="img/r1.jpg" data-fancybox="gallery" class="gallery"><img src="img/r1.jpg" alt=""/>
          <div class="hover"><img src="img/hover_rewards.svg" alt=""/></div></a>
        <div class="partner-content"><span>Диплом</span>
          <p>За многолетние активное участие в работе Евро-Азиатской ассоциации производителей товаров и услуг в области безопасности</p>
        </div>
      </div>
      <div class="card-single-block"><a href="img/r2.jpg" data-fancybox="gallery" class="gallery"><img src="img/r2.jpg" alt=""/>
          <div class="hover"><img src="img/hover_rewards.svg" alt=""/></div></a>
        <div class="partner-content"><span>Сертификат</span>
          <p>За многолетние активное участие в работе Евро-Азиатской ассоциации производителей товаров и услуг в области безопасности</p>
        </div>
      </div>
      <div class="card-single-block"><a href="img/r3.jpg" data-fancybox="gallery" class="gallery"><img src="img/r3.jpg" alt=""/>
          <div class="hover"><img src="img/hover_rewards.svg" alt=""/></div></a>
        <div class="partner-content"><span>Свидетельство</span>
          <p>За многолетние активное участие в работе Евро-Азиатской ассоциации производителей товаров и услуг в области безопасности</p>
        </div>
      </div>
      <div class="card-single-block"><a href="img/r4.jpg" data-fancybox="gallery" class="gallery"><img src="img/r4.jpg" alt=""/>
          <div class="hover"><img src="img/hover_rewards.svg" alt=""/></div></a>
        <div class="partner-content"><span>Лицензия</span>
          <p>За многолетние активное участие в работе Евро-Азиатской ассоциации производителей товаров и услуг в области безопасности</p>
        </div>
      </div>
    </div>
  </div>
</div>