.content-container
	.page-control-line
		a(href="#!about/index" ng-click="back()").page-link.back
			svg(viewBox="0 0 76 76", class="svgico arrow-icon")
				use(xlink:href="#left-arrow")
			span Кто мы
		.line-center
			.title-block
				span.top-tag О компании
				h1.name-span НАШИ КЛИЕНТЫ
		a(href="#!about/partners" ng-click="next()").page-link.fowrard
			span ПАРТНЕРЫ
			svg(viewBox="0 0 76 76", class="svgico arrow-icon")
				use(xlink:href="#right-arrow")
	.page-content
		.clients-block
			.case-item
				img.client-logo(src="img/clients/c1.png", alt="")
				.appear-content
					.audio-block
						audio#audio(src="sounds/sound1.mp3")
						.line
							a(href="#").controls.play
								img(src="img/play.svg", alt="")
						span Послушать
					a.more(href="") подробнее
			.case-item
				img.client-logo(src="img/clients/c2.png", alt="")
				.appear-content
					.audio-block
						audio#audio(src="sounds/sound1.mp3")
						.line
							a(href="#").controls.play
								img(src="img/play.svg", alt="")
						span Послушать
					a.more(href="") подробнее
			.case-item
				img.client-logo(src="img/clients/c3.png", alt="")
				.appear-content
					.audio-block
						audio#audio(src="sounds/sound1.mp3")
						.line
							a(href="#").controls.play
								img(src="img/play.svg", alt="")
						span Послушать
					a.more(href="") подробнее
			.case-item
				img.client-logo(src="img/clients/c4.png", alt="")
				.appear-content
					.audio-block
						audio#audio(src="sounds/sound1.mp3")
						.line
							a(href="#").controls.play
								img(src="img/play.svg", alt="")
						span Послушать
					a.more(href="") подробнее
			.case-item
				img.client-logo(src="img/clients/c5.png", alt="")
				.appear-content
					.audio-block
						audio#audio(src="sounds/sound1.mp3")
						.line
							a(href="#").controls.play
								img(src="img/play.svg", alt="")
						span Послушать
					a.more(href="") подробнее
			.case-item
				img.client-logo(src="img/clients/c6.png", alt="")
				.appear-content
					.audio-block
						audio#audio(src="sounds/sound1.mp3")
						.line
							a(href="#").controls.play
								img(src="img/play.svg", alt="")
						span Послушать
					a.more(href="") подробнее
			.case-item
				img.client-logo(src="img/clients/c1.png", alt="")
				.appear-content
					.audio-block
						audio#audio(src="sounds/sound1.mp3")
						.line
							a(href="#").controls.play
								img(src="img/play.svg", alt="")
						span Послушать
					a.more(href="") подробнее
			.case-item
				img.client-logo(src="img/clients/c2.png", alt="")
				.appear-content
					.audio-block
						audio#audio(src="sounds/sound1.mp3")
						.line
							a(href="#").controls.play
								img(src="img/play.svg", alt="")
						span Послушать
					a.more(href="") подробнее
			.case-item
				img.client-logo(src="img/clients/c3.png", alt="")
				.appear-content
					.audio-block
						audio#audio(src="sounds/sound1.mp3")
						.line
							a(href="#").controls.play
								img(src="img/play.svg", alt="")
						span Послушать
					a.more(href="") подробнее
			.case-item
				img.client-logo(src="img/clients/c2.png", alt="")
				.appear-content
					.audio-block
						audio#audio(src="sounds/sound1.mp3")
						.line
							a(href="#").controls.play
								img(src="img/play.svg", alt="")
						span Послушать
					a.more(href="") подробнее
			.case-item
				img.client-logo(src="img/clients/c3.png", alt="")
				.appear-content
					.audio-block
						audio#audio(src="sounds/sound1.mp3")
						.line
							a(href="#").controls.play
								img(src="img/play.svg", alt="")
						span Послушать
					a.more(href="") подробнее
			.case-item
				img.client-logo(src="img/clients/c4.png", alt="")
				.appear-content
					.audio-block
						audio#audio(src="sounds/sound1.mp3")
						.line
							a(href="#").controls.play
								img(src="img/play.svg", alt="")
						span Послушать
					a.more(href="") подробнее