.content-container
	.page-control-line
		a(href="#!about/rewards" ng-click="back()").page-link.back
			svg(viewBox="0 0 76 76", class="svgico arrow-icon")
				use(xlink:href="#left-arrow")
			span Сертификаты и лицензии
		.line-center
			.title-block
				span.top-tag О компании
				h1.name-span ИСТОРИЯ
		a(href="#!about/index" ng-click="next()").page-link.fowrard
			span кто мы 
			svg(viewBox="0 0 76 76", class="svgico arrow-icon")
				use(xlink:href="#right-arrow")
	ul#history-custom-dots.owl-dots.mobile-scroll.mobile-scroll-container
		li.owl-dot.mobile-scroll-elem
			a(href="", data-id="1995") 1995
			.line
		li.owl-dot.mobile-scroll-elem
			a(href="", data-id="1997") 1997
			.line
		li.owl-dot.mobile-scroll-elem
			a(href="" data-id="1999") 1999
			.line
		li.owl-dot.mobile-scroll-elem
			a(href="" data-id="2001") 2001
			.line
		li.owl-dot.mobile-scroll-elem
			a(href="" data-id="2003") 2003
			.line
		li.owl-dot.mobile-scroll-elem
			a(href="" data-id="2005") 2005
			.line
		li.owl-dot.mobile-scroll-elem
			a(href="" data-id="2007") 2007
			.line
		li.owl-dot.mobile-scroll-elem
			a(href="" data-id="2009") 2009
			.line
		li.owl-dot.mobile-scroll-elem
			a(href="" data-id="2011") 2011
			.line
		li.owl-dot.mobile-scroll-elem
			a(href="", data-id="2013") 2013
			.line
	.owl-carousel.history-owl
		.item
			.wave-container
				.year 1995
				.wave-block
					.inner
						.audio-block#audio1995
						.play-button
							img(src="img/history_play.svg", alt="")

			.text-container
				p Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи. В далеком 1995 году мы были первыми и единственными, кто мог предложить такое решение. Жизнь не стоит на месте, новые требования клиентов заставляют нас постоянно модернизировать и улучшать работу системы. Причем обновление касается и ранее установленных систем. Мы выполняем полный технологический цикл работ: от разработки аппаратной части и программного обеспечения до гарантийного и сервисного обслуживания. Наша компания успешно работает по всей территории России и активно развивается. 
		.item 
			.wave-container
				.year 1997
				.wave-block
					.inner
						.audio-block#audio1997
						.play-button
							img(src="img/history_play.svg", alt="")

			.text-container
				p Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи. В далеком 1995 году мы были первыми и единственными, кто мог предложить такое решение. Жизнь не стоит на месте, новые требования клиентов заставляют нас постоянно модернизировать и улучшать работу системы. Причем обновление касается и ранее установленных систем. Мы выполняем полный технологический цикл работ: от разработки аппаратной части и программного обеспечения до гарантийного и сервисного обслуживания. Наша компания успешно работает по всей территории России и активно развивается. 
		.item
			.wave-container
				.year 1999
				.wave-block
					.inner
						.audio-block#audio1999
						.play-button
							img(src="img/history_play.svg", alt="")

			.text-container
				p Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи. В далеком 1995 году мы были первыми и единственными, кто мог предложить такое решение. Жизнь не стоит на месте, новые требования клиентов заставляют нас постоянно модернизировать и улучшать работу системы. Причем обновление касается и ранее установленных систем. Мы выполняем полный технологический цикл работ: от разработки аппаратной части и программного обеспечения до гарантийного и сервисного обслуживания. Наша компания успешно работает по всей территории России и активно развивается. 
		.item
			.wave-container
				.year 2001
				.wave-block
					.inner
						.audio-block#audio2001
						.play-button
							img(src="img/history_play.svg", alt="")

			.text-container
				p Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи. В далеком 1995 году мы были первыми и единственными, кто мог предложить такое решение. Жизнь не стоит на месте, новые требования клиентов заставляют нас постоянно модернизировать и улучшать работу системы. Причем обновление касается и ранее установленных систем. Мы выполняем полный технологический цикл работ: от разработки аппаратной части и программного обеспечения до гарантийного и сервисного обслуживания. Наша компания успешно работает по всей территории России и активно развивается. 
		.item
			.wave-container
				.year 2003
				.wave-block
					.inner
						.audio-block#audio2003
						.play-button
							img(src="img/history_play.svg", alt="")

			.text-container
				p Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи. В далеком 1995 году мы были первыми и единственными, кто мог предложить такое решение. Жизнь не стоит на месте, новые требования клиентов заставляют нас постоянно модернизировать и улучшать работу системы. Причем обновление касается и ранее установленных систем. Мы выполняем полный технологический цикл работ: от разработки аппаратной части и программного обеспечения до гарантийного и сервисного обслуживания. Наша компания успешно работает по всей территории России и активно развивается. 
		.item
			.wave-container
				.year 2005
				.wave-block
					.inner
						.audio-block#audio2005
						.play-button
							img(src="img/history_play.svg", alt="")

			.text-container
				p Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи. В далеком 1995 году мы были первыми и единственными, кто мог предложить такое решение. Жизнь не стоит на месте, новые требования клиентов заставляют нас постоянно модернизировать и улучшать работу системы. Причем обновление касается и ранее установленных систем. Мы выполняем полный технологический цикл работ: от разработки аппаратной части и программного обеспечения до гарантийного и сервисного обслуживания. Наша компания успешно работает по всей территории России и активно развивается.
		.item
			.wave-container
				.year 2007
				.wave-block
					.inner
						.audio-block#audio2007
						.play-button
							img(src="img/history_play.svg", alt="")

			.text-container
				p Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи. В далеком 1995 году мы были первыми и единственными, кто мог предложить такое решение. Жизнь не стоит на месте, новые требования клиентов заставляют нас постоянно модернизировать и улучшать работу системы. Причем обновление касается и ранее установленных систем. Мы выполняем полный технологический цикл работ: от разработки аппаратной части и программного обеспечения до гарантийного и сервисного обслуживания. Наша компания успешно работает по всей территории России и активно развивается.
		.item
			.wave-container
				.year 2009
				.wave-block
					.inner
						.audio-block#audio2009
						.play-button
							img(src="img/history_play.svg", alt="")

			.text-container
				p Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи. В далеком 1995 году мы были первыми и единственными, кто мог предложить такое решение. Жизнь не стоит на месте, новые требования клиентов заставляют нас постоянно модернизировать и улучшать работу системы. Причем обновление касается и ранее установленных систем. Мы выполняем полный технологический цикл работ: от разработки аппаратной части и программного обеспечения до гарантийного и сервисного обслуживания. Наша компания успешно работает по всей территории России и активно развивается.
		.item
			.wave-container
				.year 2011
				.wave-block
					.inner
						.audio-block#audio2011
						.play-button
							img(src="img/history_play.svg", alt="")

			.text-container
				p Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи. В далеком 1995 году мы были первыми и единственными, кто мог предложить такое решение. Жизнь не стоит на месте, новые требования клиентов заставляют нас постоянно модернизировать и улучшать работу системы. Причем обновление касается и ранее установленных систем. Мы выполняем полный технологический цикл работ: от разработки аппаратной части и программного обеспечения до гарантийного и сервисного обслуживания. Наша компания успешно работает по всей территории России и активно развивается.
		.item
			.wave-container
				.year 2013
				.wave-block
					.inner
						.audio-block#audio2013
						.play-button
							img(src="img/history_play.svg", alt="")

			.text-container
				p Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи. В далеком 1995 году мы были первыми и единственными, кто мог предложить такое решение. Жизнь не стоит на месте, новые требования клиентов заставляют нас постоянно модернизировать и улучшать работу системы. Причем обновление касается и ранее установленных систем. Мы выполняем полный технологический цикл работ: от разработки аппаратной части и программного обеспечения до гарантийного и сервисного обслуживания. Наша компания успешно работает по всей территории России и активно развивается.