.content-container
	.page-control-line
		a(href="/" ng-click="back()").page-link.back
			svg(viewBox="0 0 76 76", class="svgico arrow-icon")
				use(xlink:href="#left-arrow")
			span Главная страница
		.line-center
			.title-block
				span.top-tag О компании
				h1.name-span кто мы
		a(href="#!about/clients" ng-click="next()").page-link.fowrard
			span НАШИ КЛИЕНТЫ
			svg(viewBox="0 0 76 76", class="svgico arrow-icon")
				use(xlink:href="#right-arrow")
	.page-content
		.text-container
			img(src="img/text_img.jpg", alt="")
			p Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи. В далеком 1995 году мы были первыми и единственными, кто мог предложить такое решение. Жизнь не стоит на месте, новые требования клиентов заставляют нас постоянно модернизировать и улучшать работу системы. Причем обновление касается и ранее установленных систем. Мы выполняем полный технологический цикл работ: от разработки аппаратной части и программного обеспечения до гарантийного и сервисного обслуживания. Наша компания успешно работает по всей территории России и активно развивается.
		.spy-content
			.wave-fixed
			.wave-tabs.anchors
				.wave-tabs-head.mobile-scroll
					ul.mobile-scroll-container
						li.active.mobile-scroll-elem
							a(href="#geography" target="_self") География
						li.mobile-scroll-elem
							a(href="#missions" target="_self") Миссия
						li.mobile-scroll-elem
							a(href="#way" target="_self") Подход
						li.mobile-scroll-elem
							a(href="#principles" target="_self") Принципы
					.wave-line
						img(src="img/tab_wave_red.svg", alt="")
			.text-container
				#geography
					h2 География
					.full
						#geo_map
					p Российская компания "MД Информационные Системы" активно работает на рынке компьютерной телефонии с 1995 года и по праву считается лидером в области разработки современного оборудования и программных продуктов для регистрации, записи, обработки  данных,  передаваемых по линиям связи.
				#missions
					h2 Миссия
					p #[b Мы создаем и обеспечиваем наших клиентов современными техническими средствами и бизнес-решениями для реализации их потребностей в следующих областях:]
					ul
						li контроль обеспечения безопасности;
						li обеспечение внутрифирменного контроля;
						li управление коммерческими и технологическими рисками;
						li повышение отдачи от контактов с рынком;
						li повышение эффективности труда персонала.
					p Основой для реализации миссии компании являются две составляющие: современные программно-технические средства и понимание специфики решаемых задач в сферах работы предприятий клиентов.
					.full.mission
						.page-content
							.item
								span 100
								p выполненных проектов
							.item
								span 120
								p выполненных проектов
							.item
								span 300
								p выполненных проектов
				#way
					h2 Подход
					p 21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка.
					.way-special
						.square-white-block
							span Индивидуальный подход
							.line
							p Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения.
							//- .fade-block
						.square-white-block
							span Разработка оборудования
							.line
							p Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. 
						.square-white-block
							span Эффект присутствия
							.line
							p Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения.
						.square-white-block
							span Разработка программного обеспечения
							.line
							p Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения.
				#principles
					h2 Принципы
					p #[b Мы не боимся сравнения с конкурентами. Сейчас мы обладаем:]
					ul
						li Лучшим аппаратным комплексом для записи речевой информации;
						li Самым большим списком поддерживаемых АТС;
						li Нацеленностью на решение задач, стоящих перед нашими клиентами;
						li Всеми необходимыми лицензиями на оборудование и на право его установки: сертифицировано;
						li Министерством по связи и информации, Госстандартом, Системой сертификации в электроэнергетике Энсертико, Межгосударственным Авиационным Комитетом (МАК), одобрено ВНИИАС, международный сертификат качества ГОСТ ISO 9001- 2011;
						li Списком клиентов, которым можно гордиться, и который доказывает надёжность и универсальность нашего продукта.
					p #[b Наша компания не придерживается принципа «продал и забыл». При установке и использовании нашей системы мы гарантируем:]
					ul
						li Решение всех технических вопросов как в процессе внедрения, так и при последующей эксплуатации системы;
						li Клиентоориентированный подход в работе;
						li Обучение сотрудников клиентов работе с нашим продуктом;
						li Консультации в использовании нашего продукта.








			
