
<div class="content-container">
  <div class="page-control-line"><a href="/" ng-click="back()" class="page-link back">
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#left-arrow"></use>
      </svg><span>Главная страница</span></a>
    <div class="line-center">
      <div class="title-block">
        <h1 class="name-span">Продукты</h1>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="text-container">
      <div class="text-with-hidden-part">
        <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. </p>
        <div class="hidden-part">
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. </p>
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. </p>
        </div><a href="" target="_self" class="hidden-toggle"><span>Читать дальше</span>
          <svg viewBox="0 0 76 76" class="svgico arrow-small-icon">
            <use xlink:href="#arrow-bottom"></use>
          </svg></a>
      </div>
    </div>
  </div>
  <div style="background-image: url(img/pr1.jpg)" class="product-row text-with-hidden-part">
    <div class="overlay"></div>
    <div class="text-container"><a href="" class="product-head hidden-toggle">
        <h3>Запись телефонных переговоров</h3>
        <svg viewBox="0 0 76 76" class="svgico arrow-small-icon">
          <use xlink:href="#arrow-bottom"></use>
        </svg></a>
      <div class="hidden-part product-content">
        <p>Продуктовая линейка Фантом представляет полный цикл решений для АТС всех производителей, охватывающих запись всех видов телефонии – от аналоговых линий до IP-телефонии. МДИС предлагает законченное решение, включающее все функции – от первичной регистрации до безопасной передачи, обработки и защищённого хранения.воляет развивать нашу продукцию и решения в соответствии с тенденциями рынка.</p>
        <div class="products-link"><a href="#!products/product" ng-click="next()" class="item">
            <div class="line"></div><span>Phantom PRO</span>
            <p>Промышленные профессиональные системы, способные регистрировать до 132 кналов.</p></a><a href="#!products/product" ng-click="next()" class="item">
            <div class="line"></div><span>Phantom PC</span>
            <p>Стандартная профессиональная система записи на базе персонального компьютера.</p></a><a href="#!products/product" ng-click="next()" class="item">
            <div class="line"></div><span>Phantom ECO</span>
            <p>Экономическое решение интерфейсные платы</p></a></div>
      </div>
    </div>
  </div>
  <div style="background-image: url(img/pr2.jpg)" class="product-row text-with-hidden-part">
    <div class="overlay"></div>
    <div class="text-container"><a href="" class="product-head hidden-toggle">
        <h3>Записи диспетчерских переговоров</h3>
        <svg viewBox="0 0 76 76" class="svgico arrow-small-icon">
          <use xlink:href="#arrow-bottom"></use>
        </svg></a>
      <div class="hidden-part product-content">
        <p>Специальные отраслевые решения Фантом для диспетчерских служб в техногенныхобластях (промышленность, энергетика, авиация) и связанных с ними службах (МЧС), где требуются особо надежные системы для непрерывной автоматической регистрации переговоров диспетчеров, включая территориально-распределенные и удаленные друг от друга диспетчерских пунктов.</p>
        <div class="products-link"><a href="#!products/product" ng-click="next()" class="item">
            <div class="line"></div><span>Phantom Ultra</span>
            <p>Многоканальное компактное и целостное решение для записи телефонных разговоров.</p></a><a href="#!products/product" ng-click="next()" class="item">
            <div class="line"></div><span>Станция записи</span>
            <p>Станция записи предназначена для документирования оперативных переговоров на атомных электростанциях</p></a><a href="#!products/product" ng-click="next()" class="item">
            <div class="line"></div><span>Авиатон</span>
            <p>Система регистрации диспетчерских переговоров</p></a></div>
      </div>
    </div>
  </div>
  <div style="background-image: url(img/pr3.jpg)" class="product-row text-with-hidden-part">
    <div class="overlay"></div>
    <div class="text-container"><a href="" class="product-head hidden-toggle">
        <h3>Запись ip-телефонии</h3>
        <svg viewBox="0 0 76 76" class="svgico arrow-small-icon">
          <use xlink:href="#arrow-bottom"></use>
        </svg></a>
      <div class="hidden-part product-content">
        <p>Линейка Фантом содержит решение для регистрации переговоров в сетях IP-телефонии. Программный комплекс «Фантом» обеспечивает запись переговоров, производимых по IP-соединениям, контроль IP-каналов, передачу информации в базу данных и архивное хранилище.</p>
        <div class="products-link"><a href="#!products/product" ng-click="next()" class="item">
            <div class="line"></div><span>Подробнее</span></a></div>
      </div>
    </div>
  </div>
  <div style="background-image: url(img/pr4.jpg)" class="product-row text-with-hidden-part">
    <div class="overlay"></div>
    <div class="text-container"><a href="" class="product-head hidden-toggle">
        <h3>Селективная запись</h3>
        <svg viewBox="0 0 76 76" class="svgico arrow-small-icon">
          <use xlink:href="#arrow-bottom"></use>
        </svg></a>
      <div class="hidden-part product-content">
        <p>Новейшее поколение системы записи Фантом, в дополнение к традиционным системам, включает в себя систему активной записи Phantom-Active. Система использует протокол CSTA для подключения к АТС и предлагает расширенный объём функциональности по сравнению с традиционными системами записи.</p>
        <div class="products-link"><a href="#!products/product" ng-click="next()" class="item">
            <div class="line"></div><span>Phantom Active</span>
            <p>Phantom Active не требует применения плат-адаптеров и подключается к АТС напрямую через программный интерфейс.</p></a></div>
      </div>
    </div>
  </div>
  <div style="background-image: url(img/pr5.jpg)" class="product-row text-with-hidden-part">
    <div class="overlay"></div>
    <div class="text-container"><a href="" class="product-head hidden-toggle">
        <h3>Запись Skype for Business</h3>
        <svg viewBox="0 0 76 76" class="svgico arrow-small-icon">
          <use xlink:href="#arrow-bottom"></use>
        </svg></a>
      <div class="hidden-part product-content">
        <p>Решение Фантом для платформы коммуникаций Skype for Business компании Microsoft. Данное решение обеспечивает аудио-регистрацию звонков и конференций, запись текстовых сообщений и регистрацию файлов, передаваемых в сеансах связи SfB.</p>
        <div class="products-link"><a href="#!products/product" ng-click="next()" class="item">
            <div class="line"></div><span>Подробнее</span></a></div>
      </div>
    </div>
  </div>
</div>