
<div class="content-container">
  <div class="page-control-line"><a href="/" ng-click="back()" class="page-link back">
      <svg viewBox="0 0 76 76" class="svgico arrow-icon">
        <use xlink:href="#left-arrow"></use>
      </svg><span>Главная страница</span></a>
    <div class="line-center">
      <div class="title-block">
        <h1 class="name-span">Решения</h1>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="text-container">
      <div class="text-with-hidden-part">
        <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. </p>
        <div class="hidden-part">
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. </p>
          <p>21 год сотрудничества с предприятиями различных отраслей и сфер деятельности позволили изучить специфику работы и получить бесценный опыт организации работ на основе продукции компании. Детальное изучение стоящих перед заказчиком задач позволяет грамотно сформулировать технико-экономическое задание, что, в свою очередь, является основой для успешного внедрения. Такой подход максимально приближает нас к реальным потребностям клиентов, что позволяет развивать нашу продукцию и решения в соответствии с тенденциями рынка. </p>
        </div><a href="" target="_self" class="hidden-toggle"><span>Читать дальше</span>
          <svg viewBox="0 0 76 76" class="svgico arrow-small-icon">
            <use xlink:href="#arrow-bottom"></use>
          </svg></a>
      </div>
      <div class="solutions-block">
        <div class="row"><a href="#!solutions/solution" ng-click="next()" class="line-item">
            <div class="tag">решение</div><span class="line-visible"></span><span class="line-invisible"></span>
            <div class="name">Атомная энергетика</div>
            <svg viewBox="0 0 76 76" class="svgico solution-icon">
              <use xlink:href="#atom_icon"></use>
            </svg>
            <div class="more">подробнее</div></a><a href="#!solutions/solution" ng-click="next()" class="line-item">
            <div class="tag">решение</div><span class="line-visible"></span><span class="line-invisible"></span>
            <div class="name">Коммерческие<br>предприятия</div>
            <svg viewBox="0 0 76 76" class="svgico solution-icon">
              <use xlink:href="#commercical"></use>
            </svg>
            <div class="more">подробнее</div></a><a href="#!solutions/solution" ng-click="next()" class="line-item">
            <div class="tag">решение</div><span class="line-visible"></span><span class="line-invisible"></span>
            <div class="name">Промышленные<br>предприятия</div>
            <svg viewBox="0 0 76 76" class="svgico solution-icon">
              <use xlink:href="#prom"></use>
            </svg>
            <div class="more">подробнее</div></a><a href="#!solutions/solution" ng-click="next()" class="line-item">
            <div class="tag">решение</div><span class="line-visible"></span><span class="line-invisible"></span>
            <div class="name">Автосалоны</div>
            <svg viewBox="0 0 76 76" class="svgico solution-icon">
              <use xlink:href="#auto"></use>
            </svg>
            <div class="more">подробнее</div></a></div>
        <div class="row"><a href="#!solutions/solution" ng-click="next()" class="line-item">
            <div class="tag">решение</div><span class="line-visible"></span><span class="line-invisible"></span>
            <div class="name">Госструктуры</div>
            <svg viewBox="0 0 76 76" class="svgico solution-icon">
              <use xlink:href="#gos"></use>
            </svg>
            <div class="more">подробнее</div></a><a href="#!solutions/solution" ng-click="next()" class="line-item">
            <div class="tag">решение</div><span class="line-visible"></span><span class="line-invisible"></span>
            <div class="name">Финансовые<br>организации</div>
            <svg viewBox="0 0 76 76" class="svgico solution-icon">
              <use xlink:href="#financical"></use>
            </svg>
            <div class="more">подробнее</div></a><a href="#!solutions/solution" ng-click="next()" class="line-item">
            <div class="tag">решение</div><span class="line-visible"></span><span class="line-invisible"></span>
            <div class="name">Электроэнергетика</div>
            <svg viewBox="0 0 76 76" class="svgico solution-icon">
              <use xlink:href="#electro"></use>
            </svg>
            <div class="more">подробнее</div></a><a href="#!solutions/solution" ng-click="next()" class="line-item">
            <div class="tag">решение</div><span class="line-visible"></span><span class="line-invisible"></span>
            <div class="name">Авиация и транспорт</div>
            <svg viewBox="0 0 76 76" class="svgico solution-icon">
              <use xlink:href="#transprot"></use>
            </svg>
            <div class="more">подробнее </div></a></div>
      </div>
    </div>
  </div>
</div>